@charset "utf-8";
/* CSS Document */
/* **************** MISE A NIVEAU ***************** */
html {margin:0;padding:0;width: 100%;height: 100%;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, td, blockquote {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
input {border:0;}
fieldset, img {border:0;}
img {margin:0;padding:0;}
ol, ul, dl, li{list-style:none;}
h1, h2, h3, h4, h5, h6, h7 {font-size:100%;font-weight:normal;}
/* **************** STYLES GENERAUX (balises) ***************** */
a , button{outline:none;text-decoration:none; line-height: 1; cursor: pointer;}
.strong {font-weight:bold;}
.em {font-style:italic;}
.display_block {display: block ;}
.display_none {display:none;}
.nowrap {white-space:nowrap;}
.display_inline {display:inline ;}
.display_inline_block {display:inline-block ;}
.txt_justify {text-align: justify ;}
.underline {text-decoration:underline;}
a.underline:hover {text-decoration:none;}
a.tounderline_hover:hover {text-decoration: underline;}
a:hover {text-decoration: none;}
/* **************** CLASSES DE MISES EN PAGE ***************** */
/* ---- alignement ---- */
.txt-center {text-align:center ;}
.txt-top {vertical-align:top ;}
.txt-center_vertical {vertical-align:middle ;}
.txt-bottom_vertical {vertical-align:bottom ;}
.float-none {float:none ;}
.block_center {margin-left:auto ;margin-right:auto ;}
.clear {clear:both;height:0; font-size:0; line-height: 0; overflow:hidden}
.clear_both {clear:both;}
.overflow_hidden { overflow:hidden;}
a:focus{outline: none;}

.height100_pourcent{ height:100%;}
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body { -webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased; background:#FFF;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
input{outline:none;}
.float_right {float:right;}.float_left {float:left;}.align_right {text-align:right;}.align_left {text-align:left;}.align_center {text-align:center;}.wrapper { margin:auto; }
img { display:block;} .ie7 .zoom { zoom:1;} img, object, embed, video {}.ie6 img {width:100%;}
.link {color: #1688ca; text-decoration:none;} .link:hover { text-decoration:none;}



div:after {content: "";display: block;height: 0;clear: both;}
div,ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, td, blockquote{box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
a:focus{background: none}

.form-control:focus, .btn:active, .btn.active{box-shadow: none}
a:focus, a:active, a.active{text-decoration: none;}
/**.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d90937;
    border-color: #d90937;
}
.checkbox-danger input[type="checkbox"]:checked + label::after{
    color: #fff;
}


input[type="checkbox"].styled:checked + label:after {
    font: normal normal normal 15px/0.8 'Material-Design-Iconic-Font';
    font-weight: 700;
    content: "\f26b";


}
input[type="checkbox"] .styled:checked + label::before {
    color: #fff;
}
input[type="checkbox"] .styled:checked + label::after {
    color: #fff;
}
**/
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{outline: none}



a{

    transition: all 0.5s ease;


}
div{line-height: 1;}
.nav > li > a:hover, .nav > li > a:focus{background-color: transparent}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{outline: none; outline-offset: inherit}
.navbar-header{float: none !important;}
.navbar{margin-bottom: 0 !important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background: none;}

.we-mega-menu-ul>.we-mega-menu-li.active>a, .we-mega-menu-ul>.we-mega-menu-li.active>a:hover, 
.we-mega-menu-ul>.we-mega-menu-li.active>a:focus, .we-mega-menu-ul>.we-mega-menu-li.active-trail>a,
 .we-mega-menu-ul>.we-mega-menu-li.active-trail>a:hover, .we-mega-menu-ul>.we-mega-menu-li.active-trail>a:focus{background: none;}
 .btn{padding: 0; line-height: 1; display: block; text-align: left ;}
 .we-mega-menu-submenu li.we-mega-menu-li.active>a, .we-mega-menu-submenu li.we-mega-menu-li.active>a:hover,
  .we-mega-menu-submenu li.we-mega-menu-li.active>a:focus,
  .we-mega-menu-submenu li.we-mega-menu-li.active>.we-megamenu-nolink{    border-bottom-color: #f5f5f5;}

label.error{
    color: red;
    font-size: 12px;
}
.views-view-grid{height: auto !important;}

/********************custom block**************/
.field--type-entity-reference {
    margin: 0;
}
.bloc-mobile{
    flex-grow: 0;
    background-color: #0a5f60;
    padding-top: 80px;
    position: relative;
}
.bloc-mobile .title,
.bloc-mobile p{
    flex-grow: 0;
    font-family: ALSHauss;
    font-size: 29px;
    line-height: 1.31;
    text-align: left;
    color: #feedd0;
}
.bloc-mobile .title{
    font-weight: bold;
}
.bloc-mobile .left-side{
    margin-top: 54.4px;
}
.bloc-mobile .left-side a:first-child{
    margin-right: 17px;
}
.bloc-mobile:after{
    content: "";
    background-image: url(../images/diagonal.svg);
    background-size: cover;
    top: 0;
    height: 100%;
    width: 42%;
    position: absolute;
    right: 0;
    z-index: 0;
}
.bloc-mobile .image{
    z-index: 1;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.no-margin{
    margin: 0;
}

.pris-rdv .left-side .title,
.pris-rdv .left-side span{
    font-family: ALSHauss;
    font-size: 43px;
    font-weight: bold;
    width: 62%;
    line-height: 1.26;
    text-align: left;
    color: #1ec462;
}
.pris-rdv .left-side .title{
    color: #0a5f60;
}
.pris-rdv{
    position: relative;
    padding: 60px 0 81px;
}
.pris-rdv::before{
    content: "";
    background-color: #def8e5;
    background-size: cover;
    top: 0;
    height: 100%;
    width: 58%;
    position: absolute;
    left: 0;
    z-index: 0;
}
.pris-rdv::after{
    content: "";
    background: #1ec462 url(../images/right-side.png) bottom left no-repeat;
    top: 0;
    height: 100%;
    width: 42%;
    position: absolute;
    right: 0;
    z-index: -1;
}
.pris-rdv .right-side{
    align-items: baseline;
}
.pris-rdv .left-side{
    align-items: baseline;
}

.pris-rdv .right-side .title,
.pris-rdv .right-side span{
    flex-grow: 0;
    font-family: ALSHauss;
    font-size: 29px;
    line-height: 1.31;
    text-align: left;
    color: #fff;
}
.pris-rdv .right-side .title{
    font-weight: bold;
}
.pris-rdv a{
    flex-grow: 0;
    font-family: ALSHauss;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.42;
    text-align: center;
    color: #1ec462;
}
.pris-rdv .btn-orange{
    margin-top: 180px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #fff;
    padding: 19px;
    border-radius: 46px;
    background-color: #f4786a;
}
.pris-rdv .btn-white{
    margin-top: 116px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 19px;
    border-radius: 46px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}