#audio-image {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 15px;
  }
  
  #audio-image .cover { width: 100%; }
  
  #audio-info { text-align: center; }
  
  #audio-info .artist { font-weight: bold; }
  
  input#volume {
    width: 95%;
    margin-left: 2%;
    -webkit-appearance: none !important;
    background: #ccc;
    height: 1px;
    margin-bottom: 20px;
  }
  input#volume::-webkit-slider-thumb {
   -webkit-appearance:none !important;
   background:url(../images/knob.png) no-repeat;
   height:12px;
   width:12px;
  }
  
  #buttons {
    width: 90%;
    display: block;
    margin: 15px auto;
    margin-left: 23px;
    overflow: auto;
  }
  
  button#play {
    width: 70px;
    height: 70px;
    background: url(../images/play.png) no-repeat;
    float: left;
    margin-left: -2px;
  }
  
  button#pause {
    width: 70px;
    height: 70px;
    background: url(../images/pause.png) no-repeat;
    float: left;
    margin-left: -2px;
  }
  
  button#stop {
    width: 70px;
    height: 70px;
    background: url(../images/stop.png) no-repeat;
    float: left;
    margin-left: 3px;
  }
  
  button#prev {
    width: 70px;
    height: 70px;
    background: url(../images/prev.png) no-repeat;
    float: left;
    margin-top: 15px;
  }
  
  button#next {
    width: 70px;
    height: 70px;
    background: url(../images/next.png) no-repeat;
    float: right;
    margin-top: 15px;
  }
  
  #tracker {
    position: relative;
    width: 100%;
  }
  
  #progress-bar {
    width: 80%;
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: 9px;
    height: 10px;
    background: url(../images/progress_bg.png) no-repeat;
    float: left;
  }
  
  #progress {
    background: url(../images/progress.png) no-repeat;
    height: 10px;
    display: inline-block;
  }
  
  #duration {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 4px 8px;
    background: #000;
    border-radius: 5px;
  }
  
  #playlist { list-style: none; }
  
  #playlist li {
    cursor: pointer;
    margin: 5px;
  }
  
  #playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
  }