@media (min-width: 767px) {
  .mobile-btn-menu {
    display: none;
  }
}

@media (min-width: 992px) {
  .we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu.submenu {
    display: none;
  }

  .we-mega-menu-ul .dropdown-menu:hover>.we-mega-menu-submenu.submenu,
  .we-mega-menu-ul .dropdown-menu:focus>.we-mega-menu-submenu.submenu {
    display: block;
  }
}

@media (max-width: 1631px) {
  .roaming .contenue {
    width: 100%;
    padding: 112px 40px;
  }
}

@media only screen and (max-width: 1578px) and (min-width: 1200px) {
  .offres .contenue .title {
    font-size: 32px;
    width: 100%;
  }

  .offres .contenue p {
    width: 100%;
  }
}

@media only screen and (max-width: 1458px) and (min-width: 1200px) {
  .default-filter .bef-exposed-form .form-group{
    flex: auto;
    width: 22%;
  }
  #navbar-top.navbar {
    background-color: #143f6e;
    padding: 20px 12px;
    border-radius: 0;
  }

  .blc-assistance {
    margin-right: 12px;
  }

  .blc-boutique {
    margin-right: 12px;
  }

  .blc-espace {
    margin-right: 12px;
  }

  #header .drop-langue {
    float: right;
    padding: 0 0 0 20px;
  }
}

@media (max-width: 1199px) {
  .view-pg-faq .view-header .title{
    font-size: 32px;
  }
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .wrapper-code-prix .prix .value .val {
    font-size: 16px;
  }
  .view-pg-faq {
    padding: 50px 0 42px 0;
  }

  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit {
    padding: 50px 28px 56px 28px;
  }

  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .wrapper-code-prix .code .value {
    line-height: 3;
  }

  .bg-forfait .view-pg-forfait-produit {
    padding: 32px 0;
  }

  .couverture .contenue .title,
  .roaming .contenue .title,
  .title-view,
  .eligibilite .title {
    font-size: 28px;
  }

  .forfait .title {
    font-size: 24px;
  }

  .offres img {
    object-fit: cover;
    object-position: top;
  }

  .forfait .bouton-green,
  .bloc-pack .bouton-blue-ciel {
    display: block;
    text-align: center;
  }

  .forfait .link-icon,
  .wrapper-pack-service .bloc-pack .link-icon {
    margin-top: 16px;
  }

  .site-footer .footer-menu-logo .content {
    display: block;
  }

  .bg-forfait .view-pg-forfait .wrapper-forfait .box-image .image:after {
    content: none;
  }

  .site-footer .footer-menu-logo .bloc-logo-footer {
    width: 100%;
  }

  .site-footer .footer-menu-logo .menu-footer {
    width: 70%;
  }

  .site-footer .footer-menu-logo .bloc-links-footer {
    width: 30%;
  }

  .site-footer .footer-menu-logo .menu-footer .navbar-nav {
    width: 100%;
    padding-left: 0;
  }

  .menu-footer .navbar-nav>li {
    flex: 1;
  }

  .site-footer .footer-menu-logo .menu-footer .menu-item--expanded>a {
    margin: 0 0 8px 1px;
  }

  .roaming img {
    object-fit: cover;
    object-position: left;
  }

  #navbar-top.navbar {
    flex-direction: column-reverse;
  }

  .logo {
    place-self: flex-start;
    margin-left: 24px;
  }

  .main-menu {
    place-self: flex-end;
    margin-right: 24px;
    position: absolute;
    bottom: 32px;
  }
}

@media (max-width: 991px) {

  .bg-forfait .view-pg-forfait .content-wrapper .title,
  .bg-forfait .view-pg-forfait-produit .content-wrapper .title,
  .title-h1 {
    font-size: 32px;
  }

  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .title a,
  .title-h2, .wrapper-pack-service .bloc-pack .title-blanc, .wrapper-pack-service .service-unique .title {
    font-size: 24px;
  }
  .title-h3 {
    font-size: 20px;
  }
  .title-h4{
    font-size: 16px;
  }
  .wrapper-forfait-max .bloc-pack .bouton-orange {
    text-align: center;
    padding: 6px 8px;
    display: block;
  }
  .wrapper-right .img-produit {
    text-align: center;
  }
  .wrapper-content-node .wrapper-right .img-produit img{
    margin: 0 auto 60px;
  }
  .wrapper-content-node .wrapper-right .img-produit:after {
    left: 39%;
    top: inherit;
    bottom: 6%;
}
  .view-blc-mediatheque .view-header,
  .default-filter .image img{
    width: 100%;
  }
  .bg-forfait .view-pg-forfait-produit .content-wrapper p {
    margin: 10px 0 24px;
    width: 100%;
  }
  .wrapper-pack-service .bloc-pack .desc {
    margin: 16px 10px 24px 0;
  }
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .title {
    min-height: 80px;
  }
  .wrapper-content-node .wrapper-information .prix,
  .wrapper-content-node .wrapper-information .code,
  .wrapper-content-node .wrapper-information .duree{
    padding: 24px;
  }
  .roaming img {
    object-position: center;
  }

  #navbar-top.navbar {
    flex-direction: column-reverse;
  }

  .logo {
    place-self: flex-start;
    margin-left: 24px;
  }

  .main-menu {
    place-self: flex-end;
    margin-right: 24px;
    position: absolute;
    bottom: 32px;
  }

  .menu-secondaire .we-mega-menu-ul>.we-mega-menu-li>a,
  .we-mega-menu-ul>.we-mega-menu-li>span {
    color: #fff;
    display: block;
  }

  .default-filter .bef-exposed-form .form-row {
    margin: 0;
    display: block;
  }

  .view-blc-mediatheque .view-filters,
  .nice-select .list {
    width: 100%;
  }

  .default-filter .view-content>.grid>.row {
    margin: 0;
  }

  .search_blc .mb-3{margin-bottom: 0 !important;}
  .search_blc .js-form-item{margin-right: 15px; width:100% ;}
  .search_blc .form-control{height: 45px;}
  .search_blc button.form-submit{line-height: 0.4;}
  
}

@media (max-width: 767px) {
  .custom-accordeon {
    padding: 0;
  }
  .wrapper-content-node .wrapper-right .img-produit img{
    margin: 0 auto 20px;
  }
  .bg-offres .view-pg-forfait .content-wrapper .title,
  .view-blc-mediatheque .field--name-bp-header,
  .formulaires .title {
    font-size: 32px;
  }
  .view-pg-faq .view-header .title,
  .title-details, .title-view, 
  .wrapper-content-node .wrapper-information .prix .field__item,
  .wrapper-content-node .wrapper-information .code .field__item,
  .wrapper-content-node .wrapper-information .duree .field__item{
    font-size: 24px;
  }
  .view-pg-faq .view-content .card .card-body .reponse{
    font-size: 16px;
  }
  .wrapper-forfait-max .bloc-pack .bouton-orange{
    font-size: 14px;
    margin-top: 20px;
  }
  .wrapper-content-node .wrapper-right{
    padding-top: 40px;
  }
  .view-blc-mediatheque .view-filters .form-radios .radio label {
    padding: 12px 14px;
    font-size: 14px;
  }
  .bon-savoir ul li {
    padding: 24px;
  }
  .wrapper-pack-service .bloc-pack .title-blanc {
    margin: 8px 0;
  }
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .produit,
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .title,
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .duree,
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .text {
    text-align: center;
  }
  .view-pg-faq .view-content .card h5:before,
  .view-pg-faq .view-content .card .btn-link{
    padding: 24px 0;
  }
  .view-blc-mediatheque .view-filters .form-radios{
    flex-wrap: wrap;
  }
  .view-blc-mediatheque .view-filters .form-radios .js-form-type-radio{
    margin-bottom: 10px;
  }
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit .title,
  .view-bloc-conseil .title, .home-news .content-actualite .container-content .title,
  .home-news .content-actualite .container-content .text {
    min-height: auto;
  }
  .view-bloc-conseil .title{
    margin-bottom: 16px;
  }
  .view-bloc-conseil .date {
    margin: 16px 0;
  }
  .services-mattel {
    padding: 24px 0;
  }
  .bg-forfait .view-pg-forfait-produit {
    padding: 32px 15px;
  }
  .bg-forfait .view-pg-forfait-produit .wrapper-forfait-produit {
    padding: 32px 10px 38px 10px;
}
  .couverture .contenue p {
    width: 100%;
  }

  .site-footer .footer-menu-logo .menu-footer .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
  }

  .site-footer .footer-menu-logo .menu-footer {
    width: 100%;
    float: none;
  }

  .site-footer .footer-menu-logo .bloc-links-footer {
    width: 100%;
    text-align: center;
    float: none;
  }

  .site-footer .footer-menu-logo .link-footer {
    text-align: center;
  }

  .roaming .contenue {
    padding: 32px 0px;
  }

  .site-footer .footer-menu-logo .menu-footer .menu-item--expanded>a {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .main-menu {
    place-self: inherit;
    margin-right: 0;
    position: inherit;
    bottom: 0;
    margin-top: 24px;
  }

  section.container.region.region-primary-menu {
    max-width: 100%;
    margin: 0 auto;
  }

  .view-pg-faq .view-header,
  .view-pg-faq .view-content {
    width: 100%;
  }

  .view-pg-faq {
    padding: 32px 0;
    display: block;
  }

  .blc-espace span.nav-link:before,
  .blc-espace .dropdown-toggle:after {
    top: 0;
  }

  .view-pg-faq .view-content .card .btn-link {
    font-size: 16px;
    white-space: inherit;
  }

  .region-navigation {
    padding: 25px 10px 0;
  }

  .search_blc form {
    top: 0px;
  }

  .d-flex-center {
    display: block;
  }

  .banner-interne img {
    height: 250px;
    object-fit: cover;
    object-position: center;
  }

  .main-menu .menu--main li a {
    color: #fff !important;
  }

  .main-menu .menu--main li .navbar-text {
    color: #fff !important;
    padding: 8px 16px;
  }

  .main-menu .navbar-nav .open .dropdown-menu>.active>a {
    background-color: transparent;
    color: #fbb431 !important;
  }

  .mobile-btn-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
  }

  .navbar-default .navbar-toggle {
    border: none;
    background: none !important;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #0cb3d7;
  }

  .partenaire-row,
  .box-partenaire,
  .col-parenaires {
    display: block;
  }

  .bef-exposed-form .form--inline>.form-item {
    float: none;
  }

  .bef-exposed-form .form-control {
    width: 100%;
  }

  .search_blc .form-control {
    padding-left: 12px;
    padding-right: 52px;
  }

  .menu-footer-nav li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #0cbbe1;
    padding: 6px;
  }

  .copyright {
    text-align: center;
    margin-bottom: 20px;
  }

  .list-social-media {
    text-align: center;
    margin-top: 30px;
  }

  .owl-carousel .owl-item img.image-style-image-slider {
    height: 300px;
    object-fit: cover;
  }

}

@media (max-width: 575px) {
  .link-popup-video {
    margin-bottom: 16px;
  }

  .link-popup-video:before {
    opacity: 1;
  }

}

@media (max-width: 480px) {
  .search_blc div#edit-actions {
    right: 10px;
  }
  .view-blc-mediatheque .view-filters .form-radios .js-form-type-radio {
    width: 100%;
    margin-right: 0;
  }
  #navbar-top.navbar {
    padding: 60px 10px 10px;
  }

  .logo.navbar-btn {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin: 0 auto 16px;
    z-index: 999;
  }

  .logo.navbar-btn img {
    margin: 0 auto;
  }

  .topbar-bouton {
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }

  .main-menu .navbar-nav .nav-link {
    padding: 8px 10px !important;
    font-size: 10px;
  }

  .main-menu {
    float: none;
  }

  .main-menu .navbar-nav {
    justify-content: center;
  }

  .topbar-bouton .content {
    justify-content: center;
  }

  .owl-carousel .owl-item img.image-style-image-slider {
    height: 300px;
    object-fit: cover;
  }

  .container-slider .content-wrapper .link-consult {
    font-size: 12px;
  }

  .bg-forfait .view-pg-forfait {
    padding: 40px 0 62px 0;
  }

  .bg-forfait .view-pg-forfait .content-wrapper .title {
    font-size: 1.5rem;
  }

  .bg-forfait .view-pg-forfait .content-wrapper .subtitle {
    font-size: 14px;
  }

  .bg-forfait .view-pg-forfait .wrapper-forfait .title a {
    font-size: 2rem;
  }

  .bg-forfait .view-pg-forfait .wrapper-forfait .duree {
    font-size: 14px;
  }

  .bg-forfait .view-pg-forfait .wrapper-forfait .title {
    min-height: 80px;
  }

  .bg-forfait .view-pg-forfait .wrapper-forfait .text {
    font-size: 1rem;
    margin-top: 18px;
  }

  .bg-forfait .view-pg-forfait .wrapper-forfait .prix-wrapper .prix {
    font-size: 28px;
  }

  .bg-forfait .view-pg-forfait .wrapper-forfait .code {
    font-size: 1.225rem;
  }

  .bg-forfait .view-pg-forfait .item-forfait {
    margin: 0 12px;
  }

  .bg-forfait .view-pg-forfait .view-footer .d-flex.justify-content-end {
    justify-content: center !important;
  }

  .title-view {
    margin: 0rem 0rem 2.125rem 0rem;
    font-size: 28px;
    text-align: left !important;
  }

  .row-avantage .box-avantage .col-avantage {
    margin: 8px;
    padding: 2rem;
  }

  .row-avantage .box-avantage .col-avantage .title {
    font-size: 1rem;
  }

  /*.pg-avantage .row-avantage,.row-avantage .box-avantage{
    margin-bottom: 0;
  }*/
  .site-footer .footer-menu-logo .menu-footer {
    width: 100%;
  }

  .site-footer .footer-menu-logo .menu-footer .navbar-nav {
    flex-direction: column;
  }
}

/**** ar **/






@media only screen and (max-width: 1458px) and (min-width: 1200px) {

 

  [dir="rtl"] .blc-assistance {
    margin-left: 12px;
    margin-right: inherit;
  }

  [dir="rtl"] .blc-boutique {
    margin-left: 12px;
    margin-right: inherit;
  }

  [dir="rtl"] .blc-espace {
    margin-left: 12px;
    margin-right: inherit;
  }

  [dir="rtl"] #header .drop-langue {
    float: left;
    padding: 0 20px 0 0;
  }
}

@media (max-width: 1199px) {
 





  [dir="rtl"] .main-menu .navbar-nav .nav-link{padding: 8px 15px !important; margin: 0 5px;}
  [dir="rtl"] .site-footer .footer-menu-logo .menu-footer .navbar-nav {

    padding-right: 2rem;
    padding-left:0;
  }



  [dir="rtl"] .site-footer .footer-menu-logo .menu-footer .menu-item--expanded>a {
    margin: 0 1px 8px 0;
  }





  [dir="rtl"]  .logo {
  
    margin-right: 24px;
    margin-left: 0;
    
  }

  [dir="rtl"] .main-menu {
  
    margin-left: 24px;
    margin-right: 0;

  }
}

@media (max-width: 991px) {

  [dir="rtl"]  .wrapper-content-node .wrapper-right .img-produit:after {
    right: 39%;
    left: inherit;
   
}
 
[dir="rtl"] .wrapper-pack-service .bloc-pack .desc {
    margin: 16px 0 24px 10px;
  }

 
  [dir="rtl"] .logo {

    margin-right: 24px;
    margin-left: 0;
  }

  [dir="rtl"] .main-menu {
   
    margin-left: 24px;
    margin-right: 0;
   
  }


}

@media (max-width: 767px) {
 


  [dir="rtl"] .main-menu {

    margin-left: 0;
 
  }


  [dir="rtl"] .mobile-btn-menu {
   
    left: 0;
   
  }

 

  [dir="rtl"] .search_blc .form-control {
    padding-left: 52px;
    padding-right: 12px;
  }




}



@media (max-width: 480px) {
  [dir="rtl"] .search_blc div#edit-actions {
    left: 0;
    right: inherit;
  }
  [dir="rtl"] .view-blc-mediatheque .view-filters .form-radios .js-form-type-radio {
 
    margin-left: 0;

  }
 

  [dir="rtl"] .logo.navbar-btn {
 
    right: 0;
 
  }

 

  

  

  [dir="rtl"] .title-view {
   
    text-align: right !important;
  }

 

 

}