<div class="test-eligibility">
	<div class="container">
		<div class="header-page">
			<h1 class="subtitle_eligibility">{{"Test d'éligibilité"|t}}
			</h1>
			<span class="title_eligibility">{{'Ezyen Net'|t}}</span>

			<p class="txt_eligibility">{{"Sélectionnez votre adresse sur la carte et cliquez sur le bouton tester pour tester votre éligiblité."|t}}</p>
		</div>
		<!-- search input box -->

		<div class="row">
			<div class="col-md-12">

				<div class="section-map">
					<div class="form-group input-group">
						<!--<span>{{'Adresse:'|t}}</span>-->
						<select type="text" class="select2 form-control" placeholder="{{'Search location'|t}}" id="adresses">
							<option value="" selected="">
								{{ 'Liste des addresses'|t }}
							</option>
						</select>
					</div>

					<div class="input-group-btn">
						<button class="bouton-blue" id="check_eligibilite" type="button">
							{{"Tester votre éligibilité"|t}}
							<div class="lds-dual-ring"></div>
						</button>
					</div>
          			<p class="message_eligibility"></p>
				</div>
			</div>
		</div>
	</div>
</div>
