
.box_recharge_offline .message_recharge_offline {
  text-align: center;
}
.box_recharge_offline .message_recharge_offline .success{
  color: green;
  background: #f4f6fc;
  min-height: 100px;
  padding: 48px 0;
  margin: 32px 0;
  border-radius: 32px;
  font-size: 28px;
  font-weight: 600;
  border: solid 1px #dbdce1;
  display: block;
}
.box_recharge_offline .message_recharge_offline .echec{
  color: #ff0000;
  background: #f4f6fc;
  min-height: 100px;
  padding: 48px 0;
  margin: 32px 0;
  border-radius: 32px;
  font-size: 28px;
  font-weight: 600;
  border: solid 1px #dbdce1;
  display: block;
}
