{#
/**
 * @file
 * Default theme implementation for the open readspeaker ui.
 *
 * Available variables:
 * - accountid: Account ID for ReadSpeaker.
 * - open_readspeaker_i18n: Language code.
 * - custom_style: Custom style.
 * - button_text: Text of button.
 * - button_title: Title of button.
 * - request_path: Requested path to listen.
 * - open_readspeaker_reading_area: Reading area.
 * - open_readspeaker_reading_area_class: Reading area classes.
 *
 * @ingroup themeable
 */
#}
{% set queryParameters = {
  'customerid': accountid,
  'lang': open_readspeaker_i18n,
  'readid': open_readspeaker_reading_area,
  'readclass': open_readspeaker_reading_area_class,
  'url': request_path
}|filter(v => v is not empty) %}

<div class="open-readspeaker-ui">
  <div id="readspeaker_button" class="rs_skip rsbtn rs_preserve">
    <a class="rsbtn_play {{ custom_style }}" title="{{ button_title }}" accesskey="L" href="//app-eu.readspeaker.com/cgi-bin/rsent?{{ queryParameters|url_encode }}">
      <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>{{ button_text }}</span></span></span>
      <span class="rsbtn_right rsimg rsplay rspart"></span>
    </a>
  </div>
</div>
