<div id="my_form_wrapper" class="box_recharge_offline">
    <div class="container">
        <div class="formulaires">
            <div class="js-form-item">
                <h2 class="title">{{ 'Recharger mon numéro'|t }}</h2>
            </div>
            {% if data.payement_status %}
            <p class="message_recharge_offline"><span class="success">{{ data.payement_message }}</span></p>
            {% else %}
            <p class="message_recharge_offline"><span class="echec">{{ data.payement_message }}</span></p>
            {% endif %}
        </div>
    </div>
</div>

