<div id="my_form_wrapper">
    <div class="container">
        <div class="formulaires">
            <div class="js-form-item">
                <h2 class="title">{{ 'Réserver mon numéro'|t }}</h2>
            </div>
            <form {{ attributes }}>
                {{ form }}
            </form>
        </div>
    </div>
</div>
