{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}


<div class="image-details">
  {{ content.field_image }}
</div>
<h2 class="title-details">{{ content.title }}</h2>
<!-- Box Audio -->
<div class="box-audio">
  {{ content.field_audio }}
</div>

<div class="content-details">
    {{ body }}
</div>

<!-- Box Video -->
{% if content.field_lien|render %}
<h2 class="title-h2">{{'Vidéothèque'|t}}</h2>
  <div class="col-md-6 box-video">
    <a class="link-popup-video" href="{{ content.field_lien[0]['#url'] }}" >
      {{ field_image }}
    </a>
  </div>
{% endif %}

<!-- Box Gallery photo -->
{% if content.field_listes_images|render %}
<h2 class="title-h2">{{'Photothèque'|t}}</h2>
<div class="gallery-photos">
      {{ content.field_listes_images }}
</div>  
{% endif %}






