

	


.site-footer {
	.footer__full_width {
		background-image: linear-gradient(to right, #143f6e 0%, #0f68b1 100%);
	}



	.newsletter {
	

		

		&:after {
			
			@include background-gradient(#1e2946, rgba(4, 61, 110, .6) 100%, 'horizontal');
			
			left: inherit;
			right:0;
		}

		.row-newsletter {
		

			


			.title-newsletter {
		
				text-align: right;
				

			}

			.main-form {
				input {
				

					

				
				}

				.btn-newsletter {
					

					&:before {
						content: none;
					}

					&:hover,
					&:focus {
						background-color: transparent;
						color: $orange;
					}

					@include media(md) {
				
					}
				}
			}
		}

	}

	.blc-candidature {
	

		.title {
	
			text-align: right;
		

		}

	
	}


	.text-logo-footer {
		
		text-align: right;
	
	}

	.footer-menu-logo {
	

		.content {
			display: flex;
			align-items: flex-end;
			flex-direction: row;

			@include media(sm) {
				align-items: flex-start;
				flex-direction: column;
			}
		}

		.bloc-logo-footer {
			
			float: right;

		
		}

		.menu-footer {
		
			float: right;
		}

		.bloc-links-footer {
		
			float: right;

		
		}

	

		.blc-boutique img {
			margin-left: 8px;
			margin-right: 0;
		}

		.link-footer {
		
			text-align: right;
			
		}

		.menu-footer {
			.navbar-nav {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			.menu-item--expanded {
				>a {
					margin: 0 1px 32px 0;
				
					text-align: right;
					
				}
			}

			.menu {
				.nav-item {
					position: relative;
				

					&::before {
						content: "";
						background: url(../images/right-ar.png) no-repeat;
					
						margin-left: 0;
						
						right: 0;
						left: inherit;
					}

					.nav-link {
						margin: 0 5px 16px 0;
						
						text-align: right;
						
						padding-right: 16px;
						padding-left: 0;
					}
				}
			}
		}
	}


}