.copyright {
	p {
		font-size: 14px;
		margin-bottom: 8px;
	}

	a {
		color: $white;

		&:hover {
			color: $secondaryColor;
		}
	}
}

.menu-footer-nav {
	li {
		display: inline-block;

		a {
			color: $white;
			padding: 7px 9px;

			&:hover {
				color: $secondaryColor;
			}
		}
	}

	.navbar-nav {
		flex-direction: row;

		.nav-item {
			.nav-link {
				margin: 5px;
			}
		}
	}
}

.site-footer {
	.footer__full_width {
		background-image: linear-gradient(to right, #143f6e 0%, #0f68b1 100%);
	}

	background: $white;
	padding: 0;
	font-family: $font;

	.container-fluid {
		padding: 0;
	}

	.block {
		border: none;
		margin: 0;
	}

	.newsletter {
		position: relative;
		padding: 80px 0;
		background-image: url('../images/bgnewsletter.jpg');
		background-position: center;
		background-size: cover;

		@include media(md) {
			padding: rem(20) rem(0);
		}

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			@include background-gradient(#1e2946, rgba(4, 61, 110, .6) 100%, 'horizontal');
			top: 0;
			z-index: 1;
			left: 0;
		}

		.row-newsletter {
			position: relative;
			z-index: 9;
			margin-bottom: rem(0);

			@include media(sm) {
				display: block;
			}

			.form-group {
				margin-bottom: 0;
			}

			.title-newsletter {
				font-size: rem(30);
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.33;
				letter-spacing: normal;
				text-align: left;
				color: $white;

				@include media(sm) {
					font-size: rem(24);
				}
			}

			.text-newsletter {
				margin: 16px 0 0;
				margin: rem(16) rem(0) rem(0);
				font-size: rem(16);
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.75;
				letter-spacing: normal;
				color: #f4f6fc;
				@include media(sm) {
					font-size: rem(14);
				}
			}

			.right-infoletter {
				@include media(sm) {
					margin-bottom: 30px !important;
				}
			}

			.main-form {
				input {
					padding: rem(16);
					border-radius: 8px;
					border: solid 1.5px rgba(255, 255, 255, 0.05);
					background-color: transparent;
					height: rem(55);
					color: #f4f6fc;

					&:focus,
					&:hover {
						box-shadow: 0 0 0 1px rgba(250, 175, 75, .5);
					}

					@include placeholder {
						color: rgba(225, 227, 235, .5);
					}
				}

				.btn-newsletter {
					font-family: $font;
					padding: 15px 51px;
					border-radius: 41px;
					background-color: $orange;
					border: 1px solid $orange;
					color: $titleColor;
					font-weight: 500;
					height: rem(55);
					display: block;
					width: 100%;

					&:before {
						content: none;
					}

					&:hover,
					&:focus {
						background-color: transparent;
						color: $orange;
					}

					@include media(md) {
						padding: 6px 12px;
					}
				}
			}
		}

		.newsletter-social-media {
			margin-top: rem(16);

			.list-social-media {
				margin-bottom: 0;

				li {
					margin: rem(0) rem(7);

					a {
						color: $white;
						border: solid 1px rgba(255, 255, 255, 0.05);
						width: rem(40);
						height: rem(40);
						line-height: rem(40);
						border-radius: rem(50);
						display: inline-block;
						text-align: center;

						@include media(xs) {
							width: rem(30);
						height: rem(30);
						line-height: rem(30);
						}

						&:hover {
							color: $secondaryColor;
							border: solid 1px $secondaryColor;
						}
					}

					display: inline-block;
				}

				@include media(sm) {
					margin-top: 0;
				}
			}

			.titre-suivez {
				font-size: rem(14);
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 2;
				letter-spacing: normal;
				color: #f4f6fc;
			}
		}
	}

	.blc-candidature {
		background: url(../images/Background.png) no-repeat;
		width: 100%;
		background-size: cover;
		padding: 60px 0 46px 0;

		.title {
			font-size: rem(36);
			font-weight: 600;
			line-height: 1.33;
			text-align: left;
			width: 50%;
			color: $white;
			margin-bottom: 32px;

			@include media(md) {
				width: 100%;
			}

			@include media(sm) {
				font-size: rem(30);
			}
		}

		.bouton-blue {
			color: $white;

			&:hover {
				color: $blue;
			}
		}
	}

	.logo-footer {
		margin-bottom: 20px;
	}

	.text-logo-footer {
		opacity: 0.7;
		font-size: 16px;
		line-height: 1.75;
		text-align: left;
		color: #f4f6fc;
	}

	.footer-menu-logo {
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 36px;
		
		@include media(xs) {
			padding: 15px 0;
		}

		.content {
			display: flex;
			align-items: flex-end;
			flex-direction: row;

			@include media(sm) {
				align-items: flex-start;
				flex-direction: column;
			}
		}

		.bloc-logo-footer {
			width: 36%;
			float: left;

			@include media(sm) {
				width: 100%;
			}
		}

		.menu-footer {
			width: 44%;
			float: left;
		}

		.bloc-links-footer {
			width: 20%;
			float: left;

			@include media(sm) {
				width: 100%;
			}
		}

		.blc-boutique {
			.link {
				.nos-boutique {
					font-size: 16px;
					padding: 12px;
					border: solid 2px rgba(244, 246, 252, 0.2);
				}

			}
		}

		.blc-boutique img {
			margin-right: 8px;
		}

		.link-footer {
			margin-top: 26px;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.78;
			text-align: left;
			color: #fff;
		}

		.menu-footer {
			.navbar-nav {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			.menu-item--expanded {
				>a {
					margin: 0 0 32px 1px;
					font-size: rem(16);
					font-weight: 600;
					line-height: 1.75;
					text-align: left;
					color: $white;
				}
			}

			.menu {
				.nav-item {
					position: relative;
					&:last-child a {
						margin-bottom: 0;
					}

					&::before {
						content: "";
						background: url(../images/right.png) no-repeat;
						width: 24px;
						height: 24px;
						line-height: 1;
						vertical-align: top;
						display: inline-block;
						margin-right: 0;
						position: absolute;
						top: -5px;
						left: 0;
					}

					.nav-link {
						margin: 0 0 16px 5px;
						font-size: rem(14);
						padding: 0;
						text-align: left;
						color: $white;
						display: inline-block;
						vertical-align: top;
						padding-left: 16px;
					}
				}
			}
		}
	}

	.footer-copyright {
		border-top: 2px solid rgba(255, 255, 255, 0.05);
		padding: 32px 0;

		.copyright {
			p {
				font-size: rem(14);
				font-weight: 500;
				line-height: 2;
				text-align: center;
				color: #f4f6fc;
			}

			a.link-m {
				color: #f4f6fc;
				font-weight: 600;
			}
		}
	}
}