html[dir="rtl"] {
    direction: rtl;

  }

  
  body {
    font-family: $font-arabic;
    direction: rtl;
    text-align: right;
  }
  
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    
  
    font-family: $font-arabic;
  }
  .fa-long-arrow-alt-right,.fas,.home-news .content-actualite .container-content .link-more a:after,.we-mega-menu-submenu .we-mega-menu-submenu .subul li.we-mega-menu-li:before{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);


  }

  .search_blc {
    //width: 40%;
    h2 {
      &:after {
        content: "\f002";
        font-family: "Font Awesome 5 Pro";
      }
  
      
    }
    h2.active {
      &:after {
        content: "\f00d";
      }
    }

    .form--inline {
      
      .form-actions {
        left: 15px;
        right: inherit;
      
      }
  
      button.form-submit {
        height: 54px;
  
        &:after {
          content: "\f002";
          font-family: "Font Awesome 5 Pro";

  
        }
      }
    }
  
    .form-control {
      padding-left: 50px;
      padding-right: 16px;
  
      
      @include prefix(box-shadow, none);
  
     
    }
    .form-actions {
      left: 0;
      right: inherit;

    }

  
    div#edit-actions {
  
  
      left: 0;
      right: inherit;
  
      align-self: flex-start;
    }
  
    button.form-submit {
      line-height: 0.8;
      &:after {
        content: "\f002";
        font-family: "Font Awesome 5 Pro";
  

      }
    }
  }
  #navbar-top.navbar {

  
    @include media(sm) {
      padding: 60px 40px 20px;
    }
  
    .drop-langue {
     
 
      .form-select {
     
  
        text-align: right;
  
       
      }
    }
  }
  .main-menu {
    float: left;
  }
  

  
  .container-slider {


    @include prefix(transform, translate(-50%, -50%));
    .title-banner {
      text-align: right;
  
    
    }

    .content-wrapper {
     
  width: 70%;
    
      .link-consult {
        text-align: left;
  
        &:after {
          content: "\f2ff";
          font-family: "Material-Design-Iconic-Font";
 
        }
      }
    
    }
  }
  .desc-banner {

    p {
      text-align: right;
  
     
    }
    
  }
  .blc_breadcrumb {
  
    .breadcrumb {
    
     
      > li {
        text-align: right;
      
        &:not(:last-child) {
          &::after {
            content: " / ";
  
            margin: 0 5px;
          }
        }
  
       
      }
      
    }
  }
  
  .ul-list {
    li {
  
      padding-right: 25px;
      padding-left: 0;
      &::before {
        content: "";
  
        right: 0;
        left: inherit;
      }
    }
  }


  .link-popup-video {
  
    &:before {
      content: "";
      background: $primaryColor url(../images/play.png) no-repeat center center;
  
  
  
      @include prefix(transform, translate(-50%, -50%));
      opacity: 0;
    }
    &:hover {
    
      img {
        @include prefix(transform, scale(1.1));
      }
    }
  }
  .box-media {
  
    img {
      transition: all 0.5s ease 0s;
    }
    .link-popup-video {
      &:before {
        transition: all 0.35s;
      }
      &:hover {
        &:before {
          background: $secondaryColor url(../images/play.png) no-repeat center
            center;
        }
      }
    }
    &:hover {
      img {
        @include prefix(transform, scale(1.1));
      }
    }

  }
  .paragraph--bp-accordion-container {
    .paragraph__column {
      padding-right: 0;
      padding-left: 0;
    }
    
  }

  .panel-default {
    > .panel-heading {
   
      text-align: right;

    }
  }
  .alert-custom {

    i {
      padding-left: 10px;
      padding-right:0;
    }
  }
  
  form#views-exposed-form-module-de-recherche-page-1 {
    .form-inline {
      justify-content: center;
    }
  }
  .default-filter {
    .form-inline {
      .control-label {
    
  
        padding-left: 10px;
        padding-right:0;
      }
    }
    .bef-exposed-form {
     
      button[data-drupal-selector="edit-reset"] {
        margin-left: 0;
        margin-right: inherit;
  
        right: auto;
        left: inherit;
        
  
        &:after {
          content: "\f1b9";
          font-family: "Material-Design-Iconic-Font";
  
         
  
          top: 32%;
  
          height: 30px;
          transition: all 0.5s ease;
        }
       
      }
      button {

        &:hover {
          background: $blueV2;
        }
      }
      .form-group {
        
  
        align-self: inherit;
        @include media(sm) {
        }
      }

  
      .form-control {
        padding: 0 28px 0 18px;

  
        @include prefix(box-shadow, none);
      }
      .form-select {
        padding: 0 28px 0 18px;
        
  
 
  
        @include prefix(box-shadow, none);
  
      
      }
      .bef-datepicker,
      .nice-select {
        background: url(../images/down.png) 5% center no-repeat;
      }
      input#edit-title {
        background: url(../images/search.png) 5% center no-repeat;
      }
      .form-row {
        &::before {
          content: "";
          background: url(../images/left-filter.png) no-repeat;
  
          top: -4px;
  
          align-self: center;
          @include media(sm) {
          }
        }
      }
    }
  }


  
  .view-style-glossaire {
  
    .filters-alphabet-glossaire {
      padding: 0 0 20px;

      margin: 0 0 30px;
      ul {

        > li {
          
  
          float: right;
  
          margin-left: 5px;
          margin-right: inherit;

        }
      }
    
    }
  }
  
 
  .groupe-alpha {
 
  

  
    margin-left: 15px;
    margin-right: inherit;
  }

  .title-poste {
    padding-right: 15%;
    padding-left: 0;
    
  
  }

  .contenu-details {
    p {
      
      text-align: right;
    }
  }
  .theme-date {
    text-align: right;
  
    .theme-details {
      &::after {
        content: " - ";
  
        margin-right: 5px;
        margin-left: inherit;
      }
    }
    
  }

  
  .liste-coment {
    
  
    .indented {
      padding-right: 110px;
      padding-left: 0;
      
    }
  }
  .comment-form {
    button {
      margin-left: 7px;
      margin-right: inherit;
      
    }
  }
  

  footer.comment__meta {
    min-width: 120px;
  
    margin-left: 10px;
    margin-right: inherit;
  
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }
  .comment__content {
   
    .links {
      text-align: left;
   
    }
  }

  
  .view-pg-localisation {
    button[aria-label="Fermer"] {
      left: 10px !important;
      right: inherit;
    }

    .col-agence {
      flex: 1 1 auto;
    }
  }
  
  .sitemap {
    .sitemap-item {
      > h2 {
      }
      width: 48%;
      margin: 1%;
      float: right;
  
      padding: 25px 32px;
    }
  
    ul {
      > li {
        > a {
          padding: 0 10px;
          &:hover {
            
            text-decoration: underline;
          }
        }
        a {
          &:before {
            content: "";
  
            right: -10px;
            left: inherit;
          }
        }
        ul {
          margin-right: 20px;
          margin-left: inherit;
          li {
            a {
              &:before {
                height: 8px;
              }
            }
          }
        }
      }
    }
    .navbar-text {
      float: none;
      margin-right: 0;
      margin-left: inherit;
  
      padding: 0 10px;
      &:before {
        content: "";
  
        right: -10px;
        left: inherit;
      }
    }
    .dropdown-menu {
      background: transparent !important;
      @include prefix(box-shadow, none);
  
      float: none;
      padding-right: 22px;
      padding-left: 0;
  
      > li {
        a {
          &:before {
            top: 7px;
          }
        }
      }
    }
  }
  .sitemap-item {
    .menu {
      padding-right: 30px;
      padding-left: 0;
    }
  }

  .container-form {
 
    .form-control {
      @include prefix(box-shadow, none);
      min-height: 45px;
      border-radius: 0;
  
      border: 1px solid rgba(180, 209, 231, 0.3);
  
    }


  
    label.custom_file {
   
  
      padding: 6px 56px 5px 16px;
  
      &:before {
        content: "";
  
   
        image: url(../images/icon-upload.png);
  
        right: 16px;
        left: inherit;
      }
    }
    .file {
  
      padding: 4px 16px 2px 16px;
  
      > span {
        a {
          border-top: none;
          display: inline;
        }
      }
    }
 
  }



  
  .owl-gallery {
    .owl-nav {
      button.owl-prev {
        background-color: $primaryColor !important;
   
      }
      button.owl-next {
        background-color: $primaryColor !important;
  
        padding: 10px !important;
  
        border-radius: 0;
       
      }
    }
  }
  .listes-images {
    padding: 0 0 50px;
    .field--item {
      width: 23%;
      float: right;
      margin: 0 1% 1%;
  
     
    }
  }
  
  .slider-one-item {
    .box-image-title {
     
      .title-poste {
        padding-right: 20px;
        padding-left: 0;
      }
    }
 
   
  }
  
  

  .content_404 {
    min-height: 873px;

  
    .title-404 {
      text-align: right;
    }
    .sub-title {
      text-align: right;
    }
    p {
      letter-spacing: 0.64px;
      text-align: right;
    }
    a {
      padding: 16px 52px;
      line-height: 1;
  
      background: #0066b3;
      &::before {
        content: "";
        background-repeat: no-repeat;
        width: 20px;
     
  
        background-image: url(../images/left.png);
  
        right: -30px;
        left: inherit;
      }
     
    }
  }

  .view-pg-faq {
    .card {
      text-align: right;
  
      padding: 0 30px 0 24px;

      @include media(md) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  
    .btn.focus {
      @include prefix(box-shadow, none);
    }
    .btn {
      &:focus {
        @include prefix(box-shadow, none);
      }
    }
    .btn-link[aria-expanded="true"] {
      &:before {
        font-family: "Font Awesome 5 Free";
  
        left: 0;
        right: inherit;
        width: 20px;
        
        //top: 35%;
        content: "\f00d";
      }
    }
    .btn-link[aria-expanded="false"] {
      &:before {
        font-family: "Font Awesome 5 Free";
  
        left: 0;
        right: inherit;
        width: 20px;
        
        //top: 35%;
        content: "\f067";
      }
    }
  }
  .view-pg-news {
    .content-actualite {
      flex: 1 0 auto;
    }
  }
  .pagination {
    justify-content: center;
    flex-wrap: wrap;
  
    .page-item.active {
      display: block !important;
      .page-link {
      }
    }
  
    .page-link[rel="prev"] {
      width: 14px;
      height: 23px;
  
      background-image: url(../images/pagination-left-ar.png);
      
      background-repeat: no-repeat;
      &:focus {
        @include prefix(box-shadow, none);
      }
     
    }
    .page-link[rel="next"] {
      width: 14px;
      height: 23px;
  
      background-image: url(../images/pagination-right-ar.png);
      
      background-repeat: no-repeat;
      &:focus {
        @include prefix(box-shadow, none);
      }
    
    }
    .page-link {
      
      margin: 0 8px;
      width: 36px;
      
  
      justify-content: center;
      &:focus {
        @include prefix(box-shadow, none);
      }
      &:hover {
        
        
      }
    }
  }
  fieldset.form-type-select {
    flex-wrap: wrap;
  }
  .view-list {
    .media {
      
      background: #f9f9f9;
      a {
        line-height: 1.45;
        color: #333;
      }
      .media-body {
        line-height: 1.45;
        color: #333;
        padding: 16px;
      }
    }
  }
  .filter-not-found {
    justify-content: center;
  
    flex-wrap: wrap;
  
    flex: 1 1 auto;
    .link-blue {
      padding: 5px 16px;
    }
  }
 
  .inner_banner {
    .title {
      margin-bottom: 24px;
      @include media(xl) {
      }
      @include media(md) {
        margin-bottom: 14px;
      }
      @include media(sm) {
      }
    }
 
    img {
      @include media(sm) {
        height: 160px !important;
      }
    }
  }
  .group-top-title {
   
    @include prefix(transform, translate(-50%, -50%));
  }
  
  .forfait {

 
    @include media(xs) {
      padding: 36px 0;
    }
    .subtitle {
      text-align: right;
    }
    .title {
      margin: 16px 0 48px;
  
      text-align: right;
  
      @include media(md) {
      }
      @include media(xs) {
        text-align: right;
      }
    }
    p {
      text-align: right;
      color: #282938;
      @include media(xs) {
        text-align: right;
      }
      span {
        text-align: right;
      }
    }
    img {
      @include media(md) {
      }
    }
  }
  
  /* =======================================================================
  ## custom element
  ========================================================================== */
  .bouton-green {
    @include button($btnGreen, $white);
    @include media(xs) {
    }
  }
  .bouton-blue-ciel {
    @include button($btnBlueCiel, $white);
    @include media(md) {
      padding: 8px 32px;
      font-size: 14px;
    }
    @include media(xs) {
    }
  }
  .bouton-blue {
    @include button($btnBlue, $white);
    @include media(xs) {
    }
  }
  .bouton-orange {
    @include button($btnOrange, $white);
    @include media(xs) {
      padding: 8px 12px;
    }
  }
  .section-bg-gray {
  }
  .link-icon {
    font-family: $font-arabic;
  
    text-align: left;
  
    margin: rem(0) rem(32) rem(0) rem(0);
    i {
      padding-right: rem(8);
      padding-left: 0;
    }
  
    @include media(xl) {
      margin: rem(32) 0 0 0;
    }
    @include media(md) {
      
    }
    @include media(sm) {
      margin-right: 24px;
      margin-left: inherit;
      
    }
    @include media(xs) {
      margin-right: 0;
      margin-left: inherit;
    }
  }

  .custom-list {
    li {
      padding: rem(16) rem(40) rem(16) rem(0);
      font-family: $font-arabic;
  
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      &:before {
        content: url(../images/check.png);
        right: 0;
        left: inherit;
        top: 22px;
        width: rem(24);
        @include media(sm) {
          top: 16px;
        }
      }
      @include media(sm) {
        padding: rem(10) rem(0) rem(10) rem(40);
      }
    }
  }
  /* =======================================================================
  ## fin custom element
  ========================================================================== */
  
  .section-pourquoi-icons {
    padding: 90px 0 32px;
    @include media(sm) {
      padding: 32px 0;
    }
    @include media(xs) {
      padding: 40px 0 32px;
    }
    @include background-gradient(#f4f6fc, rgba(255, 255, 255, 0), "vertical");
    .view-pourquoi {
      .icon {
        img {
          @include media(xs) {
          }
        }
      }
      .title {
        margin: 16px 0 33px;
        font-family: $font-arabic;
  
        text-align: right;
  
     
      }
      .link {
        @include media(xs) {
        }
      }
      .link-view {
        font-family: $font-arabic;
  
        text-align: right;
        
        i {
          padding-right: 0;
          padding-left: 8px;
        }
      }
    }
    .view-pourquoi-type-2 {
      padding: rem(70) rem(0) rem(0);
    
      .small-title-view {
        margin: rem(0) rem(14) rem(12) rem(15);
        font-family: $font-arabic;
      }
      .wrapper-bloc {
        padding-bottom: rem(40);
  
        @include prefix(border-radius, 0 0 rem(8) rem(8));
        .bg-blue {
          padding: rem(32) rem(32) rem(28);
          @include prefix(border-radius, 50% / 0 0 rem(50) rem(50));
        }
        .title {
          margin: rem(24) rem(9) rem(12) rem(0);
          font-family: $font-arabic;
        }
        .desc {
          margin: rem(12) rem(0) rem(0);
          font-family: $font-arabic;
  
          font-weight: normal;
  
          text-align: right;
        }
      }
      .owl-stage {
        @include media(sm) {
        }
      }
    }
  }
  .title-view {
    margin: rem(0) rem(16) rem(50) rem(16);
    font-family: $font-arabic;
  
    @include media(md) {
    }
  }
  
  .row-avantage {
    padding: rem(70) rem(0) rem(96);
    @include media(sm) {
      padding: 32px 8px;
    }
    .box-avantage {
      @include media(sm) {
        flex: auto;
        padding: 0 !important;
      }
      .col-avantage {
        font-family: $font-arabic;
        padding: rem(40) rem(48) rem(40) rem(32);
  
        .small,
        .small-title {
          margin: rem(0) rem(20) rem(16) rem(0);
  
          @include media(sm) {
          }
        }
        .title {
          margin: rem(16) rem(0) rem(32);
  
          font-weight: normal;
  
          text-align: right;
  
          @include media(xl) {
          }
          @include media(sm) {
          }
        }
        @include media(sm) {
        }
      }
    }
  }
  
  .wrapper-pack-service {
    padding: rem(100) rem(0);
  
    font-family: $font-arabic;
    @include media(sm) {
      padding: rem(50) rem(0);
    }
  
    &:before {
      content: "";
  
      right: 0;
      left: 0;
  
      @include media(sm) {
      }
    }
    .bloc-pack {
      @include media(sm) {
      }
    
      .title-blanc {
        margin: rem(8) rem(0) rem(24);
  
        
  
     
      }
      .desc {
        margin: rem(24) rem(24) rem(56) rem(0);
  
        font-weight: normal;
  
        line-height: 1.94;
      }
    
    }
  
    .service-unique {
      padding-right: rem(16);
      padding-left: 0;
      .title {
        margin: rem(0) rem(2) rem(16) rem(0);
      }
      .desc {
        margin: rem(16) rem(2) rem(40) rem(0);
  
      
      }
    }
  }
  
  .section-conseils {
    padding: rem(70) rem(0);
    @include media(sm) {
      padding: rem(24) rem(0);
    }
    .view-header {
      padding: rem(0) rem(0) rem(50);
     
    }
    .item-conseil {
      font-family: $font-arabic;
      .date {
        margin: rem(16) rem(0);
      }
      .title {
        margin: rem(16) rem(0) rem(8);
        a {
        }
      }
      .desc {
        margin: rem(8) rem(0) rem(16);
      }
    
      &:hover {
        .title {
          a {
          }
        }
      }
    }
  }
  
  .services-mattel {

  
    .wrapper-bloc {
      @include prefix(border-radius, rem(8));
      .bg-blue {
        min-height: rem(104);
        padding: rem(32) rem(32) rem(28);
        @include prefix(border-radius, 50% / 0 0 rem(50) rem(50));
      }
      .title {
        margin: rem(32) rem(32) rem(0);
      }
    }
    .owl-stage {
      .owl-item {
        .item-service {
        }
      }
      @include media(sm) {
      }
    }
  }

  .home-news {
    padding: 72px 0;
    @include media(xs) {
      padding: 44px 0;
    }
    .header-blc-act {
      margin-bottom: 56px;
      @include media(xs) {
        margin-bottom: 27px;
      }
  
      &:after {
      }
      .title {
        text-align: right;
  
        @include media(md) {
        }
        @include media(sm) {
        }
        @include media(xs) {
          font-size: rem(26);
        }
      }
      .link {
        text-align: left;
  
        @include media(md) {
        }
        @include media(xs) {
          
        }
        &:after {
          content: "\f301";
          font-family: "Material-Design-Iconic-Font";
  
          padding-right: 16px;
          padding-left: 0;
          @include media(xs) {
            padding-right: 8px;
            padding-left: 0;
          }
        }
      }
    }
    .content-actualite {
      .box-img-title {
        .theme-news {
          padding: 8px;
  
          background-color: $green;
          right: 16px;
          left: inherit;
          top: 16px;
          font-size: 14px;
  
          text-align: right;
        }
       
      }
      .theme {
        text-align: right;
        
      }
      .container-content {
        padding-top: 32px;
        .date {
          text-align: right;
  
          margin-bottom: 24px;
          @include media(md) {
          }
        }
        .title {
          text-align: right;
  
          
          min-height: 68px;
        
        }
        .link-more {
          text-align: right;
  
          a {
            &:after {
              content: "\f301";
              font-family: "Material-Design-Iconic-Font";
  
              padding-right: 16px;
              padding-left: 0;
            }
          }
        }
        .text {
          text-align: right;
  
        
          
        }
      
      }
    }
  }
  .view-pourquoi-operateur {
    padding: 72px;
    @include media(md) {
      padding: 58px;
    }
    @include media(sm) {
      padding: rem(32) rem(16);
    }
    .icon {
      display: inline-flex;
      
   
    }
    .item {
      padding: 32px;
      background: #e9f2f8;
  
      &:before {
        content: "";
        background: rgba(255, 255, 255, 0.7);
  
        right: 0;
        left: inherit;
  
        height: 104px;
        
    
      }
    }
    .operateur {
      line-height: 2.67;
      strong {
        font-size: 30px;
      }
    }
 
  }
  .eligibilite {
    background-image: url(../images/map3.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    &:before {
      content: "";
      background-image: linear-gradient(to left, #143f6e 0%, $primaryColor 34%);
      opacity: 0.86;
  
      right: 0;
      left: inherit;
  
      @include media(sm) {
      }
    }
    .subtitle {
      text-align: right;
    }
    .title {
      margin: 5.8px 0 42.4px;
  
      text-align: right;
  
      @include media(md) {
      }
    }
    p {
      
      text-align: right;
  
      margin-bottom: 54px;
      @include media(md) {
      }
    }
    .contenue {
      padding: 138px 0 112px 0;
      @include media(xl) {
        padding: 52px 0;
      }
    }
    .bouton-orange {
      color: #1b1c2b;
      &:hover {
        color: $btnOrange;
      }
      @include media(md) {
        padding: 8px 34px;
      }
    }
   
  }
  .view-blc-mediatheque {
    padding: 88px 0;
    @include media(md) {
      padding: 28px 0;
    }
    .field--name-bp-header {
      font-size: 48px;
  
      text-align: right;
  
      margin-bottom: 64px;
      @include media(md) {
        font-size: 38px;
      }
    }
    .container-content {
      padding-top: 32px;
      .date {
        text-align: right;
        color: #282938;
        margin-bottom: 24px;
      }
      @include media(sm) {
        padding: 32px 20px 0 20px;
      }
    }
    .view-header {
      float: left;
  
      @include media(sm) {
        float: right;
      }
      .header-blc-media a {
        text-align: left;
        
  
        float: left;
        &::after {
          @include arrow-left("blue");
          @include media(md) {
            right: 0;
            left: inherit;
            margin-right: 4px;
            margin-left: inherit;
          }
        }
        &:hover:after {
          right: 8px;
          left: inherit;
          transition: 0.5s;
        }
        @include media(md) {
          float: right !important;
          
          font-size: 12px;
          text-align: right;
        }
      }
    }
  
    .media-list {
      .title a {
      
        text-align: right;
        margin: 32px 0 16px 0;
        min-height: 60px;
      }
      .text {
        text-align: right;


      }
      .box-media {
        .link-popup-video {
  
          padding-right: 90px;
          padding-left: 0;
  
          text-align: right;
          
          &::before {
            right: 0px;
            left: inherit;
          
            
          }
        }
      }
    }
  }
  .offres {
    background-image: linear-gradient(to left, #1e2946 29%, #074174 100%);
    img {
      @include media(xl) {
        height: 100% !important;
      }
    }
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
    .contenue {
      padding: 0 34px;
      @include media(xl) {
        padding: 34px;
      }
      @include media(sm) {
        padding: 34px;
      }
      .subtitle {
        text-align: right;
      }
      .title {
        text-align: right;

    
   
      }
      p {
        line-height: 1.94;
        text-align: right;
  
        width: 40%;
        margin-bottom: 56px;
        @include media(xl) {
        }
        @include media(sm) {
        }
      }
    }
  }
  
  .contact-blc {
    padding: 89px 0 96px 0;
  
    @include media(sm) {
      text-align: inherit;
     
    }
    .content-wrapper {
      .subtitle {
        @include media(sm) {
          text-align: inherit;
        }
      }
      .title {
        font-size: 48px;
  
        
        font-size: 40px;
        @include media(sm) {
          text-align: inherit;
        }
      }
      p {
        width: 80%;
  
        @include media(sm) {
          text-align: inherit;
  
          
        }
      }
      a.bouton-orange {
        margin-top: 119px;
  
        align-self: center;
        @include media(xl) {
          font-size: 14px;
          padding: 14px 10px;
        }
        @include media(md) {
          line-height: 1;
          margin-top: 88px;
        }
        @include media(sm) {
          margin-top: 28px;
        }
      }
      img {
        @include media(md) {
          width: 250px;
        }
        @include media(sm) {
        }
      }
    }
  }
  .bg-forfait {
    background-image: linear-gradient(
      to bottom,
      #f4f6fc 0%,
      rgba(255, 255, 255, 0) 100%
    );
    .view-pg-forfait {
      padding: 90px 0 62px 0;
      .item-forfait {
        background-color: #f4f6fc;
        padding-bottom: 56px;
  
    
        &:hover {
          .wrapper-forfait {
            background-image: url("../images/mask.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: unset;
           
            
             
            
            
            
          }
         
         
        }
      }
      .content-wrapper {
      
  
        p {
          width: 72%;
          margin: 16px auto 62px auto;
        }
      }
      .slider-thre-item {
        .owl-stage {
        }
      }
      .wrapper-forfait {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 42px 28px 56px 28px;
     
  
       
        min-height: 510px;
        .container-title-duree {
          
        }
        .title {
          a {
            
            text-align: right;
            
            
          }
          @include media(xl) {
            min-height: 120px;
          }
        }
        .duree {
          text-align: right;
        }
        .text {
          line-height: 1.4;
          text-align: right;
  
          min-height: 120px;
          
        }
        .box-image {
          
  
          flex-direction: row-reverse;
         
          .image {
            
  
            img {
              border: 2px solid #2fabdf;
  
              
            }
            &:after {
              content: "";
              transform: rotate(-45deg);
  
              width: 42px;
              height: 42px;
              right: 25%;
              left: inherit;
              top: 55%;
              z-index: 1;
            }
          }
        }
        .code {
          font-size: 1.5rem;
  
          text-align: right;
  
          .value {
            padding-right: 10px;
            padding-left: 0;
          }
        }
        .prix-wrapper {
          text-align: right;
  
          .prix {
            text-align: right;
          }
        }
      }
      .link-more {
        margin-top: 36px;
  
        a {
          padding: 12px 51px;
          
  
          //
          text-align: right;
        }
      }
      .wrapper-links {
        min-height: 154px;
        .link-profite {
          margin-top: 16px;
  
          a {
            padding: 12px 51px;
            
  
            //
            text-align: right;
          }
        }
      }
  
      .link-list {
        text-align: left;
        
        transition: 0.5s;
        &::after {
          @include arrow-left("blue");
        }
      }
    }
  }

  .view-pourquoi .wrapper-content {
    padding: 40px 32px 32px;
    
  }

  .pg-avantage {
    .row-avantage {
      margin-bottom: 80px;
  
      @include media(sm) {
      }
      .box-avantage {
        @include media(sm) {
        }
      }
    }
    .content img {
    }
  }
  .no-padding {
    .row-avantage {
      padding-bottom: 0;
    }
  }
  .couverture {
    background: linear-gradient(
      90deg,
      rgba(20, 63, 110, 0.9) 29.12%,
      rgba(15, 104, 177, 0.9) 100%
    );
    background-image: url(../images/couverture.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    padding: 82px 0;
    &::before {
      content: "";
      background: linear-gradient(
        90deg,
        rgba(20, 63, 110, 0.9) 70.88%,
        rgba(15, 104, 177, 0.9) 100%
      );
  
      right: 0;
      left: inherit;
    }
    .contenue {
      .subtitle {
        text-align: right;
  
        margin-bottom: 6px;
        
      }
      .title {
        
        text-align: right;
  
        
        @include media(sm) {
        }
        @include media(xs) {
        }
      }
      p {
        margin: 41.9px 0 88px 0;
  
        
        text-align: right;
  
        
        @include media(sm) {
          margin: 20px 0 40px 0;
        }
      }
      .link-plus {
        text-align: left;
  
        &::after {
          @include arrow-left("white");
        }
        @include media(xl) {
          margin-right: 14px;
          margin-left: inherit;
        }
        @include media(sm) {
        }
        @include media(xs) {
          
        }
      }
    }
    .right-side {
      .title {
        margin: 0 0 16px;
  
        text-align: right;
  
        @include media(sm) {
          margin-top: 16px;
        }
      }
      p {
        margin: 16px 0.1px 0 0.5px;
  
        text-align: right;
        color: #f4f6fc;
      }
      .content-right {
        margin-right: 56px;
        margin-left: inherit;
        @include media(sm) {
          margin-right: 0;
          margin-left: inherit;
        }
      }
    }
  }
  .roaming {
    .row {
      
    }
    &:before {
      content: "";
      
      opacity: 0.86;
  
      right: 0;
      left: inherit;
  
      @include media(xl) {
      }
    }
    .contenue {
      
     
      .subtitle {
        text-align: right;
      }
      .union {
        
  
        color: #fcd980;
        padding: 6px 16px;
        background-color: #1e2946;
  
        &::before {
          content: "";
  
          width: 16px;
          
          right: -8px;
          left: inherit;
          top: 35%;
          background: #1e2946;
          transform: rotate(135deg);
        }
      }
      .title {
        
        text-align: right;
  
        
        @include media(sm) {
        }
      }
      p {
        
        text-align: right;
  
        margin-bottom: 52px;
        @include media(xl) {
          
        }
        @include media(sm) {
        }
      }
      .bouton-orange {
        color: #1b1c2b;
      }
    }
    .col-md-6 {
      padding-left: 0;
      padding-right:0
    }
    img {
      height: 100% !important;
  
      @include media(sm) {
      }
    }
  }
  
  .bg-offres {
    .view-pg-forfait {
      padding: 90px 0 62px 0;
  
      @include media(md) {
      }
      @include media(sm) {
        padding: 50px 0 62px 0;
      }
      .view-content {
        width: 65%;
       
      }
      .view-header {
        @include media(md) {
          
        }
        @include media(sm) {
          padding: 16px;
        }
      }
      .item-forfait {
        
 
        @include media(sm) {
          margin: 16px;
        }
      }
      .content-wrapper {
      
        .title {
          @include media(xl) {
          }
        }
      
      }
      .wrapper-forfait {
        background-color: #f3f7fb;
        padding: 72px 48px 56px 20px;
        border-radius: 12px;
  
 
        @include media(xs) {
          padding-right: 20px;
          padding-left: 0;
        }
        .title {
          a {
            
            text-align: right;
            
            
  
            @include media(xl) {
            }
          }
        }
        .text {
          ul {
            li {
              text-align: right;
              margin-bottom: 20px;
  
              &::before {
                content: "";
                background-image: url(../images/arrow-right-small-ar.png);
                background-repeat: no-repeat;
                width: 22px;
                
  
                padding-left: 20px;
                padding-right:0;
  
                right: -10px;
                left: inherit;
              }
            }
          }
        }
        .gamme {
          text-align: right;
          
        }
      }
      .link-more {
        margin-top: 36px;
  
        a {
          padding: 15px 51px;
          
          background-color: $btnOrange;
          border: 1px solid $orange;
  
          text-align: right;

        }
      }
      .link-list {
        text-align: left;
        
        transition: 0.5s;
        &::after {
          @include arrow-left("blue");
        }
      }
    }
  }

    .wrapper-titre-slogan {
      top: calc(50% - 20px);
 
      transform: translate(50%, -50%);
      @include media(xl) {
        width: 65%;
      }
      h2 {
        margin-bottom: 24px;
    
      }

    }
  

  .bg-forfait {
    background-image: linear-gradient(
      to bottom,
      #f4f6fc 0%,
      rgba(255, 255, 255, 0) 100%
    );
    .view-pg-forfait-produit {
      padding: 40px 0 62px 0;
      .owl-carousel .owl-stage {
        flex-wrap: wrap;
      }
   
      .item-forfait {
       
  
     
        &:hover {
          .wrapper-forfait-produit {
            background-color: rgba(255, 255, 255, 0.91);
         
          
          }
        
        
        }
      }
      .content-wrapper {
      
        .title {
        
          @include media(sm) {
          }
        }
        p {
          width: 72%;
          margin: 16px auto 62px auto;
        }
      }
      .wrapper-forfait-produit {
        padding: 50px 32px 56px 32px;
  
  
       
        .gamme {
          text-align: right;
        }
        .produit {
          text-align: right;
  
          a {
          }
        }
        .title {
          a {
            
            text-align: right;
            
            
          }
          @include media(xl) {
            min-height: 120px;
          }
        }
  
        .duree {
          text-align: right;
        }
        .text {
          ul li {
            text-align: right;
  
            &::before {
              content: "";
              background-image: url(../images/arrow-right-small-ar.png);
              background-repeat: no-repeat;
              width: 26px;
              
  
              padding-left: 16px;
              padding-right:0;
            }
          }
        }
  
        .wrapper-code-prix {
          .prix {
            .label {
              margin: 0 0 8px 96px;
  
              text-align: right;
  
            }
            .value {
              .val {
                line-height: 1;
  
                
                padding: 16px;
              }
              .prefix {
                line-height: 1;
  
                padding-left: 8px;
                padding-right:0;
              }
            }
          }
          .code {
            .label {
              text-align: right;
  
             
            }
         
          }
         
        }
      }
      .wrapper-links {
        //min-height: 154px;
        .link-profite {
          margin-top: 36px;
  
          a {
            padding: 12px 51px;
            
  
            //
            text-align: right;
          }
        }
        .link-more {
          margin-top: 36px;
  
          a {
            padding: 12px 51px;
            
  
            //
            text-align: right;
          }
        }
      }
    }
  }
  .wrapper-forfait-max {
    &::before {
      background-image: url(../images/bg-pack.png);
      @include media(sm) {
      }
    }
    .bloc-pack {
      width: 80%;
      @include media(sm) {
      }
    
    }
  }
  .bon-savoir {
    .title {
      text-align: right;
    }
    ul {
      li {
        
        text-align: right;
  
        
        padding: 24px 24px 24px 80px;
  
        p {
        }
        &::before {
          content: "";
          background-image: url(../images/arrow-right-small-ar.png);
          background-repeat: no-repeat;
          width: 26px;
          
  
          padding-left: 20px;
          padding-right:0;
        }
      }
    }
  }
  .view-pg-faq {
    padding: 90px 0 62px 0;
  
    @include media(md) {
      padding-top: 40px;
    }
    .view-header {
      margin-left: 32px;
      margin-right: inherit;
  
      @include media(md) {
      }
      .content-wrapper {
        @include media(md) {
          margin-bottom: 24px;
        }
      }
      .title {
        margin: 0 0 32px;
  
        text-align: right;
  
        @include media(xl) {
          font-size: rem(44);
        }
        @include media(md) {
          
        }
      }
      .link-list {
        margin: 0 0 0 16px;
  
        text-align: left;
        
        &:after {
          content: "";
          background-image: url(../images/arrow-right-small-ar.png);
          background-repeat: no-repeat;
          width: 22px;
          
  
          margin-right: 10px;
          margin-left: inherit;
        }
      }
    }

    .view-content {
      width: 65%;
      @include media(md) {
      }
      .panel-group {
        list-style-type: none;
        counter-reset: css-counter 0;
      }
      .card {
        counter-increment: css-counter 1;
        h5 {
          &:before {
            content: counter(css-counter, decimal-leading-zero) ". ";
  
       
            margin-left: 32px;
            margin-right: inherit;
          
          }
        }
  
        .btn-link {
          
          text-align: right;
  
       
  
          word-wrap: break-word;
          @include media(xl) {
          }
        }
        .card-body {
          padding: 0 66px 0 0;
          .reponse {
            text-align: right;
          }
        }
      }
    }
  }
  .exposed-recherche {
    .item-search {
      
      .title {
        text-align: right;

      }
      .text {
        text-align: right;
      }
      &:hover {
        background-color: #f3f7fb;
      
      }
    }
  }
  
  .errMsg {
    padding: 60px 120px 60px 60px;
  
    &:after {
      content: "\f05e";
  
      right: 50px;
      left: inherit;
      top: 40px;
      font-size: rem(50);
      font-family: "Font Awesome 5 Pro";
    }
  }

  .tabs-agences {
    padding: 80px 0 0;
  
    .nav-tabs > li > a {
      padding: 10px 32px;
    }
  

 
 
   
  }
  .views-bg-services {

    .title {
      text-align: right;
  
      margin: 32px 0 38px 0;
      min-height: 88px;
    }
  }
  .pg-offre-emploi {
    padding: 50px;
    p {
      text-align: right;
    }
    .section-offre {
      &:not(:first-child):before {
        content: "";
        background-color: rgba(0, 102, 179, 0.2);
        width: 80%;
  
        height: 1px;

      }
      .date {
        text-align: right;
  
        margin-left: 34px;
        margin-right: inherit;
        &:before {
          content: "";
          background-image: url(../images/horloge.png);
          background-repeat: no-repeat;
  
          height: 24px;
  
          margin-left: 14px;
          margin-right: inherit;
  
          
        }
      }
      .type {
        text-align: right;
  
        &:before {
          content: "";
          background-image: url(../images/time.png);
          background-repeat: no-repeat;
  
          height: 24px;
  
          margin-left: 14px;
          margin-right: inherit;
  
          
        }
      }
      .title-offre {
        text-align: right;
  
    
     
        
      }
      .text {
        text-align: right;
  
       
        .list {
          li {
            text-align: right;
  
            padding-right: 24px;
            padding-left: 0;
  
            &:before {
              content: "";
  
              width: 5px;
              height: 5px;
  
              right: 0;
              left: inherit;
  
              margin-right: 8px;
              margin-left: inherit;
            }
          }
        }
      }
      .bouton-blue {
        
        font-weight: 400;
      }
     
    }
  }
  .formulaires {
    padding: 100px 0 90px 0;
    @include media(md) {
      padding: 60px 0 30px 0;
    }
    .title {
      text-align: right;
  
      @include media(md) {
      }
    }
    .form-control {

      padding: 0 30px 0 34px;
    }
    .form-textarea-wrapper {
      textarea {
        resize: none;
        padding-top: 16px;
      }
    }
    .form-group {
      @include media(sm) {
        iframe {
          height: 350px;
        }
      }
    }
    .js-form-item {
      @include media(md) {
      }
    }
    select {
      appearance: none;
      outline: 0;
  
      background: url(../images/down.png) 5% center no-repeat;
    }
 
    .custom-file {
    
      label {
        
  
        height: 48px;
        padding: 0 30px 0 34px;
  
        background: url(../images/download.png) 1% center no-repeat;
  
        &:hover {
          background: url(../images/download-down.png) 1% center no-repeat;
        }
      
      }
    
      .messages--error {
        color: $red;
      }
    }
    .alert-wrapper {
      & + .custom-file {
       
        button {
          margin-left: 0;
          margin-right: inherit;
  
          right: auto;
          left: inherit;
          top: -30px;
  
          &::after {
            content: "\f2ed";
            font-family: "Font Awesome 5 Pro";
  
            right: 18px;
            left: inherit;
  
            
  
            background-color: $red;
  
            justify-content: center;
          }
        
         
        }
        .form-managed-file {
          right: 30px;
          left: inherit;   
        
        }
      }
    }
  }
  .no-padding-bottom {
    .field__item:first-child:not(:last-child) {
      .view-pg-forfait {
        padding-bottom: 0;
      }
    }
  }
  .view-bloc-conseil {
    
    .title-view {
      margin-right: 0;
      margin-left: inherit;
    }
    .date {
      margin-top: rem(32);
      margin-bottom: rem(24);
  
      text-align: right;
    }
    .title {
      text-align: right;
  
      min-height: 106px;
      
    }
 
  }
  .mb-6 {
    margin-bottom: 72px;
  }
  .wrapper-content-node {
    .wrapper-right {
      
    
      .title {
        text-align: right;   
  
        @include media(sm) {
          word-wrap: break-word;
        }
      }
   

    }
    .wrapper-information {
     
      align-items: stretch;
  
      @include media(md) {
        display: block !important;
      }
      .prix {
        
    
        
        margin-left: 36px;
        margin-right: inherit;
        @include media(md) {
          
          margin-left: 0;
          margin-right: inherit;
        }
  
        .field__label {
          color: #282938;
        }
      }
      .code {
        
      
        
        margin-left: 36px;
        margin-right: inherit;
        @include media(md) {
          
          margin-left: 0;
          margin-right: inherit;
        }
  
     
      }
      .duree {
        
        background: linear-gradient(
          131.34deg,
          rgba(197, 188, 255, 0.3) 16.74%,
          rgba(155, 247, 213, 0.3) 103.17%
        );
        
        @include media(md) {
          
          margin-left: 0;
          margin-right: inherit;
        }
  
        .field__label {
          color: #282938;
        }
      }
    }
  }
  .custom-ul-list {
    li {
      
      text-align: right;
      color: #282938;
  
      padding-right: 24px;
      padding-left: 0;
      &::before {
        content: "\f00c";
  
        right: 0;
        left: inherit;
  
        font-family: "Font Awesome 5 Pro";
      }
    }
  }
  .couverture-reseau {
    padding-top: 96px;
  
    .content-wrapper {
      .title {
        @include media(md) {
        }
      }
    
    }
  }
  body button:focus {
    outline: none;
  }

  .slider-w-dots.owl-carousel.owl-theme {
    .owl-dots {
     
   
      .owl-dot {
        &.active {
          span {
            
            border-radius: 10px;
            margin: 5px 2px;
          }
        }
        &:hover {
          span {
            
        
            margin: 5px 2px;
          }
        }
      }
    }
  }


  .slider-w-navs.owl-carousel.owl-theme {
    .owl-nav {
      
  
      .owl-prev {
        
        
        right: -60px;
        left: inherit;
  
        transform: translateY(-50%);
    
      }
      .owl-next {
        
  
        height: 50px;
  
        
        left: -60px;
        right: inherit;
  
        transform: translateY(-50%);
       
      }
    }
  
  }
  
  .bloc-filter-avance {
    .radio {
      .custom-control-input ~ .custom-control-label {
        margin-left: 16px;
        margin-right: inherit;
      }
      .custom-control {
        padding-right: 0;
        padding-left: 0;
      }
     
     
     
    
    }
  }
  .paragraph .paragraph,
  .paragraph .paragraph .paragraph {
    margin-right: auto;
    margin-left: auto;
  }
  .custom-accordeon {
    padding: 0 48px 0 0;
    .panel-default {
      & > .panel-heading {
        padding: 10px 0 20px;
        
      
      }
    
    }
  }
  .section-with-accordeon {
    .paragraph--bp-accordion-container {
      padding-top: 32px;
    }
    padding: 72px 0;
    @include media(sm) {
      padding: 32px 0;
    }
    @include media(xs) {
      padding: 36px 0;
    }
    .subtitle {
      text-align: right;
    }
    .title {
      margin: 16px 0 48px;

  
      text-align: right;
  
      @include media(md) {
      }
      @include media(xs) {
        text-align: right;
      }
    }
    p {
      text-align: right;
      color: #282938;
      @include media(xs) {
        text-align: right;
      }
      span {
        text-align: right;
      }
    }
  }
  [dir="rtl"] {
    .navbar-nav {.nav-item{ float:inherit}}

  }
  .link-icon {
    
    text-align: right;
    margin: rem(0) rem(0) rem(0) rem(32);

    
  }
  
  .search_blc {

    @include media(md) {
      margin: 0 0 0 10px !important;
    }
  
  
  }