@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap";
.alert.alert-dismissible.fade.show.col-12.alert-danger {
    display: none !important;
}
.wrapper-news .alert.alert-dismissible.fade.show.col-12.alert-danger {
    display: block !important;
}
body {
	font-family: $font;
}
img {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-family: $font
}
body a {
	@include prefix(transition, all 0.5s ease 0s);
	text-decoration: none;
	>i {
		@include prefix(transition, none);
		text-decoration: none;
	}
	>span {
		@include prefix(transition, none);
		text-decoration: none;
	}
	&:hover{
		text-decoration: none;
	}
}
button {
	@include prefix(transition, all 0.5s ease 0s);
	text-decoration: none;
	>i {
		@include prefix(transition, none);
		text-decoration: none;
	}
}
.btn {
	@include prefix(border-radius, 0);
	border-radius: 0;
	&:active {
		@include prefix(box-shadow, none);
		color: inherit;
	}
	&:hover {
		@include prefix(box-shadow, none);
		color: inherit;
	}
	&:focus {
		@include prefix(box-shadow, none);
		color: inherit;
	}
}
.btn.active {
	@include prefix(box-shadow, none);
	color: inherit;
}
.btn.focus {
	@include prefix(box-shadow, none);
	color: inherit;
}
#body {
	input {
		@include prefix(box-shadow, none);
	}
	textarea {
		@include prefix(box-shadow, none);
	}
}
ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
main#content {
    padding: 0;
}
#search-block-form {
	.form-item-keys {
		width: 30px;
		position: relative;
	}
}
.search_blc {
	//width: 40%;

	.js-form-item{margin: 10px 0 !important;
		@include media(md) {
			margin: 0 10px 0 0 !important;
		}
	
	
	}
	h2 {
		&:after {
			content: "\f002";
			font-family: "Font Awesome 5 Pro";
			display: block;
			font-size: rem(20);
			text-align: center;
			text-indent: 0;
			color: $primaryColor;
			cursor: pointer;
			padding: 0 8px;
			position: relative;
			top: 10px;
			width: 40px;
			height: 30px;
			z-index: 99;
		}
		font-size: 0;
		text-indent: -999em;
		margin: 0;
		line-height: 1.5;
	}
	h2.active {
		&:after {
			content: "\f00d";
			font-size: rem(20);
			font-weight: 300;
		}
	}
	.control-label {
		display: none;
	}
	.form--inline {
		>.form-item {
			float: none;
			display: block;
		}
		.form-actions {
			position: absolute;
			right: 15px;
			top: 15px;
		}
		
		button.form-submit {
			height: 54px;
			width: 54px;
			background: $primaryColor;
			overflow: hidden;
			font-size: 0;
			text-indent: -999em;
			padding: 0;
			border: none;
			display: inline-block;
			&:after {
				content: "\f002";
				font-family: "Font Awesome 5 Pro";
				display: block;
				font-size: rem(16);
				height: 54px;
				width: 54px;
				text-align: center;
				line-height: 56px;
				text-indent: 0;
				color: white;
				cursor: pointer;
			}
		}
	}
	form {
		display: block;
		width: 100%;
		position: relative;
		&>.row{
			justify-content: flex-end;

		}
	}
	.form-control {
		padding-right: 50px;
		padding-left: 16px;
		height: 55px;
		background: $white;
		border: none;
		width: 100%;
		margin: 0;
		@include prefix(box-shadow, none);
		font-size: rem(16);
		display: block;
		border-radius: 44px;
		@include media(xs){
			font-size: rem(12);
	
	
		}
	}
	.form-actions{
		width: 15%;
		position: absolute;
		right: 0;
		z-index: 99;
		top: 0;
		height: 64px;
		margin-bottom: 0;
	}
	.form-row>fieldset{
		width: 100%;
		margin-bottom: 0;
	}
	div#edit-actions {
		width: auto;
		position: absolute;
		right: 0;
		z-index: 99;
		top: 0;
		height: 64px;
		margin-bottom: 0;
		align-self: flex-start;
	}
	.btn-outline-primary:not(:disabled):not(.disabled):active,
	.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
	.btn-outline-primary:focus{
		border: none;
		background: none;
		box-shadow: none;
	}
	button.form-submit {
		border: none;
		background: none;
		padding: 0;
		margin: 0%;
		text-indent: -999em;
		overflow: hidden;
		width: 50px;
		line-height: 1.2;
		
		
		&:after {
			content: "\f002";
			font-family: "Font Awesome 5 Pro";
			display: block;
			font-size: 1.25rem;
			text-align: center;
			text-indent: 0;
			color: $primaryColor;
			cursor: pointer;
			height: 30px;
		}
	}
}
#navbar-top.navbar {
	background-color: $blueV2;
	padding: 20px 120px;
	border-radius: 0;
	@include media(md){
		flex-direction: column;
		padding: 20px 0;
	}
	@include media(sm){
		display: block;
		position: relative;
		padding: 60px 40px 20px;
	}
	
	.drop-langue {
		.dropbutton-wrapper {
			.dropbutton-widget {
				background: none;
				border: 0;
				border-radius: 0;
			}
		}
		.form-type-select{
			margin-bottom: 0;
		}
		.form-select{
			background: transparent;
			border: 0;
			box-shadow: none;
			border-radius: 0;
			color: $white;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			text-transform: uppercase;
			option{
				color: $blue;
			}
		}
	}
}
.main-menu {
	float: right;
	.navbar-nav {
		.nav-link {
			padding: 8px 16px;
		}
		>.active {
			>a {
				padding: 8px 16px;
				border-radius: 2px;
				line-height: 1.75;
				text-align: center;
				color: $white;
				background-color: $primaryColor;
			}
		}
		>li {
			>.dropdown-menu {
				>li {
					margin-bottom: 8px;
					font-size: rem(15);
					a {
						color: $black;
					}
				}
			}
		}
		flex-direction: row;
	}
	ul {
		li {
			a {
				color: #bbbbcb;
				font-size: rem(16);
				font-weight: 500;
				line-height: 1.75;
				text-align: center;
				&:hover {
					color: $secondaryColor !important;
					background-color: transparent;
					cursor: pointer;
				}
				&:focus {
					color: $secondaryColor !important;
					background-color: transparent;
					cursor: pointer;
				}
			}
			span {
				color: #bbbbcb;
				font-size: rem(16);
				font-weight: 500;
				line-height: 1.75;
				text-align: center;
			}
			.navbar-text {
				color: #bbbbcb;
				font-size: rem(16);
				font-weight: 500;
				line-height: 1.75;
				text-align: center;
				&:hover {
					color: $secondaryColor !important;
					background-color: transparent;
					cursor: pointer;
				}
				&:focus {
					color: $secondaryColor !important;
					background-color: transparent;
					cursor: pointer;
				}
			}
		}
	}
}

.mobile-btn-menu {
	clear: both;
}

.container-slider {
	position: absolute;
	width: 100%; 
	z-index: 9999999;
	top: 50%;
	left: 50%;
	@include prefix(transform, translate(-50%, -50%));
	.title-banner {
		font-size: rem(54);
		font-weight: 600;
		line-height: 1.3;
		text-align: left;
		color: $white;
		margin-bottom: 32px;
		@include media(xl){
			font-size: rem(40);
		}
		@include media(md){
			font-size: rem(32);
			margin-bottom: 12px;
		}
		@include media(sm){
			font-size: rem(24);
			margin-bottom: 8px;
		}
	}
	.subtitle-banner {
		font-size: rem(22);
		font-weight: 800;
		line-height: 1.31;
		color: $white;
		margin-bottom: 15px;
	}
	.content-wrapper {
		width: 50%;
		@include media(xl){
			width: 100%;
		}
		.bouton-orange{
			font-size: 18px;
			font-weight: 600;
			line-height: 1.78;
			text-align: center;
			color: #282938;
			@include media(xs){
				font-size: rem(10);
			}
		}
		.link-consult {
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.75;
			text-align: right;
			color: #fff;
			&:after{
				content: '\f301';
				font-family: 'Material-Design-Iconic-Font';
				top: 0;
				color: $white;
				font-weight: 900;
				width: 3px;
				height: 3px;
				top: 0;
				margin: 0 5px;
				padding: 10px;
				z-index: 9;
			}
		}
		.bouton-blue-ciel{
			@include media(xs){
				padding: 8px 16px; 
				font-size: 10px;
			}
		}
	}
}
.desc-banner {
	max-width: 1000px;
	margin-bottom: 80px;
	p {
		opacity: 0.7;
		font-size: rem(24);
		font-weight: 500;
		line-height: 1.33;
		text-align: left;
		color: $white;
		@include media(md){
			font-size: rem(16);
		}
	}
	@include media(md){
		margin-bottom: 40px;
	}
}
.banner-interne {
	img {
		width: 100%;
		height: auto;
		margin-bottom: 0;
	}
}
.blc_breadcrumb {
	background-color: #37aad8;
	.breadcrumb {
		background: none;
		margin-bottom: 0;
		border-radius: 0;
		padding: 4px 1rem;
		>li {
			font-size: rem(16);
			color: $white;
			opacity: 0.7;
			font-weight: 500;
			line-height: 2;
			text-align: left;
			@include media(sm){
				line-height: 1.4;
				font-size: rem(14);
			}
			&:not(:last-child) {
				&::after {
					content: " / ";
					top: 0;
					color: $white;
					top: 0;
					margin: 0 5px;
					z-index: 9;
				}
			}
			&::before {
				display: none;
			}
			&:first-child {
				a{
					&:before{
						display: none !important;
						background: none;
					}
				}
			}
		}
		a {
			font-weight: 500;
			color: $white;
		}
		>.active {
			color: $white;
		}
	}
}

.ul-list {
	margin-top: 20px;
	margin-bottom: 20px;
	li {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 25px;
		line-height: 1.3;
		&::before {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50px;
			left: 0;
			top: 15px;
			background-color: $blue;
		}
	}
}
.page-header {
	font-size: rem(35);
	color: $primaryColor;
	font-weight: 700;
	border: none;
}
.parg {
	line-height: 1.5;
	margin-bottom: 10px;
	font-size: rem(16) !important;
}
.small-parg {
	line-height: 1.5;
	margin-bottom: 10px;
	font-size: rem(14) !important;
}
.big-parg {
	line-height: 1.5;
	margin-bottom: 10px;
	font-size: rem(20) !important ;
}
.blueciel{
	color: $blueCiel;
}
.green{
	color: $green;
}
.blue{
	color: $blue;
}
.orange{
	color: $orange;
}
.title-h1 {
	color: $primaryColor;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: rem(48);
}
.title-h2 {
	color: $primaryColor;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: rem(32);
}
.title-h3 {
	color: $primaryColor;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: rem(24);
}
.title-h4 {
	color: $primaryColor;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: rem(20);
}
.title-niv2 {
	font-size: rem(20);
	padding: 20px 0;
	color: $primaryColor;
	font-weight: 700;
}
.table-responsive {
	border: none;
}
.table-style {
	margin: 25px 0;
	thead {
		background: $primaryColor;
		color: $white;
		tr {
			th {
				padding: 20px 15px;
			}
		}
	}
	tbody {
		tr {
			td {
				padding: 17px 15px;
			}
		}
	}
}
.link-popup-video {
	position: relative;
	display: block;
	overflow: hidden;
	text-align: center;
	img {
		width: 100%;
		height: auto;
		transition: all 0.5s ease 0s;
	}
	&:before {
		content: "";
		background: $primaryColor url(../images/play.png) no-repeat center center;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		text-align: center;
		position: absolute;
		z-index: 99;
		left: 50%;
		top: 50%;
		@include prefix(transform, translate(-50%, -50%));
		opacity: 0;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
		img {
			opacity: 1;
			@include prefix(transform, scale(1.1));
		}
	}
}
.box-media {
	a {
		position: relative;
		display: block;
		overflow: hidden;
		text-align: center;
	}
	img {
		width: 100%;
		height: auto;
		transition: all 0.5s ease 0s;
		width: 100%;
		height: auto;
	}
	.link-popup-video {
		&:before {
			opacity: 1;
			transition: all 0.35s;
		}
		&:hover {
			&:before {
				opacity: 1;
				background: $secondaryColor url(../images/play.png) no-repeat center center;
			}
		}
	}
	&:hover {
		img {
			opacity: 1;
			@include prefix(transform, scale(1.1));
		}
	}
	.title {
		a {
			color: $primaryColor;
			font-size: rem(20);
			line-height: 1.4;
		}
	}
}
.paragraph--bp-accordion-container {
	.paragraph__column {
		padding-left: 0;
		padding-right: 0;
	}
	.panel-default {
		border: none;
	}
}
.paragraph.paragraph--type--bp-accordion {
	.panel-collapse {
		>.paragraph {
			padding: 40px 35px;
			background: #f4f6fc;
			margin-bottom: 10px;
		}
	}
}
.panel-default {
	>.panel-heading {
		border: 1px solid #efefef;
		display: block;
		width: 100%;
		padding: 10px 20px;
		text-decoration: none;
		text-align: left;
		color: $white;
		background: $primaryColor ;
		margin-bottom: 10px;
		a{
			color: $white;
			font-size: 18px;
		}
	}
}
.alert-custom {
	border-radius: 0;
	padding: 25px;
	i {
		padding-right: 10px;
	}
}



form#views-exposed-form-module-de-recherche-page-1 {
	.form-inline {
		display: flex;
		justify-content: center;
	}
}
.default-filter {
	.js-form-item{margin-right: 10px;}

	.form-inline {
		.control-label {
			font-size: rem(14);
			letter-spacing: 0.09px;
			line-height: 48px;
			color: $primaryColor;
			text-transform: uppercase;
			margin-bottom: 8px;
			padding-right: 10px;
		}
	}
	.bef-exposed-form {
		padding: 50px 0;
		@include media(sm){ padding: 25px;}
		.form-actions{
			position: relative;
		}
		button[data-drupal-selector="edit-reset"] {
			text-indent: -999em;
			width: auto;
			background: transparent;
			border: none;
			padding: 0;
			margin-right: 0;
			position: absolute;
			left: auto;
			top: -30px;
			height: 100%;
			&:after {
				content: '\f1b9';
				font-family: 'Material-Design-Iconic-Font';
				display: block;
				font-size: 30px;
				text-align: center;
				text-indent: 0;
				color: $blue;
				cursor: pointer;
				padding: 0 8px;
				position: relative;
				top: 32%;
				width: 40px;
				height: 30px;
				transition: all 0.5s ease;
			}
			&:active:focus,&:hover {
				border: none;
				background: none;
				box-shadow: none;
			}
		}
		button {
			border: solid 1px $primaryColor;
			background: $primaryColor;
			border-radius: 32px;
			font-size: rem(16);
			font-weight: 500;
			text-align: center;
			color: $white;
			padding: 15px 35px;
			line-height: 1;
			letter-spacing: 1px;
			&:hover {
				border: solid 1px $primaryColor;
				background: $blueV2;
				color: $white;
			}
		}
		.form-group {
			margin: 0;
			flex: 1;
			align-self: inherit;
			@include media(sm){
				width: 100%;
			}
		}
		.form-submit {
			&::before {
				content: none;
			}
		}

		label{
			font-size: rem(18);
			font-weight: bold;
		}
		.nice-select .current{
			color: $titleColor;
		}
		.nice-select.open .list {
			width: 100%;
			color: $titleColor;
			z-index: 110;
			max-height: 366px;
    		overflow: auto;
			.option{
				border-bottom: 1px solid #f3f3f5;
				padding: 10px;
				display: block;
				margin: 0;
			}
		}
		.js-form-item{
			@include media(sm){
				width: 100%;
				display: block;
				
			}

		}
		
		.form-control {
			padding: 0 18px 0 28px;
			border-radius: 32px;
			border: solid 1px #e4e4e4;
			background-color: #fff;
			height: 48px;
			vertical-align: top;
			cursor: pointer;
			color: $textColor;
			font-size: 16px;
			font-weight: 300;
			line-height: 2;
			margin-bottom: 10px;
			@include prefix(box-shadow, none);

			
		}
		.form-select {
			padding: 0 18px 0 28px;
			border-radius: 32px;
			border: solid 1px #e4e4e4;
			background-color: #fff;
			height: 48px;
			padding-right: 40px;
			cursor: pointer;
			color: $textColor;
			@include prefix(box-shadow, none);
			width: 100%;
			font-size: 16px;
			font-weight: 300;
			line-height: 2;
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			&:after{
				border: none;
				transform: none;
				transition: none;
			}
		}
		.bef-datepicker,.nice-select{
			background: url(../images/down.png) 95% center no-repeat;
		}
		input#edit-title {
			background: url(../images/search.png) 95% center no-repeat;
		}
		.form-row{
			position: relative;
			&::before{
				content: "";
				background: url(../images/left-filter.png)  no-repeat;
				border: none;
				width: 36px;
				height: 36px;
				top: -4px;
				position: relative;
				align-self: center;
				@include media(sm){
					display: none;
				}
			}

		}
	}
}
.datepicker-top-left {
	border-top-color: $primaryColor;
}
.datepicker-top-right {
	border-top-color: $primaryColor;
}
.datepicker-panel {
	padding: 8px 0;
	>ul {
		>li {
			line-height: 30px;
		}
	}
}

.col-useful-links {
	border: solid 1px #acc5d9;
	margin-bottom: 20px;
	padding: 35px 20px;
	border-radius: 5px;
	background: #f9f9f9;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.title {
		font-size: rem(17);
		text-transform: uppercase;
		color: $primaryColor;
	}
	.link-list {
		a {
			color: #7c7c7c;
		}
	}
	&:hover {
		background: transparent;
		.link-list {
			a {
				color: $primaryColor;
			}
		}
	}
}

.view-style-glossaire {
	.views-exposed-form {
		.select-wrapper {
			display: none;
		}
		button {
			display: none;
		}
	}
	.filters-alphabet-glossaire {
		padding: 0 0 20px;
		border-bottom: 4px solid #ebe9ea;
		margin: 0 0 30px;
		ul {
			padding: 2px 0;
			margin: 0;
			list-style: none;
			>li {
				width: 40px;
				line-height: 40px;
				border: 1px solid $primaryColor;
				float: left;
				text-align: center;
				margin-right: 5px;
				margin-bottom: 5px;
				height: 40px;
				>a.selected {
					background: $primaryColor;
					color: $white;
				}
				>a {
					display: block;
					color: #7b797e;
					font-weight: 700;
					text-decoration: none;
					background: $white;
					line-height: 38px;
					&:hover {
						background: $primaryColor;
						color: $white;
					}
				}
			}
		}
		.item-alphabet-li {
			&:first-child {
				width: 100px;
			}
		}
	}
}

.box-groupe {
	border: none;
	margin-bottom: 10px;
	.panel-body {
		display: flex;
		align-items: center;
	}
}
.groupe-alpha {
	border: solid 1px $primaryColor;
	background-color: $primaryColor;
	color: $white;
	font-weight: 700;
	padding: 10px 15px;
	width: 50px;
	margin-right: 15px;
	text-align: center;
}
.title-groupe {
	font-size: rem(17);
	text-transform: uppercase;
	font-weight: 700;
}
.content-groupe {
	margin-bottom: 40px;
	padding: 0 15px;
}
.col-temoignage {
	display: flex;
	margin-bottom: 30px;
}
.container-temo {
	background-color: $blueGray;
	padding: 20px 25px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.box-image-title {
	display: flex;
	align-items: center;
	img {
		width: 100px;
		border-radius: 50px;
		height: auto;
	}
}
.title-poste {
	padding-left: 15%;
	h3 {
		font-size: rem(20);
		margin-bottom: 3px;
		font-weight: 700;
	}
	h5 {
		font-size: rem(14);
		color: #8b8989;
	}
}
.content-temo {
	margin-top: 16px;
}
.row-press {
	margin-top: 50px;
}
.row-actualite {
	margin-top: 50px;
}
.row-event {
	margin-top: 50px;
}
.title-details {
	border-bottom: none;
	padding-bottom: 20px;
	font-size: rem(28);
	font-weight: 700;
	color: $primaryColor;
	line-height: 1.3;
}
.contenu-details {
	padding-bottom: 50px;
	p {
		font-size: rem(16);
		line-height: 1.63;
		text-align: left;
		color: $black;
	}
}
.theme-date{
	opacity: 0.7;
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.75;
    text-align: left;
    color: $textColor;
    margin-bottom: 18px;
	.theme-details{
		display: inline-block;
		&::after{
			content: " - ";
			display: inline-block;
   			margin-left: 5px;
		}
	}
	.date-details{
		display: inline-block;
	}
}
.content {
	.image-details {
		margin-top: 20px;
		margin-bottom: 30px;
		overflow: hidden;
		width: 100%;
	}
	.owl-gallery {
		margin-bottom: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid #eee;
	}
}
.image-details {
	img {
		width: 100%;
		height: auto;
	}
}
.link-inscrit {
	margin-bottom: 40px;
	a {
		display: block;
		padding: 17px 25px;
		background-color: $primaryColor;
		border: 1px solid $primaryColor;
		color: $white;
		font-size: rem(18);
		text-align: center;
		transition: 0.5s;
		&:hover {
			background-color: transparent;
			color: $primaryColor;
		}
	}
}



.liste-coment {
	clear: both;
	h2 {
		font-size: rem(30);
		font-weight: 700;
		margin-bottom: 10px;
		color: $primaryColor;
	}
	.control-label {
		color: $primaryColor;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.filter-wrapper {
		margin-top: 10px;
	}
	.comment {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		&:last-child {
			margin-bottom: 50px;
		}
	}
	.indented {
		padding-left: 110px;
		margin-top: -12px;
	}
}
.comment-form {
	button {
		display: inline-block;
		margin-right: 7px;
		padding: 10px 20px;
	}
	.button--primary {
		background-color: $primaryColor;
		border-color: $primaryColor;
		&:hover {
			background-color: transparent;
			border-color: $primaryColor;
			color: $primaryColor;
		}
		&:focus {
			background-color: transparent;
			border-color: $primaryColor;
			color: $primaryColor;
		}
	}
}

.comment__author {
	margin-top: 10px;
	a {
		font-weight: 700;
		text-transform: uppercase;
		color: $primaryColor;
		font-size: rem(15);
	}
}
footer.comment__meta {
	min-width: 120px;
	text-align: center;
	vertical-align: middle;
	color: $primaryColor;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 10px;
	margin-bottom: 10px;
	img {
		margin: 0 auto;
		background: #f8f8f8;
		border-radius: 50px;
		width: 70px;
		height: 70px;
		object-fit: cover;
	}
}
.comment__content {
	position: relative;
	background-color: #f8f8f8;
	padding: 15px;
	flex: 1;
	p {
		line-height: 1.5;
	}
	.links {
		margin-top: 20px;
		text-align: right;
		a {
			color: $primaryColor;
			font-weight: 700;
			margin: 5px;
			&:hover {
				color: $secondaryColor;
			}
		}
	}
}
.comment__time {
	font-size: rem(15);
	color: #adb2b9;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.view-pg-localisation {
	button[aria-label="Fermer"] {
		right: 10px !important;
		top: 20px !important;
	}
	.title {
		font-size: rem(18);
		font-weight: bold;
		line-height: 1.44;
		display: inline-block;
		vertical-align: top;
		color: $blue;
	}
	.header-map {
		padding: 10px;
		border-bottom: solid 1px #e0eeff;
	}
	.content-map {
		padding: 10px 0;
	}
	.wrapper-content {
		padding: 16px;
		background-color: #e9f2f8;
		height: 100%;
	}
	.image {
		min-width: 150px;
		margin-bottom: 8px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.desc-map {
		font-size: rem(13);
		line-height: 1.57;
		color: #4f4f4f;
	}
	.col-agence{
		margin-bottom: 32px;
		flex: 1 1 auto;
	}
}

.sitemap {
	.sitemap-item {
		>h2 {
			color: $primaryColor;
			font-size: rem(20);
			margin-bottom: 15px;
			font-weight: 700;
		}
		width: 48%;
		margin: 1%;
		float: left;
		background: #f4f6fc;
		padding: 25px 32px;
		border-radius: 5px;
	}
	>div {
		>ul {
			margin-bottom: 10px;
		}
	}
	ul {
		>li {
			>a {
				position: relative;
				font-size: rem(16);
				font-weight: 600;
				color: $primaryColor;
				display: block;
				margin-bottom: 20px;
				padding: 0 10px;
				&:hover {
					color: $secondaryColor;
					text-decoration: underline;
					background-color: transparent;
				}
			}
			a {
				&:before {
					content: "";
					display: inline-block;
					position: absolute;
					left: -10px;
					top: 6px;
					background-color: $primaryColor;
					width: 10px;
					height: 10px;
					border-radius: 30px;
				}
			}
			ul{
				margin-left: 20px;
				li{
					a{
						color: $titleColor;
						font-size: rem(16);
						&:before {
							background-color: $black;
							width: 8px;
							height: 8px; 
						}
					}
				}
			}
		}
	}
	.navbar-text {
		float: none;
		margin-left: 0;
		position: relative;
		font-size: rem(16);
		font-weight: 600;
		color: $primaryColor;
		display: block;
		margin-bottom: 10px;
		padding: 0 10px;
		&:before {
			position: absolute;
			content: "";
			display: inline-block;
			left: -10px;
			top: 2px;
			background-color: $primaryColor;
			width: 10px;
			height: 10px;
			border-radius: 30px;
		}
	}
	.dropdown-menu {
		display: block;
		position: relative;
		background: transparent !important;
		@include prefix(box-shadow, none);
		border: none;
		float: none;
		padding-left: 22px;
		top: 0;
		>li {
			a {
				&:before {
					top: 7px;
					background-color: $secondaryColor;
				}
			}
		}
	}
}
.sitemap-item {
	.menu {
		padding-left: 30px;
		margin-top: 10px;
	}
}
.form_contact{
	background-image: linear-gradient(to bottom, #f4f6fc 0%, rgba(255, 255, 255, 0) 100%);
	padding-top: 50px;
}
.container-form {
	.form-textarea{
		margin-bottom: 32px;
	}
	.form-control {
		@include prefix(box-shadow, none);
		min-height: 45px;
		border-radius: 0;
		font-size: rem(16);
		color: #999999;
		width: 100%;
		border: 1px solid  rgba(180, 209, 231, 0.3);
		.current {
			color: #939393;
		}
	}
	legend {
		color: #435463;
		margin-bottom: 10px;
		margin-top: 20px;
		display: block;
	}
	label.error {
		color: red;
		margin-top: 8px;
	}
	.label-form,label {
		color: $blueV2;
		margin-bottom: 10px;
		display: block;
		font-weight: 600;
	}
	.control-label {
		color: #435463;
		margin-bottom: 10px;
		margin-top: 20px;
		display: block;
	}
	.txt_mention {
		.control-label {
			margin-top: 20px;
			font-size: rem(12);
			color: #737373;
			font-style: italic;
			line-height: 1.5;
		}
	}
	.form-textarea {
		min-height: 200px;
	}
	label.custom_file {
		background: $primaryColor;
		font-size: rem(16);
		font-weight: 500;
		line-height: 2.25;
		color: $white;
		padding: 6px 16px 5px 56px;
		display: inline-block;
		text-decoration: none;
		border: 1px solid $primaryColor;
		position: relative;
		cursor: pointer;
		&:before {
			content: "";
			width: 24px;
			height: 24px;
			background-image: url(../images/icon-upload.png);
			position: absolute;
			top: 12px;
			left: 16px;
		}
	}
	.file {
		display: inline-block;
		font-weight: 400;
		margin: 5px 0;
		width: auto;
		background: $primaryColor;
		font-size: rem(16);
		font-weight: 500;
		line-height: 2.25;
		color: $white;
		padding: 4px 16px 2px 16px;
		display: inline-block;
		text-decoration: none;
		border: 1px solid $primaryColor;
		>span {
			a {
				background: transparent;
				color: $white;
				border-bottom: none;
				border-top: none;
				display: inline;
			}
		}
	}
	.btn-danger {
		display: none;
	}
}
.form-actions {
	.btn.bouton-blue-ciel {
		display: inline-block;
		color: #fff;
		padding: 8px 50px;
		border-radius: 41px;
		background-color: $btnBlueCiel;
		font-size: 16px;
		font-weight: 600;
		line-height: 2;
		border: 1px solid $btnBlueCiel;
		width: 100%;
		&::before{
			display: none;
		}
	}
}

.link_style1 {
	background-color: $primaryColor;
	padding: 10px 15px;
	border-color: $primaryColor;
	color: $white;
	font-weight: 700;
	&:hover {
		background-color: transparent;
		border-color: $primaryColor;
		color: $primaryColor;
	}
	&:focus {
		background-color: transparent;
		border-color: $primaryColor;
		color: $primaryColor;
	}
}

.webform-confirmation {
	padding: 40px;
	text-align: center;
	.box_succes_error {
		.title-succes-error {
			font-size: rem(25);
			line-height: 1.5;
			margin-bottom: 40px;
		}
	}
	.webform-confirmation__back {
		a {
			background: $primaryColor;
			border: 1px solid $primaryColor;
			color: $white;
			padding: 10px 25px;
			&:hover {
				background: transparent;
				color: $primaryColor;
			}
		}
	}
	.box_succes_msg{
		background-color: $blueGray;
		padding: 32px;
		width: 60%;
		text-align: center;
		margin: 0 auto;
		@include media(sm){
			width: 100%;
			padding: 15px;
			
		}
		p{
			opacity: 0.87;
			font-size: rem(18);
			width: 80%;
			font-weight: 500;
			margin: 0 auto;
			line-height: 1.78;
			color: $textColor;
			margin-bottom: 18px;
		}
	}
}
.popup-img {
	.field--item {
		img {
			width: 100%;
			height: auto;
		}
	}
}


.owl-gallery {
	.owl-nav {
		margin-top: 20px;
		button.owl-prev {
			background-color: $primaryColor !important;
			border: 1px solid $primaryColor;
			padding: 10px !important;
			color: $white;
			border-radius: 0;
			&:hover {
				background-color: transparent !important;
				border: 1px solid $primaryColor;
				color: $primaryColor;
			}
		}
		button.owl-next {
			background-color: $primaryColor !important;
			border: 1px solid $primaryColor;
			padding: 10px !important;
			color: $white;
			border-radius: 0;
			&:hover {
				background-color: transparent !important;
				border: 1px solid $primaryColor;
				color: $primaryColor;
			}
		}
	}
}
.listes-images {
	padding: 0 0 50px;
	.field--item {
		width: 23%;
		float: left;
		margin: 0 1% 1%;
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
	}
}



.slider-one-item {
	.box-image-title {
		img {
			width: 100px !important;
		}
		.title-poste {
			padding-left: 20px;
		}
	}
	.content-temo {
		p {
			font-size: rem(15);
		}
	}
	.container-temo {
		background-color: transparent;
	}
}





.owl-actualite {
	.owl-item {
		display: flex;
	}
	.owl-stage {
		display: flex;
	}
}

.owl-theme {
	.owl-dots {
		.owl-dot.active {
			span {
				background: $primaryColor;
			}
		}
		.owl-dot {
			&:hover {
				span {
					background: $primaryColor;
				}
			}
		}
	}
}


.no-padding {
	padding: 0 !important;
}
.content_404 {
	position: relative;
	min-height: 873px;
	display: flex;
	align-items: center;
	background: #e9f3ff;
	background: -webkit-linear-gradient(to bottom, $white, #e9f3ff);
	background: linear-gradient(to bottom, $white, #e9f3ff);
	border-bottom: 1px solid rgba(175, 206, 244, 0.39);
	background-image: url(../images/bg-img.png);
	background-size: cover;
	background-position: top center;
	.title-404 {
		font-size: rem(48);
		font-weight: 600;
		text-align: left;
		color: $white; 
	}
	.sub-title {
		margin-bottom: 5px;
		font-size: rem(36);
		font-weight: 600;
		text-align: left;
		color: $white;
	}
	p{
		font-size: rem(16);
		line-height: 1.5;
		letter-spacing: 0.64px;
		text-align: left;
		color: $white;
		margin-bottom: 40px;
	}
	a {
		padding: 16px 52px;
		line-height: 1;
		font-size: rem(16);
		color: $white;
		display: inline-block;
		background: #0066b3;
		&::before{
			content: "";
			background-repeat: no-repeat;
			width: 20px;
			height: 19px;
			display: inline-block;
			background-image: url(../images/left.png);
			top: 5px;
			left: -30px;
			position: relative;
		}
		&:hover{
			color: $white;
			background: $blueCiel;
		}
	}
}
.green-link {
	padding: 12px 40px;
	border-radius: 3px;
	border: solid 2px $green;
	background-color: $green;
	line-height: 1.2;
	color: $white;
	display: inline-block;
}
.btn_blue {
	font-size: rem(14);
	font-weight: 600;
	text-align: center;
	padding: 14px 46px;
	border-radius: 3px;
	border: solid 2px $btnBlue;
	background-color: $btnBlue;
	line-height: 1.2;
	color: $white;
	display: inline-block;
}
.view-pg-faq {
	.card {
		position: relative;
		width: 100%;
		text-align: left;
		color: $black;
		text-decoration: none;
		padding: 0 24px 0 30px;
		font-weight: 600;
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.125);
		border-radius: 0;
		.card-body {
			font-weight: 400;
		}
		@include media(md){
			padding-left: 0;
		}
	}
	.btn-link {
		font-weight: 600;
		color: $black;
	}
	.btn.focus {
		@include prefix(box-shadow, none);
	}
	.btn {
		&:focus {
			@include prefix(box-shadow, none);
		}
	}
	.btn-link[aria-expanded="true"] {
		color: $primaryColor;
		&:before {
			position: absolute;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			right: 0;
			width: 20px;
			height: 20px;
			//top: 35%;
			content: "\f00d";
		}
	}
	.btn-link[aria-expanded="false"] {
		&:before {
			position: absolute;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			right: 0;
			width: 20px;
			height: 20px;
			//top: 35%;
			content: "\f067";
		}
	}
}
.view-pg-news {
	.content-actualite {
		flex: 1 0 auto;
	}
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    margin-top: 50px;
	.page-item.active {
		display: block !important;
		.page-link {
			background-color: $linkColor;
			border-radius: 50%;
			color: $white;
		}
	}
	.page-item {
		&:last-child{
			display: none;
		}
		&:first-child{
			display: none;
		}
	}
	.page-link[rel="prev"]{
		border: none;
		width: 14px;
		height: 23px;
		display: inline-block;
		font-size: 0;
		background-image: url(../images/pagination-left.png);
		vertical-align: bottom;
		background-repeat: no-repeat;
		&:focus {
			@include prefix(box-shadow, none);
		}
		&:hover {
			background-color: transparent;
		}
	}
	.page-link[rel="next"]{
		border: none;
		width: 14px;
		height: 23px;
		display: inline-block;
		font-size: 0;
		background-image: url(../images/pagination-right.png);
		vertical-align: bottom;		
		background-repeat: no-repeat;
		&:focus {
			@include prefix(box-shadow, none);
		}
		&:hover {
			background-color: transparent;
		}
	}
	.page-link {
		font-size: rem(16);
		font-weight: 600;
		text-align: center;
		border: solid 1px #bdbdbd;
		margin: 0 8px;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		padding: 0;
		color: $textColor;
		display: flex;
		align-items: center;
		justify-content: center;
		&:focus {
			@include prefix(box-shadow, none);
		}
		&:hover {
			background-color: $linkColor;
			color: $white;
		}
	}
}
fieldset.form-type-select {
	display: flex;
	flex-wrap: wrap;
}
.view-list {
	.media {
		margin-bottom: 16px;
		background: #f9f9f9;
		a {
			font-size: rem(18);
			font-weight: bold;
			line-height: 1.45;
			color: #333;
		}
		.media-body {
			display: flex;
			flex-direction: column;
			line-height: 1.45;
			color: #333;
			padding: 16px;
		}
	}
}
.filter-not-found {
	background-color: #f9f9f9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 24px;
	flex: 1 1 auto;
	.link-blue {
		background-color: $primaryColor;
		color: $white;
		border-radius: 5px;
		padding: 5px 16px;
		display: inline-block;
		margin-top: 20px;
	}
	div{display: inline-block;}
}
.footer__full_width {
	background: $primaryColor;
}
.inner_banner {
	position: relative;
	.title{
		font-size: rem(54);
		font-weight: 600;
		line-height: 1.3;
		text-align: center;
		color: $white;
		margin-bottom: 24px;
		@include media(xl){
			font-size: rem(38);
		}
		@include media(md){
			font-size: rem(24);
			margin-bottom: 14px;
		}
		@include media(sm){
			font-size: rem(18);
			margin-bottom: 12px;
		}
	}
	p{
		opacity: 0.7;
		font-size: rem(24);
		font-weight: 500;
		line-height: 1.33;
		text-align: center;
		color: $white;
		@include media(xl){
			font-size: rem(22);
		}
		@include media(md){
			font-size: rem(18);
		}
		@include media(sm){
			font-size: rem(14);
		}
	}
	img{
		@include media(sm){
			height: 160px !important;
		}
	}
}
.group-top-title {
	position: absolute;
	top: 50%;
	left: 50%;
	@include prefix(transform, translate(-50%, -50%));
	color: $white;
}

.forfait {
	padding: 72px 0;
	@include media(sm){
		padding: 32px 0;
	}
	@include media(xs){
		padding: 36px 0;
		text-align: center;
	}
	.subtitle {
		opacity: 0.87;
		font-size: rem(18);
		font-weight: 500;
		line-height: 1.78;
		text-align: left;
		color: $primaryColor;
	}
	.title {
		margin: 16px 0 48px;
		font-size: rem(38);
		font-weight: 600;
		line-height: 1.47;
		text-align: left;
		color: #232536;
		@include media(md){
			margin-bottom: 40px;
			font-size: rem(24);
		}
		@include media(xs){
			font-size: rem(24);
			text-align: left;
		}
	}
	p{
		margin-bottom: 32px;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.78;
		text-align: left;
		color: #282938;
		@include media(xs){
			text-align: left;
			font-size: rem(14);
		}
		span{
			position: relative;
			display: block;
			font-weight: 500;
			line-height: 1.78;
			font-size: 24px;
			text-align: left;
			color: $titleColor;
		}
	}
	img{
		@include media(md){
			margin: 16px 0;
		}
	}
}


/* =======================================================================
## custom element
========================================================================== */ 
.bouton-green {
	@include button($btnGreen, $white);
	@include media(xs){
		padding: 8px 16px; 
		font-size: 10px;
	}
}
.bouton-blue-ciel {
	@include button($btnBlueCiel, $white);
	@include media(md){
		padding: 8px 32px;
		font-size: 14px;
		margin-bottom: 8px;
	}
	@include media(xs){
		padding: 8px 16px; 
		font-size: 10px;
	}
}
.bouton-blue {
	@include button($btnBlue, $white);
	@include media(xs){
		padding: 8px 16px; 
		font-size: 10px;
	}
}
.bouton-orange {
	@include button($btnOrange, $white);
	@include media(xs){
		padding: 8px 12px; 
		font-size: 10px;
	}
}
.section-bg-gray{
	background-color: $bgGrayColor
}
.link-icon {
    display: inline-block;
    font-family: $font;
	font-size: rem(16);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: $primaryColor;
	text-decoration: none;
	margin: rem(0) rem(0) rem(0) rem(32);
	i{
		padding-left: rem(8);
	}
	&:hover{
		color: $secondaryColor;
		text-decoration: none;
	}
	@include media(xl){
		margin: rem(32) 0 0 0;
	}
	@include media(md){
		margin: 0;
	}
	@include media(sm){
		margin-left: 24px;
		margin-top: 8px;
	}
	@include media(xs){
		display: block;
		text-align: center;
		width: 100%;
		font-size: rem(14);
		margin-left: 0;
	}
}
.custom-list{
	li{
		position: relative;
		padding: rem(16) rem(0) rem(16) rem(40);
		font-family: $font;
		font-size: rem(18);
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 2;
		letter-spacing: normal;
		color: $white;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
		&:before{
			position: absolute;
			content: url(../images/check.png);
			left: 0;
			top: 22px;
			width: rem(24);
			@include media(sm){
				top: 16px;
			}
		}
		@include media(sm){
			padding: rem(10) rem(0) rem(10) rem(40);
			font-size: rem(16);
		}
	}
}
/* =======================================================================
## fin custom element
========================================================================== */ 

.section-pourquoi-icons{
	padding: 90px 0 32px;
	@include media(sm){
		padding: 32px 0;
	}
	@include media(xs){
		padding: 40px 0 32px;
	}
	@include background-gradient (#f4f6fc, rgba(255, 255, 255, 0), 'vertical');
	  .view-pourquoi{
		.icon{
			img{
				width: auto;
				@include media(xs){
					margin: 0 auto;
				}
			}
		}
		.title {
			margin: 16px 0 33px;
			font-family: $font;
			font-size: rem(20);
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: $titleColor;
			@include media(xl){
				font-size: rem(16);
			}
			@include media(xs){
				text-align: center;
			}
		  }
		  .link{
			@include media(xs){
				text-align: center;
			}
		  }
		  .link-view {
			display: inline-block;
			font-family: $font;
			font-size: rem(16);
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.78;
			letter-spacing: normal;
			text-align: left;
			color: $linkColor;
			i {
				padding-left: 8px;
			}
			
		}
	  }
	  .view-pourquoi-type-2{
		  padding: rem(70) rem(0) rem(0);
		.icon{
			img{
				width: auto;
			}
		}
		.small-title-view{
			margin: rem(0) rem(14) rem(12) rem(15);
			font-family: $font;
			font-size: rem(16);
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
			text-align: center;
			color: $titleColor;
		}
		.wrapper-bloc {
			padding-bottom: rem(40);
			background-color: $primaryColor;
			height: 100%;
			@include prefix(border-radius, 0 0 rem(8) rem(8));
			.bg-blue{
				background-color: $blueV2;
				height: 100%;
				padding: rem(32) rem(32) rem(28);
				@include prefix(border-radius, 50% / 0 0 rem(50) rem(50))
			}
			.title{
				margin: rem(24) rem(9) rem(12) rem(0);
				font-family: $font;
				font-size: rem(18);
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: normal;
				color: $white;
			}
			.desc{
				margin: rem(12) rem(0) rem(0);
				font-family: $font;
				font-size: rem(15);
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.75;
				letter-spacing: normal;
				text-align: left;
				color: #fff;
			}
		}
		.owl-stage{
			display: flex;
				.owl-item{
					display: flex;
				}
			@include media(sm){
				display: block;
			}
		}
	  }
}
.title-view {
	margin: rem(0) rem(16) rem(50) rem(16);
    font-family: $font;
	font-size: rem(48);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: $titleColor;
	@include media(md){
		font-size: rem(32);
	}
}

.row-avantage{
	padding: rem(70) rem(0) rem(96);
	@include media(sm){
		padding: 32px 8px;
	}
	.box-avantage{
		flex: 1;
		@include media(sm){
			flex: auto;
			padding: 0 !important;
			margin-bottom: rem(16);
		}
		.col-avantage{
			font-family: $font;
			padding: rem(40) rem(48) rem(40) rem(32);
			background-color: #e9f2f8;
			height: 100%;
			.small,.small-title{
				margin: rem(0) rem(20) rem(16) rem(0);
				font-size: rem(16);
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.75;
				letter-spacing: normal;
				color: $titleColor;
				@include media(sm){
					text-align: center;
				}
			}
			.title{
				margin: rem(16) rem(0) rem(32);
				font-size: rem(24);
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.33;
				letter-spacing: normal;
				text-align: left;
				color: $titleColor;
				@include media(xl){
					font-size: rem(20);
				}
				@include media(sm){
					text-align: center;
				}
			}
			@include media(sm){
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}


.wrapper-pack-service {
	position: relative;
	padding: rem(100) rem(0);
	background-color: $blueV2;
	color: $white;
	font-family: $font;
	@include media(sm){
		padding: rem(50) rem(0);
	}
	.container {
		margin: 0 auto;
	}
	&:before{
		position: absolute;
		content: "";
		width: 50%;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background-image: url(../images/bg-packs.png);
		background-size: cover;
		@include media(sm){
			width: 100%;
		}
	}
	.bloc-pack{
		@include media(sm){
			margin-bottom: 32px;
		}
		.small-title{
			font-size: rem(16);
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
		}
		.title-blanc {
			margin: rem(8) rem(0) rem(24);
			font-size: rem(48);
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.37;
			letter-spacing: normal;
			@include media(sm){
				font-size: rem(40);
			}
			@include media(xs){
				font-size: rem(38);
			}
		}
		.desc{
			margin: rem(24) rem(24) rem(56) rem(0);
			font-size: rem(16);
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.94;
			letter-spacing: normal;
		}
		.link-icon{
			color: $white;
			&:hover{
				color: $orange;
			}
		}
	}

	.service-unique{
		padding-left: rem(16);
		.title{
			margin: rem(0) rem(2) rem(16) rem(0);
			font-size: rem(32);
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
		}
		.desc {
			margin: rem(16) rem(2) rem(40) rem(0);
			font-size: rem(16);
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
			@include media(sm){
				margin-bottom: 0;
			}
		}
	}
}

.section-conseils {
    padding: rem(70) rem(0);
	@include media(sm){
		padding: rem(24) rem(0);
	}
	.view-header{
		padding: rem(0) rem(0) rem(50);
		.title-view {
			margin: rem(0);
			flex: 1;
		}
	}
	.item-conseil{
		font-family: $font;
		.date{
			margin: rem(16) rem(0);
			opacity: 0.7;
			font-size: rem(16);
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
			color: $titleColor;
		}
		.title{
			margin: rem(16) rem(0) rem(8);
			a {
				font-size: rem(20);
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.5;
				letter-spacing: normal;
				color: $titleColor;
			}
		}
		.desc{
			margin: rem(8) rem(0) rem(16);
			opacity: 0.7;
			font-size: rem(16);
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.75;
			letter-spacing: normal;
			color: $titleColor;
		}
		.link-icon{
			color: $titleColor;
			margin: rem(0);
			&:hover{
				color: $orange;
			}
		}
	&:hover{
		.title{
			a{
				color: $orange;
			}
		}
	}
	}
}


.services-mattel {
	padding: rem(50) rem(0);
	.icon{
		img{
			width: auto;
			margin: 0 auto;
		}
	}
	.wrapper-bloc {
		padding-bottom: rem(16);
		background-color: #e9f2f8;
		height: 100%;
		@include prefix(border-radius, rem(8));
		.bg-blue{
			background-color: #f4f8fb;
			min-height: rem(104);
			padding: rem(32) rem(32) rem(28);
			@include prefix(border-radius, 50% / 0 0 rem(50) rem(50));
		}
		.title{
			margin: rem(32) rem(32) rem(0);
			font-size: rem(20);
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: center;
			color: $titleColor;
		}
	}
	.owl-stage{
		display: flex;
			.owl-item{
				display: flex;
				.item-service{
					width: 100%;
				}
			}
		@include media(sm){
			display: block;
		}
	}
}
.node__content{
	margin-top: 0;
}
ul.carousel-banniere{
	margin-bottom: 0;
	.owl-item{
		.item {
			padding: 0;
			position: relative;
		}
	}
}
.home-news{
	padding: 72px 0;
	@include media(xs){
		padding: 44px 0;
	}
	.header-blc-act{
		margin-bottom: 56px;
		@include media(xs){
			margin-bottom: 27px;
		}
		
		&:after {
			display: none;
		}
		.title{
			font-size: rem(48);
			font-weight: 600;
			line-height: 1.33;
			text-align: left;
			color: $titleColor;
			@include media(md){
				font-size: rem(38);
			}
			@include media(sm){
				font-size: rem(32);
			}
			@include media(xs){
				font-size: rem(26);
			}
		}
		.link{
			font-size: rem(16);
			font-weight: 500;
			line-height: 2;
			text-align: right;
			color: $blueCiel;
			@include media(md){
				font-size: rem(14);
			}
			@include media(xs){
				font-size: rem(12);
			}
			&:after {
				content: '\f301';
				font-family: 'Material-Design-Iconic-Font';
				padding-top: 5px;
				position: relative;
				top: 2px;
				padding-left: 16px;
				@include media(xs){
					padding-left: 8px;
				}
			}
		}
	}
	.content-actualite{
		.box-img-title{
			position: relative;
			.theme-news{
				position: absolute;
				padding: 8px;
				border-radius: 4px;
				background-color: $green;
				left: 16px;
				top: 16px;
				font-size: 14px;
				font-weight: 600;
				text-align: left;
				color: #fff;
			}
			img{
				width: 100%;
			}
		}
		.theme {
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			color: #37aad8;
		}
		.container-content{
			padding-top: 32px;
			.date {
				opacity: 0.7;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.75;
				text-align: left;
				color: $titleColor;
				margin-bottom: 24px;
				@include media(md){
					margin-bottom: 0;
				}
			}
			.title{
				font-size: 24px;
				font-weight: 600;
				line-height: 1.5;
				text-align: left;
				color: $titleColor;
				margin-bottom: 16px;
				min-height: 68px;
				a{
					color: $titleColor;
				}
			}
			.link-more {
				font-size: 16px;
				font-weight: 500;
				line-height: 1.75;
				text-align: left;
				color: $titleColor;
				a{
					color: $titleColor;
					&:after {
						content: '\f301';
						font-family: 'Material-Design-Iconic-Font';
						padding-top: 5px;
						position: relative;
						top: 2px;
						padding-left: 16px;
					}
				}
			}
			.text{
				opacity: 0.7;
				font-size: rem(16);
				line-height: 1.75;
				text-align: left;
				color: $titleColor;
				min-height: 80px;
				margin-bottom: 16px;
			}
			@include media(md){
				margin-bottom: 16px;
			}
		}
	}
	
}
.view-pourquoi-operateur{
	padding: 72px;
	@include media(md){
		padding: 58px;
	}
	@include media(sm){
		padding: rem(32) rem(16);
	}
	.icon{
		display: inline-flex;
		margin-top: 8px;
		img{
			width: auto;
		}
	}
	.item{
		padding: 32px;
		background: #e9f2f8;
		text-align: center;
		position: relative;
		z-index: 9;
		&:before{
			content: "";
			background: rgba(255,255,255,0.7);
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 104px;
			z-index: 2;
			-webkit-border-bottom-right-radius: 100px;
			-webkit-border-bottom-left-radius: 100px;
			-moz-border-radius-bottomright: 100px;
			-moz-border-radius-bottomleft: 100px;
			border-bottom-right-radius: 100%;
			border-bottom-left-radius: 100%;
		}
	}
	.operateur {
		font-size: 18px;
		line-height: 2.67;
		strong{
			display: block;
			font-size: 30px;
			font-weight: 600;
			line-height: 1.6;
			text-align: center;
			color: $titleColor;
		} 
	}
	.wrapper-bloc {
		margin-bottom: 32px;
		position: relative;
		z-index: 9;
	}
}
.eligibilite{
    background-image: url(../images/map3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	&:before{
		content: "";
		background-image: linear-gradient(to right, #143f6e 0%, $primaryColor 34%);
		opacity: 0.86;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		@include media(sm){
			width: 100%;
		}
	}
	.subtitle{
		font-size: 16px;
		font-weight: 500;
		line-height: 1.75;
		text-align: left;
		color: #fff;
	}
	.title{
		margin: 5.8px 0 42.4px;
		font-size: rem(54);
		font-weight: 600;
		line-height: 1.33;
		text-align: left;
		color: #fff;
		@include media(md){
			font-size: rem(32);
			margin-bottom: 32px;
		}
	}
	p{
		font-size: rem(18);
		font-weight: 500;
		line-height: 1.56;
		text-align: left;
		color: #fff;
		margin-bottom: 54px;
		@include media(md){
			font-size: rem(14);
			margin-bottom: 32px;
		}
	}
	.contenue{
		padding: 138px 0 112px 0;
		@include media(xl){
			padding: 52px 0;
		}
	}
	.bouton-orange{
		color: #1b1c2b;
		&:hover{
			color: $btnOrange;
		}
		@include media(md){
			padding: 8px 34px;
		}
	}
	img{
		position: absolute;
		bottom: 0;
		width: 100%;
		@include media(sm){
			display: none;
		}
	}
}
.view-blc-mediatheque{
	padding: 88px 0;
	@include media(md){
		padding: 28px 0;
	}
	.field--name-bp-header{
		font-size: 48px;
		font-weight: 600;
		line-height: 1.33;
		text-align: left;
		color: $titleColor;
		margin-bottom: 64px;
		@include media(md){
			margin-bottom: 32px;
			font-size: 38px;
		}
	}
	.container-content{
		padding-top: 32px;
		.date {
			opacity: 0.7;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			color: #282938;
			margin-bottom: 24px;
		}
		@include media(sm){
			padding:32px 20px 0 20px;
		}
	}
	.view-header {

		height: 74px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@include media(sm){
			width: 100%;
			float: left;
		}
		.header-blc-media a{
			font-size: 16px;
			font-weight: 500;
			line-height: 2;
			text-align: right;
			color: $linkColor;
			position: relative;
			float: right;
			&::after{
				@include arrow-right('blue');
				@include media(md){
					left: 0;
					margin-left: 4px;
				}
			}
			&:hover:after{
				position: relative;
    			left: 8px;
				transition: .5s;
			}
			@include media(md){
				float: left !important;
				margin-bottom: 16px;
				font-size: 12px;
				text-align: left;
			}
		}
	}

	.media-list{
		.title a{
			font-size: 24px;
			font-weight: 600;
			line-height: 1.25;
			text-align: left;
			color: #14142b;
			margin: 32px 0 16px 0;
			min-height: 60px;
		}
		.text {
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
			color: #14142b;
			margin-bottom: 24px;
			min-height: 74px;
		}
		.box-media{
			.link-popup-video {
				height: 50px;
				width: 100%;
				padding-left: 56px;
				display: flex;
				align-items: center;
				font-size: 16px;
				font-weight: 600;
				line-height: 1.5;
				text-align: left;
				color: #37aad8;
				&::before{
					left: 24px;
					background-color: #37aad8;
				}
			}
		}
	}
	
}
.offres{
	background-image: linear-gradient(to right, #1e2946 29%, #074174 100%);
	img{
		width: 100%;
		@include media(xl){
			position: absolute;
			top: 0;
			width: 100%;
			height: 100% !important;
		}
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
		overflow: hidden;
	}
	.contenue {
		padding: 0 34px;
		@include media(xl){
			padding: 34px;
		}
		@include media(sm){
			padding: 34px;
		}
		.subtitle{
			font-size: 16px;
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			color: #fff;
		}
		.title{
			font-size: rem(48);
			font-weight: 600;
			line-height: 1.33;
			text-align: left;
			color: #fff;
			width: 55%;
			margin: 8px 0;
			@include media(xl){
				width: 100%;
				font-size: rem(32);
			}
			@include media(md){
				width: 100%;
				font-size: rem(24);
			}
		}
		p{
			font-size: 18px;
			line-height: 1.94;
			text-align: left;
			color: #fff;
			width: 40%;
			margin-bottom: 56px;
			@include media(xl){
				width: 100%;
				margin-bottom: 50px;
			}
			@include media(sm){
				font-size: rem(14);
			}
		}
	}
}

.contact-blc {
    padding: 89px 0 96px 0;
	text-align: center;
	@include media(sm){
		text-align: inherit;
		padding: rem(32) rem(0);
	}
	.content-wrapper{
		.subtitle{
			font-size: 16px;
			font-weight: 500;
			line-height: 1.75;
			text-align: center;
			color: $titleColor;
			@include media(sm){
				text-align: inherit;
			}
		}
		.title{
			font-size: 48px;
			font-weight: 600;
			line-height: 1.33;
			text-align: center;
			color: $titleColor;
			margin-top: 12px;
			margin-bottom: 16px;
			font-size: 40px;
			@include media(sm){
				text-align: inherit;
				font-size: rem(24);
			}
		}
		p{
			opacity: 0.87;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.78;
			text-align: center;
			color: $titleColor;
			width: 80%;
			margin: 0 auto;
			@include media(sm){
				text-align: inherit;
				width: 100%;
				margin: 0;
				font-size: rem(16);
			}
		}
		a.bouton-orange {
			margin-top: 119px;
			font-size: 18px;
			line-height: 1.78;
			color: $titleColor;
			align-self: center;
			@include media(xl){
				font-size: 14px;
				padding: 14px 10px;
			}
			@include media(md){
				line-height: 1;
				margin-top: 88px;
			}
			@include media(sm){
				margin-top: 28px;
			}
			
		}
		img{
			@include media(md){
				width: 250px;
			}
			@include media(sm){
				display: none;
			}
		}
	}
}
.bg-forfait {
    background-image: linear-gradient(to bottom, #f4f6fc 0%, rgba(255, 255, 255, 0) 100%);
	.view-pg-forfait{
		padding: 90px 0 62px 0;
		.item-forfait {
			background-color: #f4f6fc;
			padding-bottom: 56px;
			height: 100%;
			-webkit-border-radius: 0 0 0.5rem 0.5rem;
			-moz-border-radius: 0 0 .5rem .5rem;
			-ms-border-radius: 0 0 .5rem .5rem;
			-o-border-radius: 0 0 .5rem .5rem;
			border-radius: 0 0 0.5rem 0.5rem;
			&:hover{
				background-color: $primaryColor;
				.wrapper-forfait{
					background-image: url('../images/mask.png');
					background-repeat: no-repeat;
					background-size: cover;
					background-color: unset;
					.title a,.text,.prix-wrapper{
						color: $white;
					}
					.code {
						.value{
							color: $white;
						}
					}
					.duree {
						color: $secondaryColor;
					}
					.prix{
						color: $secondaryColor;
					}
					.image {
						img {
							border-color:  $secondaryColor;
						}
						&:after{
							background-color: $secondaryColor;
						}
					}
				}
				.link-more a {
					background-color: $secondaryColor;
					color: $titleColor;
				}
				.link-profite a {
					background-color: $white;
					color: $blueCiel;
				}
			}
			@include media(md){
				background-color: $primaryColor;
				.wrapper-forfait-produit{
					background-color: rgba(255, 255, 255, 0.91);
					.prix{
						color: $secondaryColor;
					}
					.image {
						img {
							border-color:  $secondaryColor;
						}
						&:after{
							background-color: $secondaryColor;
						}
					}
				}
				.link-more a {
					background-color: $secondaryColor !important;
					color: $titleColor !important;
				}
				.link-profite a {
					background-color: $white !important;
					color: $blueCiel !important;
				}
			}
		}


		.content-wrapper {
			text-align: center;
			.subtitle{
				font-size: rem(16);
				font-weight: 500;
				line-height: 1.75;
				color: $titleColor;
			}
			.title{
				font-size: rem(48);
				font-weight: 600;
				line-height: 1.33;
				color: $titleColor;
				margin-top: 12px;
			}
			p{
				opacity: 0.87;
				font-size: rem(18);
				font-weight: 500;
				line-height: 1.78;
				color: $titleColor;
				width: 72%;
				margin: 16px auto 62px auto;
			}
		}
		.slider-thre-item{
			.owl-stage{
				display: flex;
			}
		}
		.wrapper-forfait{
			background-color: rgba(255, 255, 255, 0.5);
			padding: 42px 28px 56px 28px;
			border-radius: 12px;
			-webkit-border-radius: 50%/0 0 3.125rem 3.125rem;
			-moz-border-radius: 50%/0 0 3.125rem 3.125rem;
			-ms-border-radius: 50%/0 0 3.125rem 3.125rem;
			-o-border-radius: 50%/0 0 3.125rem 3.125rem;
			border-radius: 50%/0 0 3.125rem 3.125rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 510px;
			.container-title-duree {
				min-height: 260px;
			}
			.title {
				a {
					font-size: rem(36);
					font-weight: 600;
					line-height: 1.56;
					text-align: left;
					color: $linkColor;
					z-index: 3;
					position: relative;
				}
				@include media(xl){
					min-height: 120px;
				}
			}
			.duree {
				font-size: rem(16);
				font-weight: 600;
				line-height: 2;
				text-align: left;
				color: $titleColor;
			}
			.text {
				font-size: rem(20);
				line-height: 1.4;
				text-align: left;
				color: $titleColor;
				margin-top: 24px;
				min-height: 120px;
				z-index: 3;
    			position: relative;
			}
			.box-image {
				margin-top: 12px;
				z-index: 3;
    			position: relative;
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				.image {
					position: relative;
					height: auto;
					z-index: 2;
					margin-bottom: 28px;
					img {
						border-radius: 50%;
						border: 2px solid #2fabdf;
						position: relative;
						z-index: 2;
					}
					&:after{
						content: "";
						transform: rotate(-45deg);
						background-color: #2fabdf;
						position: absolute;
						width: 42px;
						height: 42px;
						left: 25%;
						top: 55%;
						z-index: 1;
					}
				}
			}
			.code {
				display: flex;
				align-items: center;
				font-size: 1.5rem;
				font-weight: 600;
				text-align: left;
				color: $orange;
				.value {
					color: $blue;
					padding-left: 10px;
				}
			}
			.prix-wrapper {
				font-size: rem(16);
				line-height: 1.75;
				text-align: left;
				color: $titleColor;
				flex: 1;
				.prix {
					font-size: rem(32);
					font-weight: 600;
					line-height: 1.75;
					text-align: left;
					color: $primaryColor;
				}
			}
			
		}
		.link-more {
			margin-top: 36px;
			text-align: center;
			a {
				padding: 12px 51px;
				border-radius: 41px;
				background-color: $primaryColor;
				font-size: rem(18);
				font-weight: 600;
			//	line-height: 1.78;
				text-align: center;
				color: $white;
				display: inline-block;
				min-width: 250px;
			}
		}
		.wrapper-links{
			min-height: 154px;
			.link-profite {
				margin-top: 16px;
				text-align: center;
				a {
					padding: 12px 51px;
					border-radius: 41px;
					background-color: $btnBlueCiel;
					color: $white;
					font-size: rem(18);
					font-weight: 600;
					//line-height: 1.78;
					text-align: center;
	
					display: inline-block;
					min-width: 250px;
				}
			}
		}

		.link-list {
			margin-top: 50px;
			font-size: rem(16);
			font-weight: 500;
			line-height: 2;
			text-align: right;
			color: $linkColor;
			transition: .5s;
			&::after{
				@include arrow-right('blue');
			}
		}
	}
}
.subtitle-view {
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.75;
    color: $titleColor;
}
.view-pourquoi .wrapper-content {
    padding: 40px 32px 32px;
    border-radius: 8px;
    background-color: $white;
}
.section-pourquoi-icons .container {
    margin: 0 auto;
}
.pg-avantage{
	.row-avantage {
		padding: 0;
		margin-bottom: 80px;
		background-color: #e9f2f8;
		@include media(sm){
			margin-bottom: 0;
		}
		.box-avantage{
			@include media(sm){
				margin-bottom: 0;
			}
		}
	}
	.content img {
		height: 100%;
	}
}
.no-padding {
    .row-avantage {
		padding-bottom: 0;
	}
}
.couverture {
    background: linear-gradient(90deg, rgba(20, 63, 110, 0.9) 29.12%, rgba(15, 104, 177, 0.9) 100%);
	background-image: url(../images/couverture.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 82px 0;
	&::before{
		content: "";
		background: linear-gradient(90deg, rgba(20,63,110,0.9) 29.12%, rgba(15,104,177,0.9) 100%);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	.contenue{
		.subtitle{
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			color: $white;
			margin-bottom: 6px;
			width: 85%;
		}
		.title{
			font-size: rem(54);
			font-weight: 600;
			line-height: 1.37;
			text-align: left;
			color: $white;
			width: 85%;
			@include media(sm){
				font-size: rem(38);
			} 
			@include media(xs){
				font-size: rem(34);
			}
		}
		p{
			margin: 41.9px 0 88px 0;
			font-size: rem(18);
			font-weight: 500;
			line-height: 1.56;
			text-align: left;
			color: $white;
			width: 85%;
			@include media(sm){
				font-size: rem(14);
				margin: 20px 0 40px 0;
			}
		}
		.link-plus{
			font-size: rem(16);
			font-weight: 500;
			line-height: 2;
			text-align: right;
			color: $white;
			&::after{
				@include arrow-right('white');
			}
			@include media(xl){
				margin-left: 14px;
			}
			@include media(sm){
				font-size: rem(14);
			}
			@include media(xs){
				font-size: rem(12);
			}
		}
	}
	.right-side{
		.title{
			margin: 0 0 16px;
			font-size: rem(32);
			font-weight: 500;
			line-height: 1.5;
			text-align: left;
			color: $white;
			@include media(sm){
				margin-top:16px;
			}
		}
		p{
			margin: 16px 0.5px 0 0.1px;
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			color: #f4f6fc;
			margin-bottom: 40px;
		}
		.content-right{
			margin-left: 56px;
			@include media(sm){
				margin-left: 0;
			}
		}
	}
}
.roaming{
	position: relative;
	.row{
		margin: 0;
	}
	&:before {
		content: "";
		background-image: linear-gradient(to right, #143f6e 0%, $primaryColor 64%);
		opacity: 0.86;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include media(xl){
			width: 100%;
		}
	}
	.contenue {
		width: 50%;
		margin: 0 auto;
		padding: 112px 0;
		@include media(xl){
			width: 100%;
			padding: 14px;
		}
		@include media(md){
			padding: 24px;
		}
		@include media(sm){
			padding: 24px;
		}
		.subtitle{
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			color: $white;
		}
		.union {
			font-size: rem(18);
			font-weight: bold;
			line-height: 1.56;
			text-align: center;
			color: #fcd980;
			padding: 6px 16px;
			background-color: #1e2946;
			position: relative;
			margin-bottom: 8px;
			&::before{
				content: "";
				position: absolute;
				width: 16px;
				height: 16px;
				left: -8px;
				top: 35%;
				background: #1e2946;
				transform: rotate(135deg);
			}
		}
		.title {
			font-size: rem(54);
			font-weight: 600;
			line-height: 1.37;
			text-align: left;
			color: $white;
			margin-bottom: 42px;
			@include media(sm){
				font-size: rem(32);
			}
		}
		p{
			font-size: rem(18);
			font-weight: 500;
			line-height: 1.56;
			text-align: left;
			color: $white;
			margin-bottom: 52px;
			@include media(xl){
				margin-bottom: 16px;
			}
			@include media(sm){
				font-size: rem(16);
			}
		}
		.bouton-orange {
			color: #1b1c2b;
		}
		
	}
	.col-md-6 {
		padding-right: 0;
	}
	img{
		position: absolute;
		height: 100% !important;
		top: 0;
		width: 100%;
		@include media(sm){
			display: none;
		}
	}
	
}

.bg-offres {
	.view-pg-forfait{
		.owl-nav{display: block;}
		padding: 90px 0 62px 0;
		display: flex;
		@include media(md){
			flex-direction: column;
		}
		@include media(sm){
			display: block;
			padding: 50px 0 62px 0;
		}
		.view-content {
			width: 65%;
			@include media(md){
				width: 100%;
			}
			@include media(sm){
				width: 100%;
			}
		}
		.view-header {
			width: 35%;
			@include media(md){
				width: 100%;
				margin-bottom: 16px;
			}
			@include media(sm){
				width: 100%;
				padding: 16px;
			}
		}
		.item-forfait {
			background-color: rgba(180, 209, 231, 0.3);
			padding-bottom: 56px;
			height: 100%;
			-webkit-border-radius: 0 0 0.5rem 0.5rem;
			-moz-border-radius: 0 0 .5rem .5rem;
			-ms-border-radius: 0 0 .5rem .5rem;
			-o-border-radius: 0 0 .5rem .5rem;
			border-radius: 0 0 0.5rem 0.5rem;
			@include media(sm){
				margin: 16px;
			}
		}
		.owl-stage{
			display: flex;
			justify-content: space-between;
			align-items: stretch;
		}

		.content-wrapper {
			.subtitle{
				font-size: rem(16);
				font-weight: 500;
				line-height: 1.75;
				color: $titleColor;
			}
			.title{
				font-size: rem(48);
				font-weight: 600;
				line-height: 1.33;
				color: $titleColor;
				margin-top: 12px;
				@include media(xl){
					font-size: rem(38);
				}
			}
			p{
				opacity: 0.87;
				font-size: rem(18);
				font-weight: 500;
				line-height: 1.78;
				color: $titleColor;
			}
		}
		.wrapper-forfait{
			background-color: #f3f7fb;
			padding: 20px;
			border-radius: 12px;
			//height: 100%;
			-webkit-border-radius: 50%/0 0 3.125rem 3.125rem;
			-moz-border-radius: 50%/0 0 3.125rem 3.125rem;
			-ms-border-radius: 50%/0 0 3.125rem 3.125rem;
			-o-border-radius: 50%/0 0 3.125rem 3.125rem;
			border-radius: 50%/0 0 3.125rem 3.125rem;
			min-height: 404px; 
			@include media(xs){
				padding: 20px;
			}
			.title {
				margin-bottom: 32px;
				a {
					font-size: rem(24);
					font-weight: 600;
					line-height: 1.56;
					text-align: left;
					color: $linkColor;
					z-index: 3;
					position: relative;
					@include media(xl){
						font-size: rem(32);
					}
				}
			}
			.text {
				ul{
					li{
						font-size: rem(14);
						text-align: left;
						color: $titleColor;
						display: flex;
						line-height: 1.5;
						&::before{
							content: "";
							background-image: url(../images/arrow-right-small.png);
							background-repeat: no-repeat;
							width: 22px;
							height: 12px;
							display: inline-block;
							padding-right: 20px;
							top: 6px;
							left: 0;
    						position: relative;
						}
						
					}
				
				}
			}
			.gamme {
				font-size: rem(16);
				font-weight: 500;
				line-height: 1.75;
				text-align: left;
				color: #37aad8;
			}
		}
		.link-more {
			margin-top: 36px;
			text-align: center;
			a {
				padding: 15px 51px;
				border-radius: 41px;
				background-color: $btnOrange;
				border: 1px solid $orange;
				font-size: rem(18);
				font-weight: 600;
				line-height: 1.78;
				text-align: left;
				color: $titleColor;
				display: inline-block;
				&:hover{
					background-color: transparent;
				}
			}
		}
		.link-list {
			margin-top: 50px;
			font-size: rem(16);
			font-weight: 500;
			line-height: 2;
			text-align: right;
			color: $linkColor;
			transition: .5s;
			&::after{
				@include arrow-right('blue');
			}
		}
	}
}
.wrapper-header{
	position: relative;
	.field--type-image,.field--type-image img{
		width: 100%;
		margin: 0;
		@include media(xl){
			height: 300px;
			object-fit: cover;
			object-position: right;

		}
		@include media(md){
			height: 200px;
			object-fit: cover;
			object-position: right;

		}
	}
	.wrapper-titre-slogan {
		text-align: center;
		position: absolute;
		width: 50%;
		margin: 0 auto;
		top: calc(50% - 20px);
		left: 50%;
		transform: translate(-50%, -50%);
		@include media(xl){
			width: 65%;
		}
		h1,h2{
			font-size: rem(54);
			font-weight: 600;
			line-height: 1.3;
			text-align: center;
			color: $white;
			margin-bottom: 24px;
			@include media(xl){
				font-size: rem(40);
				margin-bottom: 16px;
			}
			@include media(md){
				font-size: rem(36);
				margin-bottom: 12px;
			}
			@include media(sm){
				font-size: rem(24);
				margin-bottom: 8px;
			}
		}
		.field--name-field-slogan{
			opacity: 0.7;
			font-size: rem(24);
			font-weight: 500;
			line-height: 1.33;
			text-align: center;
			color: $white;
			@include media(xl){

				font-size: rem(18);
			}
			@include media(sm){
				font-size: rem(12);
			}
		}
		
	}
}
.bg-forfait.view-pg-forfait-produit{
	.views-row:not(:first-child){
		.view-pg-forfait-produit{
			padding: 0;
		}
	}
}
.bg-forfait {
	background-image: linear-gradient(to bottom, #f4f6fc 0%, rgba(255, 255, 255, 0) 100%);
	.view-pg-forfait-produit{
		padding: 40px 0 62px 0;
		.owl-carousel .owl-stage {
			display: flex;
			flex-wrap: wrap;
		}
		.view-content>div>h3{
			color:#143f6e;
			margin-top: 42px;
			margin-bottom: 16px;
			font-size: rem(24);
			font-weight: 700;
			text-align: center;
		}
		.item-forfait {
			background-color: #e9f2f8;
			padding-bottom: 56px;
			height: 100%;
			-webkit-border-radius: 0 0 0.5rem 0.5rem;
			-moz-border-radius: 0 0 .5rem .5rem;
			-ms-border-radius: 0 0 .5rem .5rem;
			-o-border-radius: 0 0 .5rem .5rem;
			border-radius: 0 0 0.5rem 0.5rem;
			&:hover{
				background-color: $primaryColor;
				.wrapper-forfait-produit{
					background-color: rgba(255, 255, 255, 0.91);
					.prix{
						color: $secondaryColor;
					}
					.image {
						img {
							border-color:  $secondaryColor;
						}
						&:after{
							background-color: $secondaryColor;
						}
					}
				}

				.link-more a {
					background-color: $secondaryColor;
					color: $titleColor;
				}
				.link-profite a {
					background-color: $white;
					color: $blueCiel;
				}
			}
			@include media(md){
				background-color: $primaryColor;
				.wrapper-forfait{
					background-image: url('../images/mask.png');
					background-repeat: no-repeat;
					background-size: cover;
					background-color: unset;
					.title a,.text,.prix-wrapper{
						color: $white;
					}
					.code {
						.value{
							color: $white;
						}
					}
					.duree {
						color: $secondaryColor;
					}
					.prix{
						color: $secondaryColor !important;
					}
					.image {
						img {
							border-color:  $secondaryColor;
						}
						&:after{
							background-color: $secondaryColor;
						}
					}
				}
				.link-more a {
					background-color: $secondaryColor;
					color: $titleColor;
					width: 250px;
				}
				.link-profite a {
					background-color: $white !important;
					color: $blueCiel !important;
					min-width: 250px;
				}
			}
		}

		.content-wrapper {
			text-align: center;
			.subtitle{
				font-size: rem(16);
				font-weight: 500;
				line-height: 1.75;
				color: $titleColor;
			}
			.title{
				font-size: rem(48);
				font-weight: 600;
				line-height: 1.33;
				color: $titleColor;
				margin-top: 12px;
				a{
					color: $titleColor;
				}
				@include media(sm){
					font-size: rem(32);
				}
			}
			p{
				opacity: 0.87;
				font-size: rem(18);
				font-weight: 500;
				line-height: 1.78;
				color: $titleColor;
				width: 72%;
				margin: 16px auto 62px auto;
			}
		}
		.wrapper-forfait-produit{
			background-color: $white;
			padding: 50px 32px 56px 32px; 
			border-radius: 12px;
			height: 80%;
			-webkit-border-radius: 50%/0 0 3.125rem 3.125rem;
			-moz-border-radius: 50%/0 0 3.125rem 3.125rem;
			-ms-border-radius: 50%/0 0 3.125rem 3.125rem;
			-o-border-radius: 50%/0 0 3.125rem 3.125rem;
			border-radius: 50%/0 0 3.125rem 3.125rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.gamme{
				font-size: rem(16);
				line-height: 1.75;
				text-align: left;
				color: $blueCiel;
				margin-bottom: 8px;
			}
			.produit {
				font-size: rem(16);
				line-height: 1.75;
				text-align: left;
				color: $blueCiel;
				margin-bottom: 8px;
				a{
					color: $blueCiel;
				}
			}
			.title {
				a {
					font-size: rem(34);
					font-weight: 600;
					line-height: 1.56;
					text-align: left;
					color: $linkColor;
					z-index: 3;
					position: relative;
				}
				@include media(xl){
					min-height: 120px;
				}
			}
			
			.duree {
				margin-bottom: 18px;
				font-size: rem(18);
				font-weight: 500;
				line-height: 2;
				text-align: left;
				color: $titleColor;
			}
			.text {
				margin-bottom: 18px;
				ul li {
					font-size: rem(16);
					text-align: left;
					color: $titleColor;
					display: flex;
					color: $titleColor;
					&::before{
						content: "";
						background-image: url(../images/arrow-right-small.png);
						background-repeat: no-repeat;
						width: 26px;
						height: 12px;
						display: inline-block;
						padding-right: 16px;
						top: 6px;
						position: relative;
					}
				}
			}

			.wrapper-code-prix{
				.prix{
					.label{
						margin: 0 96px 8px 0;
						font-size: rem(16);
						line-height: 1.75;
						text-align: left;
						color: $blue;
						&:after{
							display: none;
						}
					}
					.value{
						position: relative;
						border: solid 1px #2fabdf;
						border-radius: 4px;
						display: block;
						.val{
							font-size: rem(24);
							font-weight: 600;
							line-height: 1;
							text-align: center;
							color: $white;
							position: relative;
							z-index: 2;
							padding: 16px;
							background-color: #2fabdf;
							display: inline-block;
						}
						.prefix{
							font-size: rem(16);
							font-weight: 600;
							line-height: 1;
							text-align: center;
							color: $blueCiel;
							padding-right: 8px;
							display: inline-block;
						}
					}
					
				}
				.code{
					font-size: rem(16);
					.label {
						line-height: 1.75;
						text-align: left;
						color: $blue;
						font-size: rem(16);
						margin-bottom: 8px;
						&:after{
							display: none;
						}
					}
					.value {
						font-weight: 600;
						line-height: 3.5;
						text-align: center;
						color: $blueCiel;
						padding: 0 8px;
						border-radius: 4px;
						border: solid 1px #2fabdf;
					}
				}
				&:after{
					display: none;
				}
			}
			
		}
		.wrapper-links{
			//min-height: 154px;
			.link-profite {
				margin-top: 36px;
				text-align: center;
				a {
					padding: 12px 51px;
					border-radius: 41px;
					background-color: $btnBlueCiel;
					color: $white;
					font-size: rem(18);
					font-weight: 600;
					//line-height: 1.78;
					text-align: left;
	
					display: inline-block;
				}
			}
			.link-more {
				margin-top: 36px;
				text-align: center;
				a {
					padding: 12px 51px;
					border-radius: 41px;
					background-color: $primaryColor;
					font-size: rem(18);
					font-weight: 600;
					//line-height: 1.78;
					text-align: left;
					color: $white;
					display: inline-block;
				}
			}
		}

	}
}
.wrapper-forfait-max{
	&::before{
		background-image: url(../images/bg-pack.png);
		@include media(sm){
			display: none;
		}
	}
	.bloc-pack {
		width: 100%;
		@include media(sm){
			width: 100%;
			margin-bottom: 18px;
		}
		.bouton-orange {
			color: $textColor;
		}
	}
}
.bon-savoir {
    padding-top: 40px;
	.title {
		font-size: rem(38);
		font-weight: 600;
		line-height: 1.47;
		text-align: left;
		color: $textColor;
		margin-bottom: 40px;
		@include media(xs) {
			font-size: rem(30);
		}
	}
	ul{
		li{
			font-size: rem(16);
			font-weight: 500;
			line-height: 1.63;
			text-align: left;
			color: $titleColor;
			margin-bottom: 16px;
			padding: 24px 80px 24px 24px;
			background-color: #e9f2f8;
			display: flex;
			p{
				margin-bottom: 0;
				color: $titleColor;
				
			}
			a{
				color: $titleColor;
			}
			&::before{
				content: "";
				background-image: url(../images/arrow-right-small.png);
				background-repeat: no-repeat;
				width: 26px;
				height: 12px;
				display: inline-block;
				padding-right: 20px;
				top: 6px;
				position: relative;
			}
		}
	}
}
.view-pg-faq{
	padding: 90px 0 62px 0;
    display: flex;
	@include media(md){
		padding-top: 40px;
		display: block;
	}
	.view-header {
		margin-right: 32px;
		width: 35%;
		@include media(md){
			width: 100%;
		}
		.content-wrapper{
			@include media(md){
				margin-bottom: 24px;
			}
		}
		.title{
			margin: 0 0 32px;
			font-size: rem(48);
			font-weight: 600;
			line-height: 1.33;
			text-align: left;
			color: $titleColor;
			@include media(xl){
				font-size: rem(44);
			}
			@include media(md){
				font-size: rem(32);
				margin-bottom: 16px;
			}
		}
		.link-list{
			margin: 0 16px 0 0;
			font-size: rem(16);
			font-weight: 500;
			line-height: 2;
			text-align: right;
			color: $linkColor;
			&:after{
				content: "";
				background-image: url(../images/arrow-right-small.png);
				background-repeat: no-repeat;
				width: 22px;
				height: 12px;
				display: inline-block;
				margin-left: 10px;
				top: 0;
				position: relative;
			}
		}
	}
	&.w-100{
		.view-content{
			width: 100%;
		}
	}
	.view-content {
		width: 65%;
		@include media(md){
			width: 100%;
		}
		.panel-group{
			list-style-type: none;
  			counter-reset: css-counter 0;
		}
		.card {
			counter-increment: css-counter 1;
			h5{
				display: flex;
				&:before {
					content: counter(css-counter, decimal-leading-zero) ". "; 
					font-size: rem(24);
					font-weight: 500;
					line-height: 1.5;
					text-align: center;
					color: #37aad8;
					margin-right: 32px;
					padding: 32px 0;
				}
			}
			&:first-child{
				h5:before{
					padding-top: 0;
				}
				.btn-link{
					padding-top: 0;
				}
			}
			.btn-link{
				font-size: rem(20);
				font-weight: 500;
				line-height: 1.8;
				text-align: left;
				color: $titleColor;
				padding: 32px 0;
				text-decoration: none;
				white-space: normal;
				word-wrap: break-word;
				@include media(xl){
					font-size: rem(16);
				}
			}
			.card-body {
				padding: 0 0 0 66px;
				.reponse{
					opacity: 0.87;
					font-size: rem(18);
					font-weight: 500;
					line-height: 1.78;
					text-align: left;
					color: $titleColor;
				}
			}
			
		}
	}
}
.exposed-recherche{
	padding: 40px;
	.item-search{
		padding: 36px;
		background-color: rgba(180, 209, 231, 0.3);
		margin-bottom: 16px;
		.title {
			line-height: 1.33;
			text-align: left;
			color: $titleColor;
			font-size: rem(20);
			font-weight: bold;
			margin-bottom: 16px;
			a{
				color: $titleColor;
			}
			span{
				color: $blue;
				font-size: rem(16);
			}
		}
		.text{
			font-size: rem(16);
			text-align: left;
			color: $textColor;
		}
		&:hover{
			background-color: #f3f7fb;
			.title{
				color: $linkColor;
				a{
					color: $linkColor;
				}
			}
		}
	}
}

input::-webkit-input-placeholder {
	/* Edge */
	color: $titleColor;
  }
input::-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $titleColor;
  }
input::placeholder {
	color: $titleColor;
  }
  .errMsg {
    padding: 60px 60px 60px 120px;
    background: rgba(180,209,231,0.3);
    color: $textColor;
    font-size: rem(20);
    font-weight: 700;
    position: relative;
    margin-bottom: 50px;
	&:after {
		content: "\f05e";
		color: $blue;
		display: inline-block;
		position: absolute;
		left: 50px;
		top: 40px;
		font-size: rem(50);
		font-family: "Font Awesome 5 Pro";
	}
}
body .btn-outline-primary:focus{
	box-shadow: none;
}
.sitemap {
    padding: 58px 0;
}


.tabs-agences {
	padding: 80px 0 0;
	.nav-tabs {
		border: none;
		justify-content: end;
		li{
			@include media(xs) {
				width: 100%;
				text-align: center;
			}

		}
	}
	.nav-tabs>li>a {
		background-color: $blueV2;
		margin: 5px;
		padding: 10px 32px;
		color: $white;
		border-radius: 4px;
	  }
	  
	.nav-tabs>li>a.active,
	.nav-tabs>li>a:hover {
		background-color: $blue;
	}
	.title-default{
		color: $titleColor;
	}
	.bodytext,p {
		opacity: 0.87;
		font-size: rem(18);
		font-weight: 500;
		line-height: 1.78;
		color: $textColor;
		margin-top: 32px;
	}
	.paragraph__column{
		padding: 0;
	}
} 
.views-bg-services{
	padding: 52px 0;
	.title{
		font-size: rem(24);
		font-weight: 600;
		line-height: 1.5;
		text-align: left;
		color: $titleColor;
		margin: 32px 0 38px 0; 
		min-height: 88px;
	}
}
.pg-offre-emploi{
	padding: 50px;
	p{
		font-size: rem(16);
		line-height: 1.5;
		text-align: left;
		color: $titleColor;
		margin-bottom: 0;
	}
	.section-offre{
		&:not(:first-child):before{
			content: "";
			background-color: rgba(0, 102, 179, 0.2);
			width: 80%;
			margin: 0 auto;
			height: 1px;
			display: block;
			margin-bottom: 16px;
		}
		.date {
			font-size: rem(14);
			line-height: 1.5;
			text-align: left;
			color: $black;
			margin-right: 34px;
			&:before{
				content: "";
				background-image: url(../images/horloge.png);
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
				display: inline-block;
				margin-right: 14px;
				top: 0;
				position: relative;
				vertical-align: bottom;
			}
		}
		.type {
			font-size: rem(14);
			line-height: 1.5;
			text-align: left;
			color: $black;
			&:before{
				content: "";
				background-image: url(../images/time.png);
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
				display: inline-block;
				margin-right: 14px;
				top: 0;
				position: relative;
				vertical-align: bottom;
			}
		}
		.title-offre{
			font-size: rem(36);
			font-weight: 600;
			line-height: 1.5;
			text-align: left;
			color: $black;
			margin-top: 50px;
			margin-bottom: 40px;
			a{
				color: $black;
			}
			@include media(md){
				font-size: rem(34);
				margin-top: 40px;
				margin-bottom: 30px;
			}
			@include media(sm){
				font-size: rem(30);
			}
		}
		.text{
			font-size: rem(16);
			line-height: 1.5;
			text-align: left;
			color: $black;
			margin-bottom: 0;
			.title{
				font-size: rem(20);
				font-weight: 600;
				line-height: 1.5;
				margin-bottom: 0;
			}
			.list{
				li{
					font-size: rem(16);
					line-height: 1.5;
					text-align: left;
					color: $black;
					padding-left: 24px;
					position: relative;
					&:before{
						content: "";
						position: absolute;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						left: 0;
						top: 12px;
						margin-left: 8px;
						background-color: $black;
					}
				}
			}
		}
		.bouton-blue {
			margin: 40px 0;
			font-weight: 400;
		}
		.wrapper-dates{
			margin-top: 40px;
		}
	}
}
.formulaires{
	padding: 100px 0 90px 0;
	@include media(md){
		padding: 60px 0 30px 0;
	}
	.title{
		font-size: rem(48);
		font-weight: 600;
		text-align: left;
		color: $black;
		@include media(md){
			font-size: rem(40);
		}
	}
	.form-control,.form-select{
		border-radius: 32px;
		border: solid 1px #e4e4e4;
		background-color: $white;
		height: 48px;
		padding: 0 34px 0 30px;
		color: $textColor;
		width: 100%;
	}
	.form-textarea-wrapper{
		textarea {
			resize: none;
			padding-top: 16px;
		}
	}
	.montant-icon {
		position: absolute;
		top: 15px;
		right: 30px;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
		color: #0066b3;
	
		@include media(md){
		  top: calc(50% - 18px);
		}    
	}
	.form-item-montant,.form-item-phone,.form-item-phone-confirm{
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type=number] {
			-moz-appearance: textfield;
		}
	}
	.form-item-montant{
		&:after{
			content: "";
			top: 0;
			background-color: #d5e7f7;
			height: 48px;
			width: 10%;
			position: absolute;
			right: 15px;
			border-bottom-right-radius: 50%;
			border-top-right-radius: 50%;
			@include media(md){
				width: 15%;
			} 
			@include media(sm){
				width: 10%;
			}  
			@include media(xs){
				width: 15%;
			}     
		}
	}
	div#message-phone { 
		font-size: 12px;
		margin-top: -30px;
		@include media(md){
			margin-bottom: 23px;
			margin-top: 0;
		}
		.error{
			color: red;
		}
		.success{
			color: green;
		}
	}
	.form-group{
		margin-bottom: 0;
		@include media(sm){
			iframe {
				height: 350px;
			}
		}
	}
	.js-form-item {
		margin-bottom: 40px;
		@include media(md){
			margin-bottom: 20px;
		}
	}
	select {
		appearance: none;
		outline: 0;
		border: 0;
		box-shadow: none;
		cursor: pointer;
		background: url(../images/down.png) 95% center no-repeat;
	}
	.btn.bouton-blue{
		display: inline-block;
		color: #fff;
		padding: 8px 50px;
		border-radius: 41px;
		background-color: $primaryColor;
		font-size: 16px;
		font-weight: 600;
		line-height: 2;
		border: 1px solid $primaryColor;
		&::before{
			display: none;
		}
		&:hover{
			background-color: transparent;
			color: $primaryColor;
		}
		@include media(md){
			margin-bottom: 20px;
		}
	}
	.custom-file{
		.form-file {
			width:0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		label{
			border-radius: 32px;
			border: solid 1px #e4e4e4;
			height: 48px;
			padding: 0 34px 0 30px;
			width: 100%;
			display: flex;
			background: url(../images/download.png) 99% center no-repeat;
			align-items: center;
			&:hover{
				background: url(../images/download-down.png) 99% center no-repeat;
			}
			&::after{
				background: none;
			}
		}
		.file{
			a{
				color: $textColor;
			}
		}
		.messages--error{
			color: $red;
			font-size: rem(14);
		}
	}
	.alert-wrapper{
		display: none;
		&+ .custom-file{
			&>label{
				font-size: 0;
				background: none;
			}
			button {
				text-indent: -999em;
				width: auto;
				background: transparent;
				border: none;
				padding: 0;
				margin-right: 0;
				position: relative;
				left: auto;
				top: -30px;
				height: 100%;
				&::after{
					content: "\f2ed";
					font-family: "Font Awesome 5 Pro";
					display: block;
					font-size: rem(20);
					text-align: center;
					text-indent: 0;
					color: $white;
					cursor: pointer;
					position: relative;
					left: 18px;
					top: 5px;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					z-index: 99;
					background-color: $red;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&:hover{
					&::after{
						background-color: #faaf4b;
					}
				}
				&::before{
					display: none;
				}
			}
			.form-managed-file{
				position: absolute;
				top: 5px;
				left: 30px;
				display: flex;
				align-items: center;
				width: 90%;
				height: 100%;
				justify-content: space-between;
				&::after{
					display: none;
				}
			}
		}

	}
	.ajax-progress{
		display: none;
	}
}
#my_form_wrapper{
	.bouton-blue{
		@include media(sm){
			display: inline-block;
			width: 100%;
		}
	}
}
.no-padding-bottom{
	.field__item:first-child:not(:last-child){
		.view-pg-forfait{
			padding-bottom: 0 ; 
			.owl-carousel{
				margin-bottom: 0;
			}
		}
	}
}
.view-bloc-conseil{
	margin : 40px 0;
	.title-view{
		margin-left: 0;
	}
	.date {
		opacity: 0.7;
		margin-top: rem(32);
		margin-bottom: rem(24);
		font-size: rem(16);
		font-weight: 500;
		line-height: 1.75;
		text-align: left;
		color: $titleColor;
	}
	.title{
		font-size: rem(24);
		font-weight: 600;
		line-height: 1.5;
		text-align: left;
		color: $titleColor;
		min-height: 106px;
		a{
			color: $titleColor;
		}
	}
	.link-icon {
		font-size: rem(16);
		font-weight: 500;
		line-height: 1.75;
		text-align: left;
		color: $titleColor;
		margin: 0;
	}
} 
.mb-6{
	margin-bottom: 72px;
}
.wrapper-content-node{

	.wrapper-right{
		padding-top: 70px;
		background-image: linear-gradient(to bottom, #f4f6fc 0%, rgba(255, 255, 255, 0) 100%);
		.title {
			font-size: rem(38);
			font-weight: 600;
			line-height: 1.56;
			text-align: left;
			color: $linkColor;
			z-index: 3;
			position: relative;
			@include media(sm){
				font-size: rem(30);
				white-space: normal;
				word-wrap: break-word;
			}
		}
		.field--type-image {
			margin: 0;
		} 
		.img-produit {
			img{
				
				
				position: relative;
				z-index: 2;
			}
			
			
		}
	}
	.wrapper-information {
		justify-content: space-between;
		align-items: stretch;
		padding: 20px;
		border-radius: 12px;
		margin-bottom: 40px;
		@include media(md){
			display: block !important;
		}
		.prix {
			flex: 1;
			text-align: center;
			border-radius: 8px;
			background: linear-gradient(131.34deg, rgba(197, 188, 255, 0.3) 16.74%, rgba(155, 247, 213, 0.3) 103.17%);
			padding: 46px;
			margin-right: 36px;
			@include media(md){
				margin-bottom: 16px;
				margin-right: 0;
			}
			.field__item {
				font-size: rem(30);
				font-weight: 600;
				line-height: 1.75;
				color: #0066b3;
			}
			.field__label {
				color: #282938;
				font-size: rem(18);
			}
		}
		.code {
			flex: 1;
			text-align: center;
			border-radius: 8px;
			background: linear-gradient(131.34deg, rgba(197, 188, 255, 0.3) 16.74%, rgba(155, 247, 213, 0.3) 103.17%);
			padding: 46px;
			margin-right: 36px;
			@include media(md){
				margin-bottom: 16px;
				margin-right: 0;
				
			}
			.field__item {
				font-size: rem(30);
				font-weight: 600;
				line-height: 1.75;
				color: #0066b3;
			}
			.field__label {
				color: #282938;
				font-size: rem(18);
			}
		}
		.duree {
			flex: 1;
			text-align: center;
			border-radius: 8px;
			background: linear-gradient(131.34deg, rgba(197, 188, 255, 0.3) 16.74%, rgba(155, 247, 213, 0.3) 103.17%);
			padding: 46px;
			@include media(md){
				margin-bottom: 16px;
				margin-right: 0;
			}
			.field__item {
				font-size: rem(30);
				font-weight: 600;
				line-height: 1.75;
				color: #0066b3;
			}
			.field__label {
				color: #282938;
				font-size: rem(18);
			}
		}
	}

}
.custom-ul-list{
	li{
		font-size: 1rem;
		text-align: left;
		color: #282938;
		position: relative;
		line-height: 1.2;
		margin-bottom: 10px;
		padding-left: 24px;
		&::before{
			content: "\f00c";
			color: $blueCiel;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 2px;
			font-size: rem(14);
			font-family: "Font Awesome 5 Pro";
		}
	}
}
.couverture-reseau{
	padding-top: 96px;
	@include media(md){
		padding-top: 60px;
	}
	.content-wrapper{
		.title{
			font-size: rem(48);
			font-weight: 600;
			line-height: 1.33;
			text-align: center;
			color: $titleColor;
			@include media(md){
				font-size: rem(32);
			}
		}
		p{
			font-size: rem(18);
			font-weight: 500;
			line-height: 1.78;
			text-align: center;
			color: $titleColor;
		}
	}
}
body button:focus{
	outline: none;
}
.owl-carousel.owl-theme {
	.owl-dots{
		display: none;	
	}
} 
.slider-w-dots.owl-carousel.owl-theme{
	position: relative;
	.owl-dots{
		display: block;
		position: absolute;
		bottom: -50px;
		left: calc(50% - 35px);
		@include media(sm){
			bottom: 0;
		}
		@include media(xs) {
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
		.owl-dot{
			&.active{ 
				span{
					width: 25px;
					border-radius: 10px;
					margin: 5px 2px;
				}
			}
			&:hover{
				span{
					width: 25px;
					border-radius: 10px;
					transition: all 0.3s ease;
					margin: 5px 2px;
				}
			}
		}
	}
} 
.slider-w-dots.owl-carousel.owl-theme.dots-center{
	.owl-dots{
		bottom: -42px;
	}
}
.owl-carousel.owl-theme {
	.owl-nav{
		display: none;	
	}
}
.slider-w-navs.owl-carousel.owl-theme{
	position: relative;
	.owl-nav{
		display: block;
		width: 100%;
		margin: 0;
		opacity: 1;
		.owl-prev{
			background-color: #fff;
			border: 1px solid $blue;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			color: $blue;
			font-size: 32px;
			left: -60px;
			opacity: 1;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&:hover{
				color: #fff;
				background-color: $blue;
			}
			@include media(xxl){
				position: relative;
				transform: none;
				left: 0;

			}

		}
		.owl-next{
			background-color: #fff;
			border: 1px solid $blue;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			color: $blue;
			font-size: 32px;
			right: -60px;
			opacity: 1;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&:hover{
				color: #fff;
				background-color: $blue;
			}
			@include media(xxl){
				position: relative;
				transform: none;
				right: 0;

			}
		} 
	}
	&:hover{
		.owl-nav{
			opacity: 1;
		}
	}
}

.bloc-filter-avance{
	.radio {	
		margin-top: 0;
		margin-bottom: 0;	
		.custom-control-input:checked~.custom-control-label{
			background-color: #0066b3;
			color: #fff;
		}
		.custom-control-input~.custom-control-label{
			padding: 12px 32px;
			border-radius: 28.5px;
			margin-right: 16px;
			border: solid 1px #afb0b9;
			color: #afb0b9;
			font-size: 16px;
			font-weight: bold;
			line-height: 1.5;
			&:after{
				display: none;
			}
		}
		.custom-control{
			padding-left: 0;
			margin-bottom: 0;
		}
		.form-radios {
			display: flex;
			align-items: center;
		}
		.checkbox+.checkbox, .radio+.radio {
			margin-top: 0;
			margin-bottom: 0;
		}
		.radio label{
			padding: 0;
		}
		.custom-control-label::after,.custom-radio .custom-control-label::before{
		display: none;
		}
	}
}
.paragraph .paragraph, .paragraph .paragraph .paragraph{
	margin-left: auto;
	margin-right: auto;
}
.custom-accordeon{
	padding: 0 0 0 48px;
	.panel-default{
		box-shadow: none;
		&>.panel-heading{
			border: none;
			background: transparent;
			padding: 10px 0 20px;
			border-bottom: 1px solid #e1edf5;
			a{
				color: $black;
				font-weight: 500;
				font-size: 16px;
				padding: 0;
				&[aria-expanded="true"]{
					color: #0f68b1;
				}
			}
			
		}
		.panel-collapse>.paragraph {
			padding: 20px 15px;
			p{
				font-size: 16px;
			}
		}
	}
	.card{
		background: transparent;
	}
}
.section-with-accordeon {
	.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col{
		padding: 0;
	}
	.paragraph--bp-accordion-container {
		padding-top: 32px;
	}
	padding: 72px 0;
	@include media(sm){
		padding: 32px 0;
	}
	@include media(xs){
		padding: 36px 0;
		text-align: center;
	}
	.subtitle {
		opacity: 0.87;
		font-size: rem(18);
		font-weight: 500;
		line-height: 1.78;
		text-align: left;
		color: $primaryColor;
	}
	.title {
		margin: 16px 0 48px;
		font-size: rem(38);
		font-weight: 600;
		line-height: 1.47;
		text-align: left;
		color: #232536;
		@include media(md){
			margin-bottom: 40px;
			font-size: rem(24);
		}
		@include media(xs){
			font-size: rem(24);
			text-align: left;
		}
	}
	p{
		margin-bottom: 32px;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.78;
		text-align: left;
		color: #282938;
		@include media(xs){
			text-align: left;
			font-size: rem(14);
		}
		span{
			position: relative;
			display: block;
			font-weight: 500;
			line-height: 1.78;
			font-size: 24px;
			text-align: left;
			color: $titleColor;
		}
	}
	img{
		@include media(md){
			margin: 16px 0;
		}
	}
}
.parag {
    font-size: 1rem;
    text-align: left;
    color: #282938;
    line-height: 1.5;
}
.couverture-reseau {

	form{
		.js-form-item{width: 25%; margin-right: 25px;
			@include media(md){
				width: 45%;
			}
			@include media(xs){
				width: 100%;
				margin: 0 15px;
			}
			
		
		}
	
	
	}
	.form-actions{
		

		@include media(xs){
			width: 100%;
			margin: 0 15px;
		
	}
	@include media(md){
		width: 100%;
		text-align: center;
	
}
	

	button{
	@include media(xs){
		width: 100%;
		display: block;
	}
	display: inline-block;

}
	}
}

.formulaires{
	label{
		display: block;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	.select2-container{width: 100% !important; display: block;}
	.select2-selection__arrow{display: none;}

	.select2-selection--single{
	padding: 0 18px 0 28px;
    border-radius: 32px;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    height: 48px;
    cursor: pointer;
    color: #1d1d1d;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
	background: url(../images/down.png) 95% center no-repeat;
    font-weight: 300;
    line-height: 2;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

	

}

}
.view-blc-mediatheque{

	.media-list{margin-bottom: 15px !important;}
}

.link-simple{
	color:#0f68b1;
    display: inline-block;

	&:hover{
		color:#faaf4b;;
	}

}

.wrapper-news {
	form{position: relative;}
	.alert-wrapper {
		position: static;
		bottom: inherit;
		left: inherit;
		width: 100%;
		max-height: initial;
		z-index: 9999;
	}
	
	
	.alert-danger, .alert-success {
		position: absolute;
		right: 160px;
		top: 65px;
		width: 50%;
		background: transparent;
		color: #fff;
		opacity: 1 !important;
		padding: 0;
		border: 0;
		display: block;
		z-index: 99999;
		overflow-y: hidden;
		opacity: 1;
		@include media(md) {
			left: 120px;
    top: 180px;
	right: inherit;
	width: 50%;

		}
		@include media(sm) {top:150px }
		@include media(xs) {top: 186px;width: 60%;left: 20px; font-size: 12px;}
		
		&::before ,.btn-close{
	display: none;
}

}
.alert-danger{color: red;}
.alert-success {color: #8dc548;}
}