#header {
	.drop-langue {
		float: right;
		padding: 0 20px 0 20px;
		@include media(sm){
			padding-left: 6px;
			border-left: 1px solid rgba(0, 102, 179, 0.2);
		}
		.dropbutton-toggle {
			button {
				border: 0;
				background: transparent !important;
				padding: 0 5px;
				font-size: 15px;
				box-shadow: none;
				color: $gray !important;
				display: none;
			}
		}
		ul {
			min-width: inherit;
			background: transparent;
			border: 0;
			box-shadow: none;
			border-radius: 0;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.75;
			text-align: left;
			>li {
				>a {
					padding: 5px 10px;
					color: #ffffff;
					text-align: center;
					&:hover {
						background: transparent;
					}
				}
			}
		}
	}
}
.blc-assistance {
	.link {
		.assistance {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.75;
			text-align: right;
			color: #fff;
			display: inline-block;
			@include media(sm){
				font-size: 0;
			}
		}
	}
	img {
		display: inline-block;
		margin-right: 8px;
		@include media(sm){
			margin-right: 0;
		}
	}
	margin-right: 32px;
	@include media(sm){
		margin-right: 18px;
	}
}
.blc-boutique {
	@include media(sm){
		margin-right: 18px;
		padding-left: 18px;
		border-left: 1px solid rgba(0, 102, 179, 0.2);
	}@include media(xs){
		margin-right: 7px;
		padding-left: 7px;


	}
	.link {
		.nos-boutique {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.75;
			text-align: right;
			color: #fff;
			display: inline-block;
			padding: 12px 24px 12px 32px;
			border-radius: 41px;
			border: solid 2px rgba(244, 246, 252, 0.2);
			@include media(xl){
				padding: 12px 12px 12px 12px;
			}
			@include media(sm){
				font-size: 0;
				padding: 0;
				border: 0;
			}
		}
	}
	img {
		display: inline-block;
		margin-right: 8px;
		margin-right: 16px;
		@include media(sm){
			margin-right: 0px;
		}
	}
	margin-right: 38px;
}
.drop-langue {
	.dropbutton-widget {
		.dropbutton {
			.dropbutton-action {
				&:hover {
					background: transparent;
					border-bottom: 0 none;
				}
			}
			a {
				&:hover {
					background: transparent;
					border-bottom: 0 none;
				}
			}
		}
	}
}
.blc-espace {
	.navbar-nav .nav-link {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.75;
		text-align: left;
		color: #fff;
		padding-left: 36px;
		position: relative;
		@include media(sm){
			font-size: 0;
			padding: 0;
		}
	}
	@include media(sm){
		padding-left: 18px;
		border-left: 1px solid rgba(0, 102, 179, 0.2);
	}
	.navbar-nav .dropdown-menu {
		position: absolute;
		border: none;
    	border-radius: 0;
		@include media(sm){
			top: 36px;
		}
		.dropdown-item{
			&:hover a{
				color: $blueCiel;
			}
		}
	}
	.dropdown-item a{
		color: $black;
		font-weight: 500;
		display: inline-block;
	}
	a.nav-link {
		&:hover{
			color: $blueCiel;
		}
		&:before {
			content: "";
			background: url(../images/user.png) no-repeat;
			width: 24px;
			height: 24px;
			position: absolute;
			top: 15px;
			left: 0px;
			display: inline-block;
			@include media(sm){
				top: -7px;
			left: 10px;
			}

		}
	}
	.dropdown-toggle{
		&:after{
			content: "";
			background: url(../images/arrow-down.png) no-repeat;
			width: 24px;
			height: 24px;
			position: absolute;
			top: 12px;
			border: 0;
			margin: 0;
		}
	}
	margin-right: 40px;
}
.dropbutton-widget {
	.dropbutton-toggle {
		&::after {
			content: "";
			background: url(../images/arrow-down.png) no-repeat;
			width: 24px;
			height: 24px;
			position: absolute;
			top: 5px;
			right: 0;
		}
	}
}
#navbar-main {
	padding: 0;
	background: #f4f6fc;
	.nav-link {
		font-size: 16px;
		font-weight: 500;
		text-align: left;
		color: #282938;
		padding: 0;
		margin: 32px 40px 32px 0;
	}
	.nav-item.active {
		.nav-link {
			color: $primaryColor;
		}
	}
	&:empty {
		display: none;
	}
	.navbar-nav{
		@include media(sm){
			flex-direction: row;
		}
	}
	/*.menu-secondaire{
		@include media(sm){
			width: 70%;
		}
	}*/
	.search_blc {
		@include media(sm){
			width: 30%;
		}
	}
	.navbar-collapse{
		@include media(sm){
    		background: #f4f6fc;
			display: block;
			padding: 0;
		}
	}
	.navbar-toggler{
		.navbar-toggler-icon{
			background: url('../images/menu.png') no-repeat;
		}
		@include media(sm){
			position: relative;
			top: 0;
			margin-right: 8px;
		}
	}
	/* 
	.menu-secondaire{
		.nav-item{
			position: static;
			&:hover{
				.dropdown-menu{
					display: flex ;
					width: 100%;
					max-width: 1140px;
					left: 50%;
					top: 95%;
					transform: translateX(-50%);
				}
				.dropdown-item .dropdown-menu{
					display: block;
					border: none;
					width: 100%;
					max-width: 1140px;
				}
			}
			.dropdown-menu{
				.dropdown-item{
					a{
						color: $blueV2;
					}
				}
			}
			.dropdown-item.active, .dropdown-item:active{
				background-color: $white;
			}
		}
	}
	 */
}
.topbar-bouton {
	.content {
		display: flex;
		flex-direction: row;
		align-items: center;
		@include media(sm){
			align-items: unset;
		}
	}
	@include media(sm){
		position: absolute;
		top: 20px;
		right: 16px;
	}
}
.logo.navbar-btn{
	@include media(sm){
		position: absolute;
		top: 12px;
		left: 14px; 
		margin-top: 0;
	}
}


/*****************************************************/
.we-mega-menu-ul span,.we-mega-menu-ul a{
	font-family: $font;
}
.we-mega-menu-submenu li.we-mega-menu-li:first-child>a, .we-mega-menu-submenu li.we-mega-menu-li:first-child>span{padding-top: 8px;}
.navbar-we-mega-menu,.we-mega-menu-ul>.we-mega-menu-li>a, .we-mega-menu-ul>.we-mega-menu-li .we-megamenu-nolink{background: none;}
.menu-secondaire  .container-fluid{overflow: visible;}
.we-mega-menu-ul>.we-mega-menu-li>a,.nav-tabs .dropdown-menu,.we-mega-menu-ul,.navbar.navbar-we-mega-menu{position: static; margin-bottom: 0;}
.header > .navbar{position: relative; margin: 0;}
.menu-secondaire .we-mega-menu-submenu.submenu{width: 100%;}
.menu-secondaire .submenu >.we-mega-menu-submenu-inner > .we-mega-menu-row > .we-mega-menu-col > .subul > li.we-mega-menu-li {
	margin-bottom: 0;
	width: calc(25% - 24px);
	float: left;
	margin: 0 24px 24px 0;
	clear:inherit
  }
  .menu-secondaire ul li {
	margin-right: 15px;
	border: 0;
  }
  
  .menu-secondaire ul li a {
	position: relative;
	display: block;
  }
    
  .menu-secondaire ul li a,
  .menu-secondaire ul li span,
  .menu-secondaire ul li .navbar-text {
	font-size: 20px;
	font-weight: 400;
	color: #333;
	line-height: 22px;
	background-color: transparent;
	cursor: pointer;
  }
  .menu-secondaire .we-mega-menu-ul .dropdown-menu .dropdown-menu:first-child>.we-mega-menu-submenu{margin-top: 0;}
  .we-mega-menu-ul span,.we-mega-menu-ul a{ font-family: "ProximaNovaCond", sans-serif !important;}
  
  .menu-secondaire ul li a:hover,
  .menu-secondaire ul li a:focus,
  .menu-secondaire ul li .navbar-text:hover,
  .menu-secondaire ul li .navbar-text:focus {
	color: $blueV2 !important;
	background-color: transparent;
	cursor: pointer;
  }
  
  .menu-secondaire .we-mega-menu-ul>.we-mega-menu-li>a,.we-mega-menu-ul>.we-mega-menu-li>span {
	color:  #282938;
	background-color: transparent !important;
	padding: 14px;
	font-size: 16px;
	font-weight: 600 !important;
	display: inline-block;
	text-transform: none;
	position: relative; 
  }
  
  .menu-secondaire .navbar-nav>li>.dropdown-menu>li {
	margin-bottom: 8px;
	font-size: 15px;
	border: 0;
  }
  
  .menu-secondaire .navbar-nav>li>.dropdown-menu>li a {
	color: #000;
  }
  
  .menu-secondaire .we-mega-menu-submenu li.we-mega-menu-li:nth-child(4)::after{clear: both; content: ""; display: block;}
  .menu-secondaire ul > li.nav-item   {position: static;}
  .navbar-expand-lg .navbar-nav .dropdown-menu{display: block; width: 100%; }
  .we-mega-menu-submenu li.we-mega-menu-li:first-child>a:before, .we-mega-menu-submenu li.we-mega-menu-li:first-child>a:after, .we-mega-menu-submenu li.we-mega-menu-li:first-child>span:before, .we-mega-menu-submenu li.we-mega-menu-li:first-child>span:after,.we-mega-menu-submenu li.we-mega-menu-li a:before, .we-mega-menu-submenu li.we-mega-menu-li a:after, .we-mega-menu-submenu li.we-mega-menu-li span:before, .we-mega-menu-submenu li.we-mega-menu-li span:after,.we-mega-menu-ul .dropdown-menu>a:before, .we-mega-menu-ul .dropdown-menu>a:after, .we-mega-menu-ul .dropdown-menu>span:before, .we-mega-menu-ul .dropdown-menu>span:after{display: none;}
  
  .menu-secondaire .we-mega-menu-submenu li.we-mega-menu-li a,
  .we-mega-menu-submenu li.we-mega-menu-li >a, .we-mega-menu-submenu li.we-mega-menu-li >span {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #000;
	border: 0;
	padding: 8px 0;
   
  }
  .we-mega-menu-ul .dropdown-menu:hover>a, .we-mega-menu-ul .dropdown-menu:hover>span, .we-mega-menu-ul .dropdown-menu:focus>a, .we-mega-menu-ul .dropdown-menu:focus>span{
	color: #0066b3;
  }
  .menu-secondaire .we-mega-menu-submenu li.we-mega-menu-li ul li a{font-size: 15px;
	line-height: 1.61;
	text-align: left;
	color: #000;
	font-weight: 400;
	padding-bottom: 5px;
	display: inline-block;
  }
  .menu-secondaire .we-mega-menu-ul>.we-mega-menu-li{
	border: 0; 
	padding: 20px 20px 10px 0px;
	@include media(xl){
		padding: 10px 0;
	}

}
  .we-mega-menu-submenu>.we-mega-menu-submenu-inner{display: block !important; min-height: auto;}
  .we-mega-menu-ul .dropdown-menu .dropdown-menu .we-mega-menu-submenu{ box-shadow: none !important; border: 0; position: relative ; top: inherit; left: inherit; margin-top: 0; padding: 0; background: none; }


  .menu-secondaire .dropdown-item:focus,
  .menu-secondaire .dropdown-item:hover,
  .menu-secondaire .dropdown-item.active,
  .menu-secondaire .dropdown-item:active {

	background-color: #78be21;
  }
  .rtl .navbar-nav .nav-item + .nav-item, [dir="rtl"] .navbar-nav .nav-item + .nav-item{margin-left: 0;}

  .menu-secondaire .navbar-nav>li>.dropdown-menu>li a:hover {
	color: #def8e5 !important;
	text-decoration: none;
  }
  
  .dropdown-toggle::after {
	font-size: 17px;
  }
  
  .region-primary-menu{

	.search_blc
	{width: 30%;
	}

  }
  .menu-secondaire ul li.active a:after {
	border-top: 0;
  }
  
  .menu-secondaire .navbar-nav>li.active>.dropdown-menu>li a:after {
	content: none;
  }
  .menu-secondaire .we-mega-menu-submenu li.we-mega-menu-li .we-mega-menu-submenu{ visibility: visible;opacity: 1; padding-top: 0; top: inherit;}
  .we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu{ box-shadow: none !important; border: 0; top:100%; padding-top: 50px;}
  .menu-secondaire.contextual-region{position: static;}
  .we-mega-menu-ul>.we-mega-menu-li>a, .nav-tabs .dropdown-menu, .we-mega-menu-ul, .navbar.navbar-we-mega-menu {
    position: static;
    margin-bottom: 0;
}
.menu-secondaire .we-mega-menu-submenu {
    width: 100%;
}
.menu-secondaire .we-mega-menu-li>.we-mega-menu-submenu>.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col.span12>.nav.nav-tabs.subul .nav {
    display: block;
}
.navbar-we-mega-menu, .we-mega-menu-ul>.we-mega-menu-li>a, .we-mega-menu-ul>.we-mega-menu-li .we-megamenu-nolink {
    font-size: 16px;
    font-weight: 500;
    color: #282938;
	display: inline-block;

}
.menu-secondaire .submenu>.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>.subul>li.we-mega-menu-li >span,.menu-secondaire .we-mega-menu-li>.we-mega-menu-submenu .firstelem_megamenu>a{
	font-weight: 600;
	color: $blueV2;
}
.menu-secondaire .we-mega-menu-ul>li.we-mega-menu-li.dropdown-menu{
	display: block;

	&:after{
		content: "\f107";
		font-family: "Font Awesome 5 Pro";
		display: inline-block;
		font-size: rem(16);
		color: $titleColor;
		position: relative;
		top: 0;
	}
	&:hover{
		&:after{
			content: "\f106";
			color: #0066b3;
		}
	}
}
.we-mega-menu-submenu .we-mega-menu-submenu .subul li.we-mega-menu-li{
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	&:hover{
		transform: translateX(10px);
	}
	&:before{
		content: "\f105";
		font-family: "Font Awesome 5 Pro";
		display: inline-block;
		font-size: rem(14);
		color: $titleColor;
		position: relative;
		top: 0;
	}
}

.menu-secondaire .we-mega-menu-ul>.we-mega-menu-li:hover .we-mega-menu-submenu.submenu:before {
    position: absolute;
    content: "";
    height: 8px;
    background-color: #f4f6fc;
    top: -7px;
    left: 0;
    width: 100%;
}

.navbar-toggler{
	@include media (md){
		display: none;
	}
}
.region-we-mega-menu{
	@include media (md){
		margin-bottom: 0;
	}
}

/*
.region-primary-menu{
	@include media (md){
		padding: 8px 0;
		justify-content: space-between;
		flex-direction: row-reverse;
	}
}
#navbar-top.navbar {
    @include media (md){
		padding: 8px 24px;
		align-items: baseline;
		flex-direction: column-reverse;
		justify-content: space-evenly;
		align-content: space-around;
	}
	.main-menu{
		@include media(md){
			position: absolute;
			right: 0;
			top: 80px;
			margin-right: 16px;
		}
	}
}


*/ 

@media (max-width: 1299px) {
	.menu-secondaire .we-mega-menu-ul>.we-mega-menu-li{
		padding: 0px;
	}
}
@media (max-width: 1199px) {

	.main-menu .we-mega-menu-ul>.we-mega-menu-li>a,
	.we-mega-menu-ul>.we-mega-menu-li>span {
		font-size: 18px;
		padding: 8px;
	}
	.menu-secondaire .navbar-we-mega-menu .nav-tabs{
		width: 100%;
	}
	.menu-secondaire .we-mega-menu-ul>.we-mega-menu-li>a, .we-mega-menu-ul>.we-mega-menu-li>span{
		padding: 8px;
	}

}

@media (max-width: 991px) {

	section.region.region-primary-menu {
		flex-direction: row-reverse;
	}
	.search_blc {
		flex: 1;
	}
	.search_blc .form-actions{
		width: auto;
	}
	.menu-secondaire{
		padding-left: 15px;
	}
	#navbar-main {
		padding: 10px;
	}
	.main-menu .we-mega-menu-submenu li.we-mega-menu-li a,
	.we-mega-menu-submenu li.we-mega-menu-li:first-child>a,
	.we-mega-menu-submenu li.we-mega-menu-li:first-child>span,
	.navbar-we-mega-menu.navbar ul a,
	.navbar-we-mega-menu.navbar ul .we-megamenu-nolink {
		color: #fff;
	}

	.navbar-we-mega-menu.navbar ul a:hover,
	.navbar-we-mega-menu.navbar ul a:focus,
	.navbar-we-mega-menu.navbar ul .we-megamenu-nolink:hover,
	.navbar-we-mega-menu.navbar ul .we-megamenu-nolink:focus {
		color: #36a9d7 !important;
	}
	.navbar-we-mega-menu.navbar .nav-tabs>li.active>a,
	.navbar-we-mega-menu.navbar .nav-tabs>li.active>a:focus,
	.navbar-we-mega-menu.navbar .nav-tabs>li.active>a:hover {
		background-color: transparent;
		border: none;
		box-shadow: none;
		cursor: pointer;
		display: block;
	}

	.main-menu .we-mega-menu-submenu li.we-mega-menu-li .we-mega-menu-submenu {
		display: none;
	}

	.open-submenu {
		display: block !important;
	}
	body.toggled .btn-close {
		z-index: 9999;
		right: 0;
		top: 0;
		border-radius: 0;
		background-color: #37aad8;
	}
	.region-we-mega-menu {
		background-color: #143f6e;
		border-radius: 0;
		padding: 10px 12px;
		display: inline-block;
        float: right;
	}
	.navbar-we-mega-menu .type-of-block {
		display: block;
		padding: 10px;
	}

	.navbar-we-mega-menu.navbar {
		width: 100%;
	}
	.toggled .we-mega-menu-ul,
	.navbar.navbar-we-mega-menu {
		position: fixed;
		background-color: #143f6e;
		top: 0;
		flex-direction: column;
		align-items: flex-start;
		width: 70%;
	}
	.menu-secondaire .we-mega-menu-ul>li.we-mega-menu-li.dropdown-menu:after {
		display: none;
	}
	.navbar-we-mega-menu.navbar ul>li ul{
		flex-direction: column;
		width: 100%;
	}
	.menu-secondaire .submenu>.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>.subul>li.we-mega-menu-li{
		width: 100%;
	}
	.menu-secondaire .we-mega-menu-submenu li.we-mega-menu-li ul li a,
	.we-mega-menu-submenu .we-mega-menu-submenu .subul li.we-mega-menu-li:before{
		color: #fff;
	}
	.navbar-we-mega-menu.navbar .nav-tabs .nav-tabs>li.we-mega-menu-li[data-level="2"]>span{
		display: inline-block;
	}
	.menu-secondaire .submenu>.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>.subul>li.we-mega-menu-li>span, .menu-secondaire .we-mega-menu-li>.we-mega-menu-submenu .firstelem_megamenu>a {
		font-weight: 600;
		color: #fff;
	}
	.toggled .we-mega-menu-ul {
		width: 100%;
		right: 0;
		padding: 60px 10px !important;
	}

	.navbar-we-mega-menu.navbar ul>li {
		float: left;
		width: 100%;
	}

	.navbar-we-mega-menu.navbar .we-mega-menu-ul>li>a,
	.navbar-we-mega-menu.navbar .we-mega-menu-ul>li>.we-megamenu-nolink {
		text-align: left;
		border: none !important;
	}
	.main-menu .submenu>.we-mega-menu-submenu-inner>.we-mega-menu-row>.we-mega-menu-col>.subul>li.we-mega-menu-li {
		width: 100%;
		margin: 0;
		float: left;
		padding: 8px 0;
	}

	.main-menu .we-mega-menu-ul>.we-mega-menu-li>a,
	.we-mega-menu-ul>.we-mega-menu-li>span,
	.main-menu .we-mega-menu-submenu li.we-mega-menu-li ul li a {
		color: #fff !important;
	}

	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu .we-mega-menu-submenu {
		padding-top: 20px;
	}

	.toggled {
		position: relative;
	}

	.toggled:before {
		content: "";
		position: fixed;
		width: 100%;
		background: rgba(0, 0, 0, .6);
		left: 0;
		top: 0;
		height: 100vh;
		z-index: 999;
	}

	.toggled .overlay {
		display: none;
	}
}
@media (max-width: 480px) {
	.navbar-we-mega-menu.navbar ul>li ul {
		padding-left: 20px;
	}

	.toggled .we-mega-menu-ul,
	.navbar.navbar-we-mega-menu {
		width: 100%;
	}

	.main-menu .we-mega-menu-submenu li.we-mega-menu-li a {
		font-size: 16px;
		padding: 3px 0;
	}
	.search_blc .form-row>fieldset {
		padding-right: 15px;
    	padding-left: 0;
	}
	.search_blc button.form-submit {
		width: 30px;
	}
}
