.we-mega-menu-ul span,.we-mega-menu-ul a{
	font-family: $font-arabic;

}
#header {
	.drop-langue {
	  float: left;

  
	  @include media(sm) {
		padding-right: 6px;
		border-right: 1px solid rgba(0, 102, 179, 0.2);
	  }
  
	  ul {
		text-align: right;
	  }
	}
  }
  .blc-assistance {
	.link {
	  .assistance {
		text-align: left;
	  }
	}
	img {
	  margin-left: 8px;
	  margin-right: inherit;
	  @include media(sm) {
		margin-left: 0;
		margin-right: inherit;
		
	  }
	}
	margin-left: 32px;
	margin-right: inherit;
	@include media(sm) {
	  margin-left: 18px;
	  margin-right: inherit;
	}
  }
  .blc-boutique {
	@include media(sm) {
	  margin-left: 18px;
	  margin-right: inherit;
	  padding-right: 18px;
	  border-right: 1px solid rgba(0, 102, 179, 0.2);
	}
	.link {
	  .nos-boutique {

		text-align: left;
  
		padding: 12px 32px 12px 24px;
		
		@include media(sm) { padding: 0;}
	  }

	}
	img {
	  margin-left: 8px;
	  margin-left: 16px;
	  position: relative;
	  top: 5px;
	  margin-right: inherit;
	  @include media(sm) {
		margin-left: 0px;
		margin-right: inherit;
	  }
	}
	margin-left: 38px;
	margin-right: inherit;
  }
  
  .blc-espace {
	.navbar-nav .nav-link {
	  text-align: right;
  
	  padding-right: 36px;
	}
	@include media(sm) {
	  padding-right: 18px;
	  border-right: 1px solid rgba(0, 102, 179, 0.2);

	}
  
	span.nav-link {
	  &:before {
		right: 0px;
		left: inherit;
		background: url(../images/user-ar.png) no-repeat;
	  }
	}
  
	margin-left: 40px;
	margin-right: inherit;
  }
  .dropbutton-widget {
	.dropbutton-toggle {
	  &::after {
		left: 0;
		right: inherit;
	  }
	}
  }
  #navbar-main {
	.nav-link {
	  text-align: right;
  
	  margin: 32px 0 32px 40px;
	}
  
	.navbar-toggler {
	  @include media(sm) {
		margin-left: 8px;
		margin-right: inherit;
	  }
	}
  }
  .topbar-bouton {
	@include media(sm) {
	  left: 16px;
	  right: inherit;
	}
  }
  .logo.navbar-btn {
	@include media(sm) {
	  right: 14px;
	  left: inherit;
	}
  }
  
  /*****************************************************/
  
  .menu-secondaire
	.submenu
	> .we-mega-menu-submenu-inner
	> .we-mega-menu-row
	> .we-mega-menu-col
	> .subul
	> li.we-mega-menu-li {
	float: right;
	margin: 0 0 24px 24px;
  }
  .menu-secondaire ul li {
	margin-left: 15px;
	margin-right: inherit;
  }
  
  .menu-secondaire .we-mega-menu-submenu li.we-mega-menu-li a,
  .we-mega-menu-submenu li.we-mega-menu-li > a,
  .we-mega-menu-submenu li.we-mega-menu-li > span {
	text-align: right;
  }
  
  .menu-secondaire .we-mega-menu-submenu li.we-mega-menu-li ul li a {
	font-size: 15px;
	text-align: right;
  }
  
  .menu-secondaire
	.we-mega-menu-ul
	> .we-mega-menu-li:hover
	.we-mega-menu-submenu.submenu:before {
	right: 0;
	left: inherit;
  }
  
  @media (max-width: 991px) {
	.menu-secondaire {
	  padding-right: 15px;
	}
  
	body.toggled .btn-close {
	  left: 0;
	  right: inherit;
	}
  
	.toggled .we-mega-menu-ul {
	  left: 0;
	  right: inherit;
	  padding: 60px 10px !important;
	}
  
	.navbar-we-mega-menu.navbar ul > li {
	  float: right;
	}
  
	.navbar-we-mega-menu.navbar .we-mega-menu-ul > li > a,
	.navbar-we-mega-menu.navbar .we-mega-menu-ul > li > .we-megamenu-nolink {
	  text-align: right;
	}
	.main-menu
	  .submenu
	  > .we-mega-menu-submenu-inner
	  > .we-mega-menu-row
	  > .we-mega-menu-col
	  > .subul
	  > li.we-mega-menu-li {
	  float: right;
	}
  
	.toggled:before {
	  right: 0;
	  left: inherit;
	}
  }
  @media (max-width: 480px) {
	.navbar-we-mega-menu.navbar ul > li ul {
	  padding-right: 20px;
	}
  
	.search_blc .form-row > fieldset {
	  padding-left: 15px;
	  padding-right: 0;
	}

  }
  