

/* =======================================================================
## ++ Convert px to rem
====> @include rem(20);
========================================================================== */
$browser-context: 16; // Default
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem
  }

/* =======================================================================
## ++ Padding margin
========================================================================== */

$xs : 10px;
$small : 25px;
$medium : 50px;
$large : 75px;
$xlarge : 100px;
$xxlarge: 150px;

@mixin space($type:margin, $direction:all, $amount:$medium){
	@if $type == padding {
		@if $direction == all{
			padding: $amount;
		} @else if $direction == top {
			padding-top:$amount
		} @else if $direction == left {
			padding-left:$amount
		} @else if $direction == right {
			padding-right:$amount
		} @else {
			padding-bottom:$amount
		}
	} @else {
		@if $direction == all{
			margin: $amount;
		} @else if $direction == top {
			margin-top:$amount
		} @else if $direction == left {
			margin-left:$amount
		} @else if $direction == right {
			margin-right:$amount
		} @else {
			margin-bottom:$amount
		}
	}
}

/* =======================================================================
## ++ Prefix
========================================================================== */
@mixin prefix($name, $value) {
    -webkit-#{$name}: $value;
    -moz-#{$name}: $value;
    -ms-#{$name}: $value;
    -o-#{$name}: $value;
    #{$name}: $value;
  }

/* =======================================================================
## ++ Button mixins 
========================================================================== */

@mixin button($primary-color, $color) {
    display: inline-block;
	color: $color;
	padding: 8px 50px;
	border-radius: 41px;
	background-color: $primary-color;
	font-size: 16px;
	font-weight: 600;
	line-height: 2;
	border: 1px solid $primary-color;
    &:hover {
        color: $primary-color;
        background: $color;
        text-decoration: none;
    }
    &:active {
    color: $primary-color;
    background: $color;
    text-decoration: none;
    }
}

/* =======================================================================
## ++ Gardient mixin
========================================================================== */
@mixin background-gradient($start-color, $end-color, $orientation) { 
    background: $start-color;

    @if $orientation == 'vertical' {
      background: -webkit-linear-gradient(top, $start-color, $end-color);
      background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
      background: -webkit-linear-gradient(left, $start-color, $end-color);
      background: linear-gradient(to right, $start-color, $end-color);
    } @else {
      background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
      background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

/* =======================================================================
## ++ Placeholder mixin
========================================================================== */
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
      @content;
    }
  }
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
      @content;
    }
  
    @include optional-at-root(':-moz-placeholder') {
      @content;
    }
  
    @include optional-at-root('::-moz-placeholder') {
      @content;
    }
  
    @include optional-at-root(':-ms-input-placeholder') {
      @content;
    }
  }

/* =======================================================================
## ++ Media query
========================================================================== */

@mixin media ($breakpoint) {

  @if $breakpoint == xxl {
    @media only screen and (max-width: 1320px) { 
      @content;
    }
  }
  
  @if $breakpoint == xl {
    @media only screen and (max-width: 1200px) { 
      @content;
    }
  }
  @if $breakpoint == md {
        @media only screen and (max-width: 991px) {
            @content;
        }
  }
  
  @if $breakpoint == sm {    
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
 
  @if $breakpoint == xs {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

}
/* =======================================================================
## ++ arrow right 
========================================================================== */
@mixin arrow-right ($color) {
  @if $color == 'white' {
    background-image: url(../images/arrow-right-white.png);
  } @else {
    background-image: url(../images/arrow-right.png);
  }
  content: "";
  background-repeat: no-repeat;
  width: 25px;
  height: 12px;
  display: inline-block;
  margin-left: 10px;
}

@mixin arrow-left ($color) {
  @if $color == 'white' {
    background-image: url(../images/arrow-right-white-ar.png);
  } @else {
    background-image: url(../images/arrow-right-ar.png);
  }
  content: "";
  background-repeat: no-repeat;
  width: 25px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
}