/****** Font ******/
$font: "Poppins", sans-serif !important;

$font-arabic: 'Droid Arabic Kufi';


/*
 * Droid Arabic Kufi (Arabic) 
 */
 
 @font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/DroidKufi-Regular.woff2) format('woff2'),
         url(../fonts/DroidKufi-Regular.woff) format('woff'),
         url(../fonts/DroidKufi-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DroidKufi-Bold.eot);
    src: url(../fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/DroidKufi-Bold.woff2) format('woff2'),
         url(../fonts/DroidKufi-Bold.woff) format('woff'),
         url(../fonts/DroidKufi-Bold.ttf) format('truetype');
  }
  

/****** Size police ******/
$textSize: 14px;
$sizeH1: 48px;
$sizeH2: 32px;
$sizeH3: 24px;
$sizeH4: 20px;
$sizeH5: 16px;

/****** Size global ******/
$size-1: 18px;
$size-2: 22px;
$size-3: 26px;
$size-4: 30px;

/****** Color principal site ******/
$primaryColor : #0f68b1;
$secondaryColor : #faaf4b;
$titleColor: #282938;
$textColor: #1d1d1d;
$linkColor: #0066b3;
$blueV2: #143f6e;
$blueGray: #e8f1f7;


/******** Btn colors ***********/
$btnGreen: #22a79d;
$btnBlueCiel: #2fabdf;
$btnBlue: #0f68b1;
$btnOrange: #faaf4b;

/******** Bg Color *************/
$bgGrayColor: #f5f7fc;



/*** Colors globals ***/
$black : #000000;
$silver : #c0c0c0;
$gray : #9da9b4;
$white : #ffffff;
$red : #ff0000;
$green: #22a79d;
$vertPistache: #8dc548;
$blue: #0f68b1;
$blueCiel: #2fabdf;
$yellow: #ffff00;
$orange: #faaf4b;


/****** media query List ******/
$breakpoints: (
    "mobile":  480px,
    "tablet":  768px,
    "laptops": 992px,
    "desktop": 1200px,
    "large-desktop": 1800px
);
