#geomap{
    width: 100%;
    height: 600px;
}
.test-eligibility{
    padding: 72px 0;
}
.test-eligibility .header-page{
    text-align: center;
}
.test-eligibility .header-page .title_eligibility{
    color: #0066b3;
    font-weight: 700;
    font-size: 28px;
}
.test-eligibility .header-page .subtitle_eligibility{
    margin-bottom: 24px;
}
.test-eligibility .header-page .txt_eligibility{
    opacity: 0.87;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.78;
    color: #282938;
    margin: 16px auto 62px auto;
}
.test-eligibility .form-section {
    background: #fff;
    width: 35%;
    position: absolute;
    z-index: 9;
    top: 15%;
    left: 5%;
    border-radius: 16px;
}
.test-eligibility  .info-title{
    margin-bottom: 0;
    font-weight: 600;
}
.test-eligibility .header-info {
    padding: 24px;
    border-bottom: 2px solid #f1f1f1;
}
.test-eligibility .body-info {
    padding: 24px;
}
.test-eligibility .body-info .item span {
    font-weight: 500;
    color: #143f6e;
    display: block;
    margin-bottom: 16px;
}
.test-eligibility .body-info .item input {
    border-radius: 32px;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    height: 48px;
    padding: 16px;
    color: #000;
    width: 100%;
    margin-bottom: 16px;
}
.test-eligibility .body-info .get_map{
        display: inline-block;
    width: 100%;
    margin-top: 16px;
}
.test-eligibility .section-map #search_location{
    height: 3.5rem;
    padding: 1rem 0.875rem;
    border-radius: 0.1875rem;
    border: solid 1px #143f6e47;
    background-color: #fff;
    width: 100%;
    margin-bottom: 8px;
}
.test-eligibility  .section-map .form-group .select2{
    flex: 1;
}
.test-eligibility  .section-map .select2-selection{
    border-radius: 32px;
    border: solid 1px #e4e4e4;
    background-color: #fff;
    height: 48px;
    padding: 0 34px 0 8px;
    color: #1d1d1d;
}
.test-eligibility  .section-map>.form-group{
    margin-bottom: 32px;
}
.test-eligibility  .section-map .select2-selection #select2-adresses-container{
    line-height: 48px;
    text-align: left;
}
.test-eligibility  .section-map .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto;
    top: 50%;
    right: 1%;
}
.test-eligibility  .section-map .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #1d1d1d transparent transparent transparent !important;
}
.test-eligibility  .section-map .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #1d1d1d transparent !important;
}
.test-eligibility  .section-map .input-group-btn{
    text-align: center;
}
.test-eligibility  .section-map .message_eligibility {
    text-align: center;
}
.test-eligibility  .section-map .message_eligibility .success{
    color: green;
    background: #f4f6fc;
    min-height: 100px;
    padding: 48px 0;
    margin: 32px 0;
    border-radius: 32px;
    font-size: 28px;
    font-weight: 600;
    border: solid 1px #dbdce1;
    display: block;
}
.test-eligibility  .section-map .message_eligibility .echec{
    color: #ff0000;
    background: #f4f6fc;
    min-height: 100px;
    padding: 48px 0;
    margin: 32px 0;
    border-radius: 32px;
    font-size: 28px;
    font-weight: 600;
    border: solid 1px #dbdce1;
    display: block;
}
.test-eligibility .lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    display: none;
  }
  .test-eligibility .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 5% auto;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .test-eligibility .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.8);
      z-index: 999;
      opacity: 1;
      transition: all 0.5s;
  }
 .test-eligibility .bouton-blue:hover .lds-dual-ring:after{
    border-color: #0f68b1;
    border-color: #0f68b1 transparent #0f68b1 transparent;
  }